*error_log
*.log
log
.env
.ht*
composer.phar
/vendor/
/var/cache/*
/var/deleted_files/*
/var/logs/*
/var/sessions/*
/var/uploads/*
/public/images/*

/* Old files awaiting refactoring *
/*.php
/*.htm
/*.css
/*.js
/bin
/forums
/music
/ninadmin
/pages
/posts
