*error_log
*.log
log
.env
.ht*
/node_modules/
composer.phar
/vendor/
/var/cache/*
/var/deleted_files/*
/var/logs/*
/var/sessions/*
/var/uploads/*
/public/images/[0-9]*
/node_modules/

/* Old files awaiting refactoring *
/refactor
/forums
/music
/ninadmin
/pages
/posts
