<Files 403.shtml>
order allow,deny
allow from all
</Files>

Options -Indexes

ErrorDocument 400 /404.php
ErrorDocument 401 /404.php
ErrorDocument 403 /404.php
ErrorDocument 404 /404.php
ErrorDocument 500 /404.php

AddOutputFilterByType DEFLATE text/html text/plain text/xml text/javascript text/css application/javascript

Options +FollowSymLinks
RewriteEngine on
RewriteRule ^~([^/]*)/?(.*)?$ /user_handler.php?username=$1&path=$2 [QSA,L]
RewriteRule ^(news|posts|blogs|sblogs)/([0-9]{4}.*)$ /posts/handle.php?category=$1&path=$2 [QSA,L]
RewriteRule ^(news|posts|blogs|sblogs)/topics/?(.*)?$ /posts/tags.php?category=$1&path=$2 [QSA,L]
RewriteRule ^s([0-9]*)/?$ /posts/handle.php?nid=$1 [QSA,L]
RewriteRule ^sblog/?([0-9]*)?/?(.*)?$ /posts/handle.php?nid=$1 [QSA,L]
RewriteRule ^image/(.*)?$ /image.php [QSA,L]
RewriteRule ^groups/(.*)?$ /groups.php?path=$1 [QSA,L]
RewriteRule ^badges/([a-zA-Z0-9-_]*)/?([0-9]*)?/?(.*)?$ /badges.php?username=$1&bid=$2 [QSA,L]
RewriteRule ^(games|people|categories|topics|content|characters|consoles|developers|series|concepts)(.*)$ /pages/handle.php?via=script_url [QSA,L]
RewriteRule api/(.*)$ /api.php?request=$1 [QSA,NC,L]
RewriteRule ^formatting-help$ /formattinghelp.php [QSA,L]