
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

#user-profile-header { height:50px; border-bottom:2px solid RGBA(0,0,0,.2); }
#user-profile-header h1 { float:left; margin:0; padding:0; font:100 40px/50px Lato, Arial, sans-serif; }
#user-profile-header h1.condensed { font-size:33px; letter-spacing:-1px; }
#user-profile-header h1.ultracondensed { font-size:25px; letter-spacing:-1px; }

#user-profile-header nav { height:30px; margin:20px 0 0; float:right; }
#user-profile-header nav ul { margin:0; padding:0; list-style:none; }
#user-profile-header nav li { margin:0; padding:0; float:left; }
#user-profile-header nav li + li { margin:0 0 0 20px; }
#user-profile-header nav a { display:block; text-decoration:none; font:600 12px/30px Lato,Arial,sans-serif; color:#AAA; }
#user-profile-header nav a:hover { color:#39F; border-bottom:2px solid #39F; }
#user-profile-header nav li.on a { border-bottom:2px solid black !important; color:black !important; }

#user-profile-container { margin:30px 0; }

/* STREAM */

#user-profile.stream #user-profile-container {
	position:relative;
	min-height:750px;
	margin:0 auto; padding:0;
	font-family:"Lato", "Helvetica Neue", Helvetica, Arial, sans-serif !important; font-size:13px; color:#333;
}
.userstream { visibility:hidden; width:740px; overflow:hidden; float:right; margin-right:-25px; }
.userstream > div { padding-bottom:20px; border-bottom:1px solid RGBA(190,190,190,.6); }
.userstream > div + div { padding-top:20px; border-top:1px solid RGBA(255,255,255,.6); }
.userstream .streamitem {
	margin:23px 23px; padding:0;
	width:200px; overflow:visible !important;
	float:left;
}
.userstream #load-more { position:absolute; right:0; bottom:5px; font-weight:bold; font-size:110%; }
.userstream + .loading { position:absolute; top:100px; left:50%; margin:0 0 0 -95px; padding:0 0 0 25px; font-size:14px; font-weight:bold; background:url("/bin/img/loading_ball.gif") no-repeat left center; }
.userstream .streamitem a { font-weight:bold; text-decoration:none; }
.userstream .streamitem.nohov a { color:#666; }
.userstream .streamitem b { color:black; font-weight:900; }
.userstream .streamitem big { font-size:15px; line-height:20px; }
.userstream .streamitem > .img { width:200px; overflow:hidden; }
.userstream .streamitem > .img img { max-width:100%; }
.userstream .description { background-color:white; padding:8px 15px; position:relative; }
.userstream .description blockquote { position:relative; display:block; margin:0; padding:0; color:#888; }
.userstream .pt { position:absolute; z-index:2; top:-7px; left:15px; width:19px; height:7px; background:url("/bin/img/bubble_sprites.png") no-repeat 0 0; margin:0 0 0 -2px; }
.userstream .description > .pt { display:none; }
.userstream .streamitem > .img + .description > .pt { display:block; background-position:-20px 0; }
.userstream .streamitem > .overlay { width:219px; height:27px; position:absolute; z-index:1; left:-9px; bottom:-15px; background-image:url("/bin/img/pagefold_200.png"); }

.userstream .fan {}
.userstream .fan.love {}
.userstream .fan.hate {}
.userstream .fan .description blockquote { margin:8px -15px -8px; padding:8px 15px 8px; color:white; background:#888 url("/bin/img/quote_sm.png") no-repeat -1px 7px; }
.userstream .fan .description blockquote .pt { display:none; }
.userstream .fan .description .op-sm { display:block; width:14px; height:14px; float:right; margin:1px -6px 0 5px; background-image:url("/bin/img/pgop_sprites.png"); opacity:.6; }
.userstream .fan.love .description .op-sm { background-position:0 0; }
.userstream .fan.love.hov .description .op-sm { background-position:0 -30px; opacity:1; }
.userstream .fan.hate .description .op-sm { background-position:-30px 0; }
.userstream .fan.hate.hov .description .op-sm { background-position:-30px -30px; opacity:1; }

.userstream .fan.album .img a { display:block; width:140px; height:130px; position:relative; margin:0 auto 10px; background-color:#555; box-shadow:1px 1px 3px rgba(0,0,0,.7); }
.userstream .fan.album .img .container { width:140px; height:130px; overflow:hidden; position:relative; }
.userstream .fan.album img { position:absolute; top:50%; }
.userstream .fan.album .img .overlay { display:block; width:141px; height:134px; position:absolute; z-index:1; top:-3px; left:0; background-image:url("/bin/img/jewelcase.png"); }
.userstream .fan.album .description i { font-style:normal; }
.userstream .fan.album .description > .pt { left:30px; }

.userstream .badge {}
.userstream .badge > .img { width:140px; margin:0 auto; }
.userstream .badge .description { text-align:center; margin-top:5px; padding:15px 20px; }
.userstream .badge .description .pt { left:93px; }

.userstream .patronsaint { background-color:#F5F5F5 !important; }
.userstream .patronsaint .description { padding:20px 15px; }
.userstream .patronsaint > :first-child:before { content:''; position:absolute; z-index:1; top:-24px; left:-34px; width:102px; height:60px; background:url("/bin/img/halo_corner.png"); }

.userstream .shelf {}
.userstream .shelf .shelf-item { margin-left:13px !important; }
.userstream .shelf .pf { display:block; margin-top:5px; color:#888; }
.userstream .shelf .shelf-container { top:auto !important; bottom:-10px !important; }

#userinfo { width:200px; position:absolute; left:0; top:60px; }
#userinfo .userstatus { left:32px; }
#userinfo .useravatarcontainer { position:relative; width:144px; height:144px; margin:0 auto; }
#userinfo .useravatarcontainer .overlay { display:block; width:272px; height:296px; position:absolute; z-index:3; top:-77px; left:-64px; background-image:url("/bin/img/frame_135x144.png"); }
#userinfo .container { background-color:#F5F5F5; margin:50px 0 0; padding:15px; box-shadow:1px 1px 1px #CCC; }
#userinfo .container dl { margin:0; padding:0; }
#userinfo .container dl dd { margin:8px 0 0; padding:8px 0 0; border-top:1px solid #DDD; }
#userinfo .container dl dd:first-child { margin-top:0; padding-top:0; border-top-width:0; }
#userinfo .container dl .bio { text-indent:32px; background:url("bin/img/blockquote.png") no-repeat 0 0; }
#userinfo .buttons a { display:inline-block; font-size:110%; line-height:12px; margin:2px 0; }
#userinfo .buttons a + a { margin-left:6px; padding-left:6px; border-left:1px solid #DDD; }
#userinfo .rolodex { width:202px; height:128px; overflow:auto; margin:20px -1px; background:url("/bin/img/rolodex_card_200.png") no-repeat 0 0; }
#userinfo .rolodex dl { margin:0; padding:5px 5px 5px 15px; }
#userinfo .rolodex dl dt { float:left; margin:0; padding:5px 0 0; color:#888; }
#userinfo .rolodex dl dd { margin:0 0 0 60px; padding:5px 0 0; font-weight:900; }

.score dl { margin:0; padding:0; font:14px/26px Arial,sans-serif; }
.score dt {
	width:75px;
	margin:0 0 5px; padding:0 5px;
	float:left; clear:left;
	font-weight:bold; color:white; text-align:center;
	background-color:black;
	border-radius:2px; box-shadow:1px 1px 1px #CCC;
}
.score dd { margin:0 0 5px 95px; padding:0; color:#666; }
.score dd b { color:black; }

/* Fan Space */

#user-profile .chart { height:12px; padding:3px; border-radius:20px; background-color:rgba(0,0,0,.08); box-shadow:1px 1px 2px rgba(0,0,0,.15) inset; border-width:0 1px 1px 0; border-style:solid; border-color:rgba(255,255,255,.6); }
#user-profile .chart .container { position:relative; margin:-1px 0 0; }
#user-profile .chart .op { width:14px; height:14px; position:absolute; z-index:1; background-image:url("/bin/img/pgop_sprites.png"); }
#user-profile .chart .bar { display:inline-block; height:12px; background:-moz-linear-gradient(top, rgba(255,255,255,.15), rgba(0,0,0,.15)); background:-webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,.15)), to(rgba(0,0,0,.15))); }
#user-profile .chart .bar:first-of-type { border-top-left-radius:20px; border-bottom-left-radius:20px; }
#user-profile .chart .bar:last-of-type { border-top-right-radius:20px; border-bottom-right-radius:20px; }

#lhchart { width:200px; margin:0 23px; float:left; }
#lhchart .bar {}
#lhchart .love { left:-23px; background-position:0 -30px; }
#lhchart .hate { right:-23px; background-position:-30px -30px; }
#lhchart .love + .bar { background-color:#db2b00; }
#lhchart .hate + .bar { background-color:#4052c1; }

#typechart { margin-left:300px; }

#fantable { margin:30px 0 0; border-bottom:1px solid #CCC; }
#fantable th { padding:10px 14px; border-bottom:2px solid #CCC; }
#fantable td { padding:10px 14px; font-size:14px; border-left:1px solid #DDD; border-bottom:1px solid #CCC; }
#fantable .title { min-width:30%; border-left-width:0; padding-left:20px; }
#fantable .op { display:block; float:left; width:14px; height:14px; overflow:hidden; margin:2px 0 0 -20px; text-indent:20px; background:url("/bin/img/pgop_sprites.png") no-repeat 0 -30px; }
#fantable .op.hate { background-position:-30px -30px; }
#fantable .remarks {}
#fantable .remarks blockquote { margin:0; padding:0; }
#fantable .remarks blockquote .quotes { display:block; float:left; width:12px; height:9px; margin:4px 5px 0 0; background:url("/bin/img/quote_sm.png") no-repeat 0 0; opacity:.4; }
#fantable td.added { padding-right:0; white-space:nowrap; }
#fantable tr:hover td { border-bottom:2px solid #666; padding-bottom:9px; }

/* Collection */

#user-collection {}
#user-collection nav { display:block; margin:0 0 20px; }
#user-collection nav form input[type="text"], #user-collection nav form textarea { border-width:0; padding:4px 5px; border-radius:0; background-color:white; }
#user-collection nav .nav-top { height:20px; }
#user-collection nav .nav-top .controls { float:right; }
#user-collection nav .nav-top .controls button { font-weight:bold; }
#user-collection nav .nav-top .console { display:none; width:350px; height:16px; overflow:hidden; padding:5px 10px; background-color:black; font-size:14px; font-family:"Consolas", monospace; color:lime; line-height:16px; }
#user-collection nav .nav-top .console p { margin:0; }
#user-collection nav .nav-top .console p + p { margin:20px 0 0; }
#user-collection nav .nav-top > span { display:inline-block; line-height:16px; color:#666; }
#user-collection nav .fauxselect { padding:2px 5px; background-color:rgba(0,0,0,.1); }
#user-collection nav .fauxselect:hover { background-color:rgba(0,0,0,.15); }
#user-collection nav .fauxselect b { font-weight:normal; color:black; }
#user-collection nav .details.set { display:none; width:290px; margin-top:10px; padding:10px; border:1px solid #CCC; }
#user-collection nav .details:not(.set) { visibility:hidden; position:absolute; }
#user-collection nav .details.open { display:block; }
#user-collection nav .details > div + div { margin:10px 0 0; }
#user-collection nav .ttip { padding:2px 5px; border:1px solid #CCC; background-color:white; box-shadow:1px 1px 2px rgba(0,0,0,.1); }
#user-collection nav ul.chboxlist { margin:0; padding:0; list-style:none; }
#user-collection nav ul.chboxlist li:nth-child(odd) { margin:0; padding:0; float:left; clear:left; }
#user-collection nav ul.chboxlist li:nth-child(even) { margin:0 0 0 50%; padding:0; }
#user-collection nav ul.chboxlist b { font-weight:normal; }
#user-collection nav ul.chboxlist input[type="checkbox"]:checked + b { font-weight:bold; }
#collection-nav-query { margin-right:10px; }
#collection-nav-query input { width:100%; }
#collection-nav-completion { height:40px !important; }
#collection-nav-completion .slider { background-color:rgba(0,0,0,.1) !important; }
#collection-nav-condition { padding-top:2px; }
#user-collection > .container { position:absolute; left:0; right:0; }
#user-collection > .container > .container { width:940px; margin:0 auto; }

#collection-add { display:none; background-color:rgba(0,0,0,.85); }
#collection-add .rm { top:30px; right:30px; }
#collection-add > .container { width:612px; height:478px; position:absolute; top:50%; left:50%; margin:-232px 0 0 -306px; background:url("/bin/img/collection_addgame_bg.png"); border:5px solid black; }
#collection-add form { width:260px; height:34px; overflow:hidden; position:absolute; top:85px; left:191px; }
#collection-add input[type="text"] { width:230px; position:absolute; top:9px; left:0; margin:0; padding:0; text-indent:9px; border-width:0; background-color:transparent; color:white; font-size:14px; outline:none; }
#collection-add .acloading { width:16px; height:32px; overflow:hidden; position:absolute; top:0; right:0; background:url("/bin/img/icons/sprites/sconce_big_sprite.gif") no-repeat -16px 0; }
#collection-add input[type="text"].ui-autocomplete-loading + .acloading { background-position:0 0 !important; }
#collection-add button { position:absolute; top:300px; right:-300px; }
#collection-add-results { position:absolute; width:484px; height:205px; top:204px; left:64px; }
#collection-add-results .ui-autocomplete {
	position:static !important;
	width:100% !important; height:100%; overflow:auto;
	border-radius:0; box-shadow:none;
	background-color:transparent;
}
#collection-add-results .ui-autocomplete li { border-color:#222; }
#collection-add-results .ui-autocomplete dfn { color:white; }
#collection-add-results .ui-autocomplete small { color:#666; }

#collection-edit { display:none; position:fixed; z-index:102; left:4%; bottom:0; width:300px; padding:5px 20px; background-color:rgba(0,0,0,.9); box-shadow:1px 1px 5px rgba(0,0,0,.8); }
#collection-edit.drophover { background-color:#39F; }
#collection-edit p { margin:5px 0; font-size:110%; color:white; }
#collection-edit .remove-img { width:64px; height:64px; position:absolute; right:20px; bottom:9px; background:url("/bin/img/icons/sprites/oildrum.gif") no-repeat left bottom; }
#collection-edit.drophover .remove-img, #collection-edit .remove-img.active, #collection-edit:hover .remove-img { height:128px; }

#collection-shelf-items { margin:0 -12px 0 0; padding:0 0 0 12px; position:relative; }
#collection-shelf-items.sortable .shelf-item { cursor:move; }
#collection-shelf-items.sortable .shelf-item * { cursor:move; }
#collection-shelf-items #load-more { position:absolute; right:12px; bottom:-25px; font-weight:bold; font-size:110%; }

#pgop-form-collection { display:none; position:absolute; z-index:105; max-height:420px; overflow:auto; padding:22px; background-color:white; border:3px solid white; box-shadow:1px 1px 3px rgba(0,0,0,.3); }
#pgop-form-collection h6 { display:block !important; }

#collection-rm { display:none !important; }


/*


h3 { margin:2em 0 .5em; padding:.5em 0 0; background:url("/bin/img/dotline_x.png") repeat-x center top; font-size:17px; }

UL#since { margin:0; padding:0; }
UL#since LI {
	margin: 0 0 5px 0;
	padding: 0;
	list-style: none;
}
UL#since .handle { font-size:20px; color:#888; }
UL#since .since SPAN { color: #AAA; }

LI.buttons {
	margin-top: 14px !important; }
A.button {
	display:block;
	float:left;
	margin:0 6px 0 0; padding:2px 6px;
	border:1px solid #CCC; border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px;
	font-size:110%;
	text-decoration:none;
	background-image:none !important; background-position:6px 50%; background-repeat:no-repeat;
}
A.button:HOVER { border-color:#39F; }

.rolodex {
	display:relative;
	width:356px; height:225px; overflow:auto;
	margin:0 0 10px;
	background:url(/bin/img/rolodex_card.png);
}
.rolodex dl {
	display;absolute;
	margin:0; padding:15px 20px;
	font-size:13px; font-family:monospace;
}
.rolodex dt {
	width:70px;
	float:left;
	padding:5px 10px 5px 0;
	border-top:1px solid #DDD;
	color:#888; text-align:right;
}
.rolodex dd {
	margin:0 0 0 80px;
	padding:5px 0;
	border-top:1px solid #DDD;
}
.rolodex dd + dd { padding-top:0; border-width:0 !important; }
.rolodex dl .top { border-width:0 !important; }
#bio { margin:10px 0 0; min-height:30px; }
#bio span {
	float:left;
	display:block;
	padding:10px;
	background-color:white;
	border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;
}
#bio blockquote {
	margin:0 0 0 60px;
	line-height:1.5em;
	font:italic 40px Georgia; color:#888;
	opacity:.5;
	text-shadow:-1px 0 rgba(0, 0, 0, 0.1), 0 -1px rgba(0, 0, 0, 0.1), 1px 0 rgba(255, 255, 255, 0.1), 0 1px rgba(255, 255, 255, 0.1), -1px -1px rgba(0, 0, 0, 0.1), 1px 1px rgba(255, 255, 255, 0.1);
}

#pslist {
	position:relative;
	padding:15px 20px;
	border:1px solid #CCC; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;
}
#pslist .halo { position:absolute; top:-24px; left:-34px; width:102px; height:60px; background:url(/bin/img/halo_corner.png); }
#pslist h5 { margin:0 0 5px; padding:0; font-size:15px; font-weight:normal; color:#888; }
#pslist ul { margin:0; padding:0; list-style:none; }
#pslist li { margin:5px 0; padding:0 0 0 12px; background:url(/bin/img/bullet.png) no-repeat 2px 5px; }

ul.albumcoll { margin:0; padding:0; list-style:none; }
.albumcoll li { margin:0; padding:0; float:left; }
.albumcoll a {
	display:block;
	width:140px; height:120px; overflow:hidden;
	margin:2px 11px 11px 2px;
	border-width:0 1px 1px 0; border-style:solid; border-color:#CCC;
	background-color:white;
}
.albumcoll a:hover { margin:0 10px 10px 0; border:2px solid black; }
.albumcoll .more a { background-color:transparent; text-decoration:none; font-weight:bold; font-size:19px; text-align:center; color:#AAA; }
.albumcoll a span { display:block; padding:31px 0; }

.none { color:#888; font-style:italic; }

#fanspace { margin:2em 0 0; }
#fanspace h3 { margin-top:0; }
#fanspace > div { position:relative; }
#fanspace div.col { width:460px; margin-left:480px; }
#fanspace div.col:first-child { margin:0; float:left; }
#fanspace .frame { overflow:hidden; position:relative; }
#fanspace .container { position:absolute; }
#fanspace ul { margin:0; padding:0; list-style:none; position:relative; }
#fanspace ul li { width:220px; margin:0; padding:0; position:absolute; }
#fanspace figure { display:block; width:140px; margin:0; padding:0; }
#fanspace a { display:block; text-decoration:none; }
#fanspace a:hover figcaption { visibility:visible; }
#fanspace a:hover figcaption .remarks { visibility:visible; }
#fanspace .tn { position:absolute; z-index:3; top:0; left:0; }
#fanspace .tn img { width:140px; }
#fanspace .tn + figcaption { visibility:hidden; position:absolute; z-index:4; top:0; right:0; bottom:0; left:0; }
#fanspace figcaption { padding:15px 20px; font-size:15px; color:black; background:RGBA(255,255,255,.95); box-shadow:#DDD 0 0 35px inset; line-height:17px; border:1px solid #DBDBDB; }
#fanspace figcaption .remarks { visibility:hidden; position:absolute; z-index:5; left:0; margin:22px 0 0 0; background-color:black; padding:5px 8px; font-weight:bold; font-size:11px; color:white; max-width:140px; box-shadow:0 0 2px -1px black; }
#fanspace .remarks .pt { position:absolute; top:-5px; left:50%; margin-left:-5px; width:10px; height:5px; background:url("/bin/img/speech_point_black_up.png") no-repeat center top; }
#fanspace .op { display:none; position:absolute; z-index:5; top:5px; right:5px; width:14px; height:14px; background:url("/bin/img/pgop_sprites.png") no-repeat 0 0; }
#fanspace .op.love { background-position:0 -30px; }
#fanspace .op.hate { background-position:-30px -30px; }
#fanspace .overlay { display:none;  }
#fanspace nav { position:absolute; top:0; left:0; width:100%; }
#fanspace nav ol { margin:0; padding:0; list-style:none; }
#fanspace nav ol li { margin:0; padding:0; display:inline-block; }
#fanspace nav ol.pgn { float:right; margin:8px -5px 0 0; }
#fanspace nav ol.pgn li a { display:block; width:20px; height:20px; overflow:hidden; text-indent:-500px; background:url("/bin/img/sprites_nav.png") no-repeat 5px -25px; opacity:.2; }
#fanspace nav ol.pgn li a:hover { opacity:.6; }
#fanspace nav ol.pgn li.on a { opacity:1 !important; }*/