
H1 { margin:0; padding:0; font:normal 60px Georgia, 'Bitstream Vera Serif', 'Times New Roman', serif; color:black; text-shadow:none; }
.viewmode .uncontained H1:before { content:attr(title); position:absolute; opacity:.5; text-shadow:1px 1px 1px black; }
H2 { margin:5px 0 0; padding:0; border-width:0; font-size:18px; font-weight:normal; color:#777; }

#bodywrap { padding:0 !important; }

.pgsec > .container { padding:0; }

#pgsecbuff { display:none; }

#pgwrap { /* contains page bg img */
	padding:180px 0 0;
	background-position:right 28px; background-repeat:no-repeat;
}
.pgcontainer { width:940px; margin:0 auto; }

#head { left:50%; width:940px !important; min-width:940px !important; margin-left:-470px !important; }
#head .bgimg { display:none; }

#colophon { display:none; }

#twitter_div { display:none; }

#foot { padding-left:0 !important; padding-right:0 !important; }
#foot .container { width:940px !important; margin:0 auto; }

#pghead {
	position:relative; z-index:1; /* overlapping of person pic */
}
#pghead .contained { position:absolute; z-index:2; top:10px; left:-10px; }
#pghead .contained h1 {
	float:left;
	margin:0 300px 0 0; padding:6px 10px;
	font-family:arial !important;
	font-size:30px !important;
	font-weight:bold !important;
	background-color:#DADADA;
}
#pghead .contained h2 {
	float:left; clear:left;
	margin:0 300px 0 0; padding:6px 10px;
	font-family:arial !important;
	font-size:12px !important;
	font-weight:normal !important;
	color:#666;
	background-color:white;
}
#pghead.off .contained h2 a { color:black; text-decoration:none; }

#hdimg { position:relative; z-index:1; }
#hdimg .pgfsh { position:absolute; bottom:-15px; left:-9px; }

#pgops { position:absolute; z-index:1; top:-40px; left:0; }
#pgops UL { margin:0; padding:0; list-style:none; }
#pgops LI { float:left; margin:0; padding:0; }
#pgops A {
	display:block;
	margin:4px 6px 0 0; padding:7px;
	background:url(/bin/img/gradient_fc_50.png) repeat-x left bottom;
	border-radius:20px; -moz-border-radius:20px; -webkit-border-radius:20px;
	box-shadow:0 0 10px #DDD; -moz-box-shadow:0 0 10px #DDD; -webkit-box-shadow:0 0 10px #DDD;
}
#pgops A:HOVER {}
#pgops A:HOVER SPAN { background-position:0 -14px; }
#pgops A SPAN { display:block; width:14px; height:14px; overflow:hidden; text-indent:-500px; }
.editmode #pgops A { background-color:#e7eae3; }
#pgops A.on { background-position:0 0 !important; }
#pgops A.on:HOVER span { background-position:0 0 !important; }
#pgops A.on SPAN { background-position:0 -14px; }
#pgops a span.loading { display:none; background:url(/bin/img/loading_pgop.gif) no-repeat center center !important; }
#pgops a.loading span:first-child { display:none; }
#pgops a.loading span.loading { display:block; }
#pgops .fc { position:relative; }
/*#pgops .pt { position:absolute; bottom:-3px; left:12px; width:8px; height:4px; background:url(/bin/img/pgop_pt.png); }
#pgops .fc A:HOVER + .pt { background-position:0 -4px; }
#pgops .fc A.on + .pt { background-position:0 -8px; }
#pgops .fc A.on:HOVER + .pt { background-position:0 -12px; }*/
/*#pgops {
	float:left;
	width:76px; height:150px;
	margin:40px 0 0 -76px;
}
#pgops UL { margin:0; padding:0; list-style:none; }
#pgops LI { margin:0; padding:0; }
#pgops A {
	display:block;
	width:76px; height:76px;
	margin:0 0 -18px;
	background-position:0 0;
	text-indent:-500px;
	overflow:hidden;
	opacity:.8;
}
#pgops A:HOVER, #pgops .on A { background-position:0 -76px; opacity:1; }*/

.overview H3 { margin:2em 0 .5em; font-size:17px; color:#333; }
.overview H4 { margin:10px 0 3px; }
.overview H3 + H4 { margin:0 0 3px; }
.overview H5 { margin:2em 0 1em; font-weight:bold; font-size:16px; }

/*.overview A.edit {
	float:right;
	display:block;
	padding:1px 5px;
	text-decoration:none;
	background-color:#F5F5F5;
	border:1px solid #DDD; border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px;
}
.overview A.edit:HOVER { border-color:#39F; }*/

#pgwrap .liquid3 {}
#pgwrap .liquid2 { margin:0 320px 0 0; }
#pgwrap .liquid1 { width:300px; float:left; }
#pgwrap .liquid2r { margin:0 0 0 320px; }
#pgwrap .liquid1r { width:300px; float:right; clear:right; }

.pgnote {
	float:left;
	margin:-15px 0 20px 20px; padding:5px 10px;
	color:#666;
	border:1px solid #CCC; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;
	background-color:#EEE;
}

#pgbody { margin-top:40px; }

#repimg { margin:0 0 40px; }
.pgt-person #repimg { margin:-40px 0 0; }

.editmode #il-rep_image { width:200px; padding:20px; }

.profpic {
	position:relative; z-index:0;
	width:298px !important; height:324px;
	margin-left:-30px; padding:0 !important;
}
.profpic SPAN {
	position: absolute;
	width: 298px;
	height: 324px;
	background: url(/bin/img/frame_150x175.png) no-repeat 0 0;
}
.profpic IMG {
	margin: 75px 0 0 74px;
}
.editmode .profpic { margin-left:0; }

#repimg A {
	display:block;
	width:200px;
	overflow:hidden;
	text-indent:200px;
	background-color:white; background-repeat:no-repeat; background-position:0 0;
	border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px;
	box-shadow:0 1px 4px #333; -moz-box-shadow:0 1px 4px #333; -webkit-box-shadow:0 1px 4px #333;
}

#repimg .noimage { display:block; width:200px; padding:1em; font-size:120%; }

.editmode #repimg { margin-top:0 !important; }
.editmode #repimage .il { float:left; padding:20px; }

#pgcont { float:left; width:620px; line-height:1.6em; }
#pgcont P,
#pgcont P > UL { line-height:1.5em; margin:0.4em 0 1em; }
#pgcont P:first-child { margin-top:0; }
#pgcont BIG { font-size:18px; }
#pgcont A.pglink { text-decoration:none; }
#pgcont A.pglink:HOVER { text-decoration:underline; }
#pgcont H5 + *, #pgcont H6 + * { margin-top:0; }
#pgcont H5 { margin-bottom:4px; padding-bottom:1px; font-size:17px; }
#pgcont H6 { margin:8px 2px; font-size:15px; font-weight:bold; }
#pgcont BLOCKQUOTE { margin:0 0 0 -20px; padding:0 0 0 20px; font-size:110%; font-style:italic; color:#666; background:url(/bin/img/quote_sm.png) no-repeat 0 6px; }
#pgcont SMALL { font-size:11px; }
#pgcont dl { margin:0 0 0; line-height:normal; }
#pgcont dt { margin:1em 0 0; font-weight:bold; font-size:110%; color:#777; }
#pgcont dd { margin:.2em 0 0; }

#pgcont .gallery { clear:both; line-height:1em !important; margin:20px 0 0; }

#pgcont .sources { clear:left; }

/*#armedia {
	position:relative;
	height:157px;
	background:url(/bin/img/whitebg.60.png) repeat 0 0;
	border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;
	clear:left;
}
#il-content + #armedia { margin:20px 0 0; }
#armedia > .container { width:620px; height:157px; overflow:hidden; margin:0; padding:0px; }
#armedia ul { width:100000px; height:117px; margin:20px; padding:0; list-style:none; position:relative; }
#armedia li { float:left; }
#armedia li a { position:relative; display:block; margin:0 20px 0 0; }
#armedia li img { width:180px; height:117px; }
#armedia li a .play { position:absolute; bottom:0; left:0; right:0; top:0; background:url(/bin/img/video_overlay.png) no-repeat 50% 50%; }
#armedia .nav { display:none; }
#armedia.hov .nav { display:block; }
#armedia .nav a {
	position:absolute; top:65px; right:-13px;
	display:block;
	overflow:hidden; text-indent:-500px;
	width:26px; height:26px;
	background:white url(/bin/img/arrow-small-blue-right.png) no-repeat 10px 10px;
	border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;
}
#armedia .nav a:first-child {
	left:-13px; right:auto;
	background-image:url(/bin/img/arrow-small-blue-left.png);
}
#armedia .nav a:hover { background-position:10px -90px; }*/

#links { clear:both; }
#links H5 { margin-bottom:0; padding-bottom:0; }
#links DL { margin:0; padding:.5em 0; }
#links DT { margin:0; padding:0 0 3px; font-size:110%; }
#links DD { display:inline; margin:0; line-height:1.5em; }
#links .hrate { display:none; }
#links .hov .hrate { display:block; }
#links DD.att { padding:0 0 0 23px; background:url(/bin/img/icons/info.png) no-repeat 3px 2px; white-space:nowrap; }
#links DD.att > SPAN { visibility:hidden; color:#888; }
#links .hov .att > SPAN { visibility:visible; }

#relalbums { padding:0; }
#relalbums h3 { display:none; }
#relalbums ul { padding:0; list-style:none; }
#relalbums li { margin:40px 0 0; padding:0; }
#relalbums dl { margin:0; padding:0; }
#relalbums dt { position:relative; margin:0; padding:0; }
#relalbums dt a { text-decoration:none; }
#relalbums dd { margin:5px 0 0; padding:0; font-size:14px; color:#666; }
#relalbums big b { text-decoration:underline; }
#relalbums .imgcontainer {
	position:absolute; top:0; left:-160px;
	border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px;
	box-shadow:1px 1px 4px #BBB; -moz-box-shadow:1px 1px 4px #BBB; -webkit-box-shadow:1px 1px 4px #BBB;
}
#relalbums .imgcontainer img { visibility:hidden; }
#relalbums dt a:hover .imgcontainer {
	box-shadow:1px 1px 4px #888; -moz-box-shadow:1px 1px 4px #888; -webkit-box-shadow:1px 1px 4px #888;
}

#imgs { margin-top:40px; }
#imgs .heading { position:relative; width:300px; float:right; }
#imgs .upllink { position:absolute; left:285px; white-space:nowrap; }
#imgs .upllink a { display:block; padding:0 0 0 5px; text-decoration:none; font-size:17px; }
#imgs .upllink a span { display:none; font-size:13px; }
#imgs .upllink a:hover span { display:inline; }
#imgs h3 { font-size:14px; font-weight:normal; margin:0; padding:0 20px 0 0; }
#imgs h3 a:hover { text-decoration:underline; }
#imgs .thumbnail { margin:0 10px 10px 0 !important; padding:5px; background-color:white; }
#imgs .imglead .thumbnail { margin:0 20px 0 0 !important; padding:10px; }
#imgs .thumbnail .container { border-width:0; max-height:180px; overflow:hidden; }
#imgs .imglead .thumbnail .container { max-height:450px; }
#imgs .clear { clear:left; }

#sblogposts {
	clear:both;
	margin:40px 0 0; padding:40px 0 !important;
	background:url(/bin/img/pgsec_blue.5.png) repeat-x 0 0;
	border-bottom:1px solid #D3E8EB;
}
#sblogposts H3 { display:none; }
#sblogposts .news-shortlist {}
#sblogposts .news-shortlist .date { display:none; }
#sblogposts .news-shortlist + .more{ font-weight:bold; }
#sblogposts .news-shortlist + .more{ font-weight:bold; }
#sblogposts .fitem { position:relative; }
#sblogposts .fitem > A { float:right; }
#sblogposts .fitem + .fitem { margin:20px 0 0; }
#sblogposts .himg { display:none; }

#forumtopics {}
#forumtopics .more { padding:0 0 0 20px; font-weight:bold; }

#publications { clear:both; margin:40px 0 0; }
#sblogposts + #publications { margin:0; }
#publications H3 { display:none; }
#publications A.trav {
	position:absolute; z-index:5; top:10px;
	width:25px; height:25px;
	padding: 0 !important;
	background-color: white !important;
	background-position: 10px 10px !important;
	border-radius:25px; -moz-border-radius:25px; -webkit-border-radius:25px;
	opacity:.6;
}
#publications A.trav:HOVER { opacity:1; }
#publications > .container {
	width:100% !important;
	position:relative;
	margin:0; padding:0;
	border-width:2px 0; border-style:solid; border-color:black;
	overflow:hidden;
	background:url(/bin/img/bg-wood.jpg) repeat-x left bottom;
}
#publications > .container > .overlay {
	position:absolute; top:0; right:0; bottom:0; left:0;
}
#pubframe {}
#publications DL {
	float:left;
	position:relative; z-index:4;
	width:170px;
	margin: 10px 0 0 30px;
}
#publications DL.hov {}
#publications DT {
	position:absolute; bottom:23px;
	padding:15px 15px 0;
}
#publications DT A { display:block; position:relative; z-index:2; }
#publications DT A SPAN { visibility:hidden; }
#publications DT .overlay {
	position:absolute; top:0; bottom:0; left:0; right:0;
	background:url(/bin/img/gamebox_overlay.png) no-repeat 0 0;
}
#publications DD {
	position:absolute; z-index:3;
	min-width:141px;
	margin:0 7px 30px;
	padding:4px 8px;
	font-size:12px; color:#999;
	line-height:1.5em;
	background-color:black;
	opacity:0;
	border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;
	box-shadow:0 0 4px #111; -moz-box-shadow:0 0 4px #111; -webkit-box-shadow:0 0 4px #111;
}
#publications .hov DD {}
#publications H5 { margin:0; padding:0; font-weight:bold; font-size:14px; color:white; }
#publications .speechpt {
	position:absolute; bottom:-5px;
	width:10px; height:5px;
	background:url(/bin/img/speech_point_black.png) no-repeat center bottom;
}
#publications .ileeditbutton {
	white-space:nowrap;
	background:#222 url(/bin/img/striped_bg_black.png) !important; margin:0 0 0 45px;
	border-radius:0 0 3px 3px; -moz-border-radius:0 0 3px 3px; -webkit-border-radius:0 0 3px 3px;
}

#credits { padding:40px 0 0; clear:both; }

.pgt-person #credits {}
	.pgt-person #credits H3 { margin-bottom:0; }
	.pgt-person #credits .container { margin:0 0 0 -20px; }
	.pgt-person #credits DL,
	.pgt-person #credits DT,
	.pgt-person #credits DD { margin:0; padding:0; font-size:14px; }
	.pgt-person #credits .container > DL {
		width:300px;
		float:left;
		margin:5px 0 0 20px;
		padding:5px 0 0;
		border-top:2px solid #333;
	}
	.pgt-person #credits .container > DL > DT { font-weight:bold; color:#333; }
	.pgt-person #credits .container > DL > DD { margin:5px 0 0; padding:5px 0 0; border-top:1px solid #CCC; }
	
	.pgt-person #credits DL DL DT {}
	.pgt-person #credits DL DL DD { margin:5px 0 0; }
	.pgt-person #credits .notes { font-size:13px; color:#666; }
	
	
	.pgt-person #credits TH {
		margin:0; padding:0 0 5px;
		font-size:16px; color:#333;
		border-bottom:2px solid #333;
	}
	.pgt-person #credits H4 + DL { padding:0; border-width:0; }
	.pgt-person #credits TD { padding:10px 0; font-size:15px; }
	.pgt-person #credits .clear TD { border-top:1px solid #CCC; }
	.editmode .pgt-person #credits .clear TD { border-top:0; border-bottom:1px solid #DDD !important; }
	.pgt-person #credits .span TD { padding-top:0; }
	.pgt-person #credits .hov TD { background-color:#F5F5F5; }
	.pgt-person #credits THEAD + TBODY > TR:first-child TD { border-width:0 !important; }
	.pgt-person #credits .release > DIV {
		text-align:right;
		padding:0 20px 0 0;
	}
	.pgt-person #credits .semiclear .release { border-color:transparent; }
	.pgt-person #credits .semiclear .release > DIV { visibility:hidden; }
	.pgt-person #credits .role > DIV { padding:0 0 0 20px; }
	.pgt-person #credits .role > DIV + DIV { margin:5px 0 0; }
	.pgt-person #credits .notes > DIV { padding:0 0 0 20px; font-size:12px; color:#666; }

.pgt-game #credits {}
	.pgt-game #credits H3 { display:none; }
	.pgt-game #credits DL { margin:0; padding:0; font-size:15px; }
	.pgt-game #credits .toggle { display:none; }
	.editmode .pgt-game #credits .toggle { display:block !important; }
	.pgt-game #credits DL DT {
		width:300px; height:17px;
		float:left;
		text-align:right;
		margin:0;
		padding:10px 0 0; }
	.pgt-game #credits DL.toggled.vital DT,
	.editmode .pgt-game #credits DL.vital DT { font-weight:bold; }
	.pgt-game #credits DL DD {
		margin:0 0 0 320px;
		padding:3px 0 0;
		color:#555;
	}
	.pgt-game #credits DL DT + DD { padding-top:10px; }
	.pgt-game #credits DL DD.notes { font-size:13px; color:#999; }
	}
	.pgt-game #credits DL DD.notes A { color:#888; }
	.pgt-game #credits DL DD.notes A:HOVER { color:#999; }
	
	.pgt-game #credits .dnd { display:none; }
	
	.editmode .pgt-game #credits .il { position:relative; margin:4px 0 !important; padding:7px 0 !important; }
	.editmode .pgt-game #credits .il > * { padding:0; }
	.editmode .pgt-game #credits A.dnd {
		display:block;
		position:absolute; top:3px; left:0;
		width:50px; height:38px;
		background:url(/bin/img/icons/arrow_updn.png) no-repeat center top;
		cursor:move;
		opacity:.3;
	}
	.pgt-game #credits A.dnd:HOVER { opacity:.8; }
	
#togglecreds {
	position:relative;
	width:167px;
	margin:10px 0 0;
	background-color:white;
	border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px;
	box-shadow:0 0 1em #DDD; -moz-box-shadow:0 0 1em RGBA(0,0,0,.05); -webkit-box-shadow:0 0 1em RGBA(0,0,0,.05);
}
#togglecreds A { display:block; padding:10px 15px; text-decoration:none; color:#888; }
#togglecreds A U { text-decoration:underline; color:#06C; }
#togglecreds A:HOVER U { color:#39F; }
#togglecreds .speechpt {
	position:absolute; top:14px; left:-10px;
	width:10px; height:10px;
	background:url(/bin/img/speech_point_white.png) no-repeat -1px 0;
}

#forumtopics UL { list-style:none; padding:0; }
#forumtopics LI { margin:6px 0 !important; padding-left:20px !important; background:url(/bin/img/icons/comments.gif) no-repeat 3px 4px !important; }
#forumtopics LI.unread { background-image:url(/bin/img/icons/comments-new.gif); }

#catpglist { clear:both; }

#categories {}
#categories UL { margin:0; padding:0; list-style:none; }
.editmode #categories UL { padding:5px; }
#categories LI {
	float:left;
	white-space:nowrap;
	margin:0; padding:0 0 0 16px;
	background:url(/bin/img/bullet-dot-aaa.png) no-repeat 8px center;
}
#categories UL LI:first-child { padding:0; background-image:none; }
#categories LI.clear { float:none; clear:left; }

#pgft { clear:both; margin-top:40px; padding:15px 0; border-top:1px solid #DDD; }
#pgft TD {
	font-size: 12px;
	color: #CCC;
	line-height: 23px;
}
#pgft SPAN { color:black; }

DL.pagecontr { margin:0; padding:0; }
.pagecontr DT {
	transform:rotate(-3deg);
	-moz-transform:rotate(-3deg);
	-webkit-transform:rotate(-3deg);
	position: relative;
	float: left;
	margin: 0;
	padding: 0 0 0 30px;
}
.pagecontr DD.patronsaint { font-size:14px; }
.pagecontr DT A {
	position:absolute; top:-25px; left:7px;
	width:110px; height:120px; overflow:hidden;
	display:block;
	text-indent:-5000px;
	background:transparent url(/bin/img/patron_saint_frame.png) no-repeat scroll 0 0;
}
.pagecontr DD { margin-left:122px; color:#666; }

#pgednotice {
	position:absolute; top:110px; left:50%; z-index:10;
	width:512px;
	margin:0 0 0 -231px;
	background-color:#333; background-color:RGBA(0,0,0,.9);
	border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;
	cursor: pointer;
}
#pgednotice > DIV { font-size:110%; color:white; padding:20px; }
#pgednotice BIG { font-size:30px; }