
HTML, BODY { margin:0; padding:0; }

BODY, .bodybg { background:#EEE url("/bin/img/textured_bg.jpg") repeat 0 0; }

BODY, TD, TH {
	font-size: 13px;
	font-family: Arial;
	text-align: left;
	vertical-align: top;
}

BODY > .overlay { display:none; position:fixed; z-index:100; top:0; right:0; bottom:0; left:0; width:100%; height:100%; background-color:#333; background-color:RGBA(0,0,0,.95); }
BODY > .overlay > img { position:fixed; bottom:0; left:25px; }

#bodywrap { min-width:965px; padding:140px 0 0; }
#bodywrap > .pgsec { /*overflow:hidden;*/ }

BODY.faded #bodywrap { opacity:.6; }

body.loading * { cursor:wait; }

H1 { margin:0 0 10px; padding:0; font-weight:bold; font-size:30px; color:black; text-shadow:1px 1px 1px #AAA; text-shadow:1px 1px 1px RGBA(0,0,0,.3); }
H2 { margin-bottom:3px; padding-bottom:3px; font-weight:normal; font-size:21px; color:#333; border-bottom:1px solid #C0C0C0; }

A, .a { color:#06C; text-decoration:underline; cursor:pointer; }
A:ACTIVE { color:#6B3EA8; }
A:HOVER, .a:hover { color:#39F; }
.red { color:#D33; }
A.red:HOVER { color:#F17878; }

A IMG { border-color:#06C; }
A:HOVER IMG { border-color: #39F; }

BIG { font-size:17px; }

FORM { margin:0; }
FIELDSET {
	margin-left: 0;
	margin-right: 0;
	padding: 5px 10px 10px 10px;
	border: 1px solid #CCC; }
LEGEND {
	font-size: 14px;
	color: #666;
}
input[type=text], input[type=password], TEXTAREA, SELECT {
	padding: 2px 1px 2px 2px;
	border-width: 1px;
	border-style: solid;
	border-color: #666 #BBB #BBB #666;
}
input[type=text], input[type=password] {
	font-size: 13px;
	font-family: Arial;
}
.inpfw { margin-right:6px; }
.inpfw input[type=text], .inpfw input[type=password], .inpfw TEXTAREA, .inpfw SELECT { width:100%; }
SELECT {
	padding: 2px;
	font-family: Arial;
	font-size: 13px;
}
OPTGROUP {
	padding-top: 2px;
	font-weight: normal;
	font-style: italic;
	font-family: Arial;
	color: #777;
	background-color: #EEE;
}
OPTGROUP > OPTION {
	padding-left: 20px;
	background-color: #FFF;
	color: black;
}
OPTGROUP > OPTION:first-child {
	margin-top: 2px;
}
input[type="button"], button, input[type="submit"], input[type="reset"] {
	padding-top: 1px;
	padding-bottom: 1px;
	font-size: 13px;
	font-family: Arial;
	background: #DDD url(/bin/img/styled-button-bg.png) repeat-x 0 0;
	border-width: 1px;
	border-style: solid;
	border-color: #BBB #AAA #AAA #BBB;
	cursor: pointer; }
input[type="button"].over, button.over, input[type="submit"].over, input[type="reset"].over {
	border-color:#777;
}
input[type="button"]:active, button:active, input[type="submit"]:active, input[type="reset"]:active {
	background-position:0 -35px;
}

.redborder input, .redborder button { border-color:#DC2727 !important; }

input[type=button].down, input[type=submit].down, input[type=reset].down {
	border-color: #222 #999 #999 #222;
}

OL, UL {
	margin: 0;
	padding-left: 30px; }
UL {
	list-style-type: square; }
	
ACRONYM, ABBR { border-bottom:1px dotted #BBB; cursor:help;
}

DIV.clear { clear:both; }
DIV.clear HR { display:none; }



/* HEADER & FOOTER */

#headbackdrop {
	position:absolute; z-index:7; top:0; left:0;
	width:100%; height:27px;
	background:url(/bin/img/pgsec_black.png) repeat-x 0 -3px #030303;
	border-bottom:1px solid #161616;
}

#head {
	position:absolute; z-index:90; top:28px; right:20px; left:20px;
	height:110px; min-width:965px;
	background-position:0 0;
	background-repeat:no-repeat;
}
BODY.fixedwidth #head {
	width:965px;
	right:auto; left:50%;
	margin-left:-483px;
}

#head .bgimg {
	position:absolute; z-index:1; top:0; left:-6px;
	width:500px; height:110px;
	overflow:hidden;
}
body.min #head .bgimg { display:none; }

#head H2 { margin:0; padding:0; border:none; }
#head H2 A {
	position:absolute; z-index:7; top:30px; left:-6px;
	display:block;
	width:270px; height:55px; overflow:hidden;
	text-indent:-5000px;
}
#head H2 DIV {
	position:absolute; z-index:4; top:30px; left:-6px;
	width:270px; height:55px;
	background:transparent url(/bin/img/h1.png) no-repeat scroll 0 0;
}
#head H2 A:HOVER + DIV { background-position:0 -90px; }

#twitter_div {
	position:relative; z-index:8;
	margin:35px 0 0 304px;
	opacity:.6;
}
body.min #twitter_div { display:none; }
#twitter_div .speechpt {
	position:absolute; top:7px; left:-9px;
	width:9px; height:10px;
	background:url(/bin/img/speech_point_white_70.png) no-repeat -1px 0;
}
#twitter_div UL { margin:0; padding:0; list-style:none; }
#twitter_div LI {
	max-width:265px; max-height:46px; overflow:hidden;
	float:left;
	margin:0; 
	padding:5px 8px; 
	font-size:12px;
	color: #888;
	background:url(/bin/img/bg-transparent-white-70.png) repeat 0 0;
	border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;
}
#twitter_div LI A { text-decoration:none; }
#twitter_div LI A:HOVER { text-decoration:underline; }
#twitter_div LI > A { /* timestamp */
	background:url(/bin/img/icons/twitter_t.png) no-repeat center center;
	display:block;
	float:right;
	width:16px; height:16px;
	overflow:hidden;
	text-indent:-500px;
}
#twitter_div LI > A:HOVER { color:#999; }

#topsearch { position:absolute; z-index:9; top:-25px; right:0; }
#topsearch input[type=text] {
	width:230px;
	font-size:12px;
	margin:0; padding:3px 0 3px 21px;
	border-width:0; border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px;
	background-color:white;
}
#topsearch input.resetonfocus { width:100px !important; }
#topsearch FORM { position:relative; }
#topsearch a {
	display:block;
	position:absolute; left:4px; top:4px;
	width:13px; height:14px;
	text-indent:-500px;
	overflow:hidden;
	background:url(/bin/img/search_gray.png) no-repeat 0 0;
}
#topsearch A:HOVER { background-position:0 -31px; }
#topsearch input + DIV {
	position:absolute; top:-26px; left:0;
	padding:3px 6px;
	font-size:12px; color:#555;
	white-space:nowrap;
	background-color:#CCC;
	border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;
	opacity:.6;
}
#topsearch input.blurred + DIV { display:none; }
#topsearch input + DIV SPAN {
	position:absolute; bottom:-4px; left:18px;
	width:10px; height:4px;
	background:url(/bin/img/speech_point_ccc.png) no-repeat center bottom;
}

#topnav {
	position:absolute; z-index:8; top:-28px; right:0; left:0;
	width:100%;
}
#topnav * { margin:0; padding:0; list-style:none; }
#topnav > ul >li { float:left; }
#topnav a {
	display:block;
	margin:0 -1px 0 0; padding:6px 15px;
	font-size:12px; color:#AAA; text-decoration:none;
	white-space:nowrap;
	border-width:0 1px; border-style:solid; border-color:#161616;
}
#topnav a:hover { color:#DDD; background-color:#161616; }
#topnav a.arrow * { padding-right:9px; background:url(/bin/img/arrow-down-point-small.png) no-repeat right center; }
#topnav a.more div { padding:0; width:5px; height:15px; background:url(/bin/img/arrow-down-point-small.png) no-repeat right center; }
#topnav li ul { display:none; position:absolute; padding-bottom:6px; }
#topnav li ul a { margin:0; }
#topnav .hov ul, #topnav .hov .more { display:block; background-color:#161616; }
#topnav .hov * { }
#topnav b { font-weight:normal; color:white; }
#topnav .plus { font-weight:bold; font-size:14px; }
#topnav .floating { padding:6px 0; }
#topnav .floating li { width:50%; float:left; }

#newpms { position:absolute; top:0; right:0; }
#newpms a { display:block; padding:6px 0 6px 30px; font-size:14px; text-decoration:none; background:url(/bin/img/icons/monkey.png) no-repeat 0 -2px; }

#usrpanel {}
#login {
	display:none;
	position:fixed; z-index:101; top:40%; left:50%;
	width:520px;
	margin:-80px 0 0 -260px;
	text-align:left;
	color:white;
}
#register-words {
	float:right;
	width:265px;
	padding:30px 0;
	background-color:#444; background:-moz-linear-gradient(top, #666, #444); background:-webkit-gradient(linear,left top,left bottom,color-stop(0, rgb(102,102,102)),color-stop(0.5, rgb(68,68,68)));
	font-size:15px; text-align:center;
	border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px;
	box-shadow:0 0 100px 0px black; -moz-box-shadow:0 0 100px 0px black; -webkit-box-shadow:0 0 100px 0px black;
}
	A#join-button {
		display:block;
		width:85px; height:26px;
		margin:10px auto;
		text-decoration:none;
		border-width:0;
		background:url(/bin/img/join_button.png) no-repeat 0 0; }
	A#join-button:hover { background-position:0 -26px; }
	A#join-button span { visibility:hidden; }
#form-login {
	width:225px; padding:15px 0;
	white-space:nowrap;
}
#form-login A { color:#09F; text-decoration:none; }
#form-login form > div { clear:left; margin:0 10px 12px 0; }
#form-login label.tt { margin:5px 8px; font-size:15px; color:black; }
#form-login input.ff {
	width:100%;
	padding:5px 0 5px 10px;
	font-size:18px;
	background:white; background:-moz-linear-gradient(top, #E0E0E0, white 7px);
	border-width:0;
}
#form-login input {
	border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;
	box-shadow:0 0 4px 1px black; -moz-box-shadow:0 0 4px 1px black; -webkit-box-shadow:0 0 4px 1px black;
}
#form-login input[type="submit"] {
	margin:0 1px 1px 0; padding:5px 15px;
	font-size:15px; font-weight:bold;
	border-width:0;
	box-shadow:1px 1px 3px 1px black; -moz-box-shadow:1px 1px 3px 1px black; -webkit-box-shadow:1px 1px 3px 1px black;
}
#form-login input[type="submit"]:active {
	margin:1px 0 0 1px;
	box-shadow:0 0 3px 1px black; -moz-box-shadow:0 0 3px 1px black; -webkit-box-shadow:0 0 3px 1px black;
}
#login-close {
	clear:both;
	float:right;
	display:block;
	padding:10px 28px 10px 10px;
	background:url("/bin/img/x_small_white.png") no-repeat scroll 84% center transparent;
	color:white; font-size:16px; font-weight:bold;
	text-decoration:none;
}
#login + .overlay {}

#foot {
	position:relative;
	background: #030303 url(/bin/img/pgsec_black.png) repeat-x 0 0;
}
#foot td { font-size:13px; color:#999; vertical-align:top; }
#foot A { color: #AAA; }
#foot A:HOVER { color:#CCC; }
#foot > .container { margin:0 20px; padding:30px 0 100px; position:relative; z-index:3; }
BODY.fixedwidth #foot > .container { width:965px; margin:0 auto; }
#foot H5 { margin:0 0 5px; font-size:15px; }
#foot UL { margin:0; padding:0; list-style:none; }
#foot UL LI { padding:0 0 0 15px; background:url(/bin/img/arrow-small-gray-right.png) no-repeat 0 5px; }
#foot .about OL { margin:0; padding:0; list-style:none; }
#foot .about LI { margin:0; padding:0; float:left; }
#foot .about LI A, #foot .about LI SPAN { display:block; margin:0 14px 7px 0; font-size:14px; background-position:left center; background-repeat:no-repeat; }

#foot .cont { margin:20px 0 0; font-size:14px; }
#foot .cont LI { float:left; width:27%; }

#foot textarea, #foot input[type=text] {
	font-size:12px; 
	background-color:white !important;
	border-width:0; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;
	box-shadow:3px 3px 10px #DDD inset; -moz-box-shadow:3px 3px 10px #DDD inset; -webkit-box-shadow:3px 3px 10px #DDD inset;
}
#foot textarea {
	width:100%; height:40px;
	background:white url(/bin/img/textarea_resize.png) no-repeat bottom right;
}
#foot textarea, #foot .tt { cursor:pointer; }
#foot input[type=submit] {
	font:normal 12px Arial;
	border-width:0;
	border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;
}

body.min #foot .diorama { display:none; }
body.min #foot > .container { padding:30px 0; }
body.min #foot .feedback, body.min #foot .cont { display:none; }

.alert {
	position:fixed; z-index:97; top:30%; left:50%;
	width:500px;
	display:none;
	margin:0 0 0 -250px;
	background-color:white;
	border:1px solid #333;
	box-shadow:1px 1px 2px -1px black; -moz-box-shadow:1px 1px 2px -1px black; -webkit-box-shadow:1px 1px 2px -1px black;
}
.alert .ximg { top:15px; right:15px; }
.alert DL { margin:0; padding:0; }
.alert > DL > DT {
	margin:0; padding:15px 40px 15px 20px;
	font-weight:bold; font-size:14px; color:white;
	background-color:#333;
	border-bottom:1px solid #CCC;
}
.alert > DL > DD {
	margin:0;
	padding:15px 20px;
}

/* Page Sections */

.pgsec {}
.pgsec > .container {
	padding:0 20px;
}

.pgsec-white {
	padding: 20px 20px 40px;
	border-top: 2px solid #DDD;
	background-color: white;
}

.pgsec-black {
	padding: 40px 20px;
	background: #030303 url(/bin/img/pgsec_black.png) repeat-x 0 0;
}
.pgsec-black, .pgsec-black TD { color:white; }
.pgsec-black A { color:#09F; }
.pgsec-black A:HOVER { color:#37AAFF; }

.pgsec-brown {
	padding:40px 20px;
	background:#e2d6be url(/bin/img/pgsec_brown.png) repeat-x 0 0;
}

.pgsec-blue {
	padding:40px 20px;
	background:#e3eef9 url(/bin/img/pgsec_blue.png) repeat-x 0 0;
	border-bottom:1px solid #c6e0e4;
}

BODY.fixedwidth .pgsec > .container {
	width: 965px;
	margin: 0 auto;
}

#pgsecbuff { clear:both; }
#pgsecbuff > DIV { height:20px; }

/* AUXILARY PAGE DESIGN */

#body-message {
	margin: 4em auto;
	padding: 10px;
	width: 300px;
	text-align: center;
	background-color: white;
	color: #696969;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#notify {
	display: none;
	position: fixed;
	z-index: 99;
	top: 0;
	left: 0;
	width: 100%;
	margin: 0;
	padding: 15px 0 0;
	font-size: 14px;
	border-bottom: 1px solid black;
	background-color: white;
	opacity: .95;
	-moz-box-shadow: 0px 0px 20px 5px #666666;
	-webkit-box-shadow: 0px 0px 20px 5px #666666;
}
#notify DL {
	margin: 0 0 30px;
	padding: 0;
}
#notify DT {
	position: relative;
	left: 0;
	top: 15px;
	width: 70px;
	margin: 0 0 0 -1px;
	padding: 5px 5px 5px 10px;
	font-weight: bold;
	text-align: right;
	color: #FFF;
	background-color: #06C;
}
#notify DT.err {
	background-color: #D23C3C;
}
#notify DT.war {
	background-color: #F4A90B;
}
#notify DD {
	margin: -5px 0pt 10px 90px;
	padding: 0px 0pt 5px 14px;
	background: url(/bin/img/bullet-boxed-arrow.png) no-repeat 0px 3px; }

TABLE.plain {
	border-width: 1px 1px 0 0;
	border-style: solid;
	border-color: #AAA;
}
TABLE.plain > TR > TH,
TABLE.plain > TBODY > TR > TH,
TABLE.plain > TR > TD,
TABLE.plain > TBODY > TR > TD {
	border-width: 0 0 1px 1px;
	border-style: solid;
	border-color: transparent transparent #AAA #EEE;
}
TABLE.plain > TR > TH:first-child,
TABLE.plain > TBODY > TR > TH:first-child,
TABLE.plain > TR > TD:first-child,
TABLE.plain > TBODY > TR > TD:first-child {
	border-left-color: #AAA;
}
TABLE.plain > TR > TH,
TABLE.plain > TBODY > TR > TH {
	border-bottom-width: 2px;
	background-color: #EEE;
}
	
A.x {
	padding: 1px 3px;
	font-weight: bold;
	font-family: verdana;
	font-size: 60%;
	color: #D35959;
	text-decoration: none;
	text-transform: capitalize;
	border: 1px solid #D35959; }
A.x:hover {
	color: #E58080;
	border-color: #E58080;}
A.xdel {
	padding-left: 16px;
	color: #D35959;
	background: url(/bin/img/x_small_red.png) no-repeat 0 3px;
}
A.xdel:hover {
	color: #E58080;
	background-position: 0 -29px;
}
.ximg {
	position:absolute;
	width:12px; height:12px;
	overflow:hidden;
	text-indent:-5000px;
	background:url("/bin/img/x_small_red.png") no-repeat 0 0;
}
.ximg-hover, a.ximg:HOVER { background-position:0 -32px; }

.gray { color:#AAA; }
.gray A, A.gray { color:#808080; }
.gray A:HOVER, A.gray:HOVER { color:#999; }
	
A.arrow-up {
	padding: 0 0 0 10px;
	background: url(/bin/img/arrow-small-blue-up.png) no-repeat 0 5px; }
A.arrow-up:HOVER {
	background-position: 0 -95px; }

.arrow-right {
	padding-right: 11px;
	background: url(/bin/img/arrow-small-gray-right.png) no-repeat center right; }
A.arrow-right {
	padding: 0 10px 0 0;
	background: url(/bin/img/arrow-small-blue-right.png) no-repeat 100% 5px; }
A.arrow-right:HOVER {
	background-position: 100% -95px; }
	
.arrow-right-off {
	padding: 0 10px 0 0;
	background: url(/bin/img/arrow-small-gray-right.png) no-repeat 100% 5px; }
	
BIG A.arrow-right {
	padding: 0 17px 0 0;
	font-size: 21px;
	background: url(/bin/img/arrow-big-blue.png) no-repeat 100% 5px; }
BIG A.arrow-right:HOVER {
	background-position: 100% -37px; }

A.arrow-link-big {
	padding: 0 15px 0 0;
	background: url(/bin/img/arrow-link-big.png) no-repeat 100% 8px; }
A.arrow-link-big:HOVER {
	background-position: 100% -37px; }

.arrow-right-gray {
	padding-right: 13px;
	background: url(/bin/img/arrow-right.gif) no-repeat center right; }

A.arrow-down {
	padding: 0 10px 0 0;
	background: url(/bin/img/arrow-small-blue-down.png) no-repeat 100% 5px; }
A.arrow-down:HOVER {
	background-position: 100% -95px; }

.arrow-left {
	padding-left: 11px;
	background: url('/bin/img/arrow-small-gray-left.png') no-repeat center left; }
A.arrow-left {
	padding: 0 0 0 10px;
	background: url(/bin/img/arrow-small-blue-left.png) no-repeat 0 5px; }
A.arrow-left:HOVER {
	background-position: 0 -95px; }

.arrow-left-off {
	padding: 0 0 0 10px;
	background: url(/bin/img/arrow-small-gray-left.png) no-repeat 0 5px; }

A.arrow-link {
	padding: 0 10px 0 0;
	background: url(/bin/img/arrow-link.png) no-repeat 100% 6px; }
A.arrow-link:HOVER {
	background-position: 100% -43px; }

A.plus {
	background-color: #F5F5F5;
	border: 1px solid #DDD;
	color: #999;
	font-size: 14px;
	padding: 2px 5px;
	text-decoration: none;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
A.plus B { color:#39F; }
A.plus:HOVER { border-color:#39F; color:#39F; }
BIG A.plus { font-size:17px; }

.arrow-toggle {
	padding: 0 0 0 10px;
	background: url(/bin/img/arrow-left-point.png) no-repeat 2px 50%;
}
.arrow-toggle-on {
	background: url(/bin/img/arrow-down-point.png) no-repeat 0 50%; !important;
}

a.albumlink, .albumlink a { padding-right:11px; background:url(/bin/img/musicnote_blue.png) no-repeat right 2px; }
a.albumlink:HOVER { background-position:right -85px; }

.bullet {
	padding-left: 13px;
	background: url(/bin/img/bullet-boxed-arrow.png) no-repeat 0 50%; }

TABLE.styled-form {}
TABLE.styled-form-alt {
	border: 5px solid #DCDCDC; }
.styled-form FIELDSET {
	border: 1px solid #C0C0C0; }
.styled-form > THEAD > TH {
	padding-left: 5px;
	background-color: #EEE;
	font-size: 110%;
	color: #696969; }
.styled-form TR.selected > TD, .styled-form TR.selected > TH {
	background-color: #FFD2D2 !important; }
.styled-form > TR > TH, .styled-form > TBODY > TR > TH {
	width: 15%;
	padding: 10px 5px 10px 0;
	font-size: 16px;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	border-top: 1px solid #DCDCDC; }
.styled-form-alt > TR > TH, .styled-form-alt > TBODY > TR > TH {
	padding: 15px 5px 15px 15px !important;
	font-size: 16px; }
.styled-form TH SMALL {
	font-weight: normal ! important;
	font-size: 10px;
	color: #777; }
.styled-form > TR > TD, .styled-form > TBODY > TR > TD {
	padding: 10px;
	font-size: 12px;
	border-top: 1px solid #DCDCDC;
	background-color: #F5F5F5; }
.styled-form-alt > TR > TD, .styled-form-alt > TBODY > TR > TD {
	padding: 13px !important;
	font-size: 13px; }
.styled-form P {
	margin: 3px 0 0 0; }
.styled-form-alt P {
	margin: 5px 0 0 0; }
.styled-form SMALL {
	font-size: 10px;
	color: #808080; }
.styled-form input[type=text], .styled-form SELECT, .styled-form TEXTAREA {
	background-color: white !important;
	font-family: Arial;
	font-size: 13px;
}
.styled-form-alt input, .styled-form-alt SELECT, .styled-form-alt TEXTAREA {
	font-size: 15px;
}

TABLE.data { border-bottom:1px solid #C0C0C0; box-shadow:0 0 0 3px white; -moz-box-shadow:0 0 0 3px white; -webkit-box-shadow:0 0 0 3px white; }
	TABLE.data TR > *:first-child { border-left:1px solid #EEE; }
	TABLE.data TH {
		padding:5px 8px;
		border-right:1px solid #DDD;
		background:white url(/bin/img/gradient-b2t-eee.png) repeat-x 0 -149px;
	}
	TABLE.data TH A { text-decoration:none; color:black; display:block; }
	TABLE.data TH A:HOVER { text-decoration:underline; }
	TABLE.data TD {
		padding:5px 8px;
		border-top: 1px solid #C0C0C0;
		border-right: 1px solid #EEE;
		vertical-align: top;
		background-color:white;
	}
	TABLE.data TR.putborders TH { border-top: 1px solid #808080; }
	TABLE.data .altbg { background-color: #F5F5F5; }
	TABLE.data .gap TD { border-right-width:0; border-left-width:0; background-color:transparent; }
 
UL.tree {
	margin: 3px 0 0 10px;
	padding: 0;
	list-style: none; }
.tree LI {
	margin: 0;
	padding: 3px 0 3px 15px;
	background: url(/bin/img/tree_branch.png) no-repeat 0 5px; }

.user {
	height: 20px;
	padding: 3px 0 3px 23px;
	line-height: 20px;
	background-repeat: no-repeat;
	background-position: left center; }

/*.tag-list {
	margin: 0 0 15px 0;
	padding: 10px;
	background: #D2E9FF url(/bin/img/white-striped-bg.png) repeat scroll left top;
	border: 1px solid #AED7FF;
	line-height: 18px; }
.tag-list UL {
	margin: 0;
	padding: 0;
	list-style: none; }
.tag-list LI {
	display:	inline;
	margin:	0 10px 0 0;
	padding:	0;
	font-weight: bold; }
.tag-list LI A {
	padding: 2px; }
.tag-list LI A:HOVER {}*/

.thumbnail { line-height:normal !important; max-width:100%; overflow:hidden; }
.thumbnail.left { float:left; clear:left; margin:3px 10px 5px 0; }
.thumbnail.right { float:right; clear:right; margin:3px 0 5px 10px; }
.thumbnail.center, .thumbnail.nofloat { clear:both; margin:10px 0; }
.thumbnail > .container { margin:0 auto; padding:0; border:1px solid #CCC; border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px; float:left; }
.thumbnail.nofloat > .container { margin:0; }
.thumbnail .image { position:relative; }
.thumbnail .image a { display:block; }
.thumbnail .image a.permalink {
	display:none;
	position:absolute; z-index:1; top:2px; right:2px;
	width:19px; height:19px;
	overflow:hidden;
	text-indent:50px;
	background:url("/bin/img/search_glass.png") no-repeat center center;
}
.thumbnail.hov .image a.permalink { display:block; }
.thumbnail .image img { max-width:100%; }
.thumbnail .caption { display:block; padding:3px; font-size:12px; color:#666; }

.gallery {}
.gallery > .container {
	float:left;
	padding:15px 15px 10px;
	background-color:#F5F5F5; background-color:RGBA(245,245,245,.9);
	border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;
	/*box-shadow:rgba(0,0,0,.1) 0 0 6px; -moz-box-shadow:rgba(0,0,0,.1) 0 0 6px; -webkit-box-shadow:rgba(0,0,0,0.1) 0 0 6px;*/
}
.gallery .caption { margin:0 0 10px; font-weight:bold; font-size:16px; color:#555; }
.gallery ul { margin:-5px -5px 0 !important; padding:0; list-style:none; line-height:1em !important; }
.gallery li { margin:5px; padding:0; float:left; }
.gallery li a { display:block; cursor:-moz-zoom-in; }
.gallery li a:hover { opacity:.8; }
.gallery li a img { width:100%; border-width:0; }
.gallery .clear { clear:left; height:0 !important; }

.hr {
	margin:20px 0;
	border-width:1px 0; border-style:solid; border-color:#CCC transparent white transparent; border-color:RGBA(190,190,190,.6) transparent RGBA(255,255,255,.6) transparent;
	height:0; }

.warn { padding-left:17px !important; background:url(/bin/img/icons/warn.png) no-repeat left center; }

.hintguy {
	padding-left: 40px;
	background: url(/bin/img/hint_guy.png) no-repeat left center;
	line-height: 1.5em;
	min-height: 35px;
}
.hintguy-animated {
	padding-left: 40px;
	background: url(/bin/img/hint_guy_animated.gif) no-repeat left center;
	line-height: 1.5em;
	min-height: 25px;
}
	
.smiley {
	padding-left: 40px;
	background: url(/bin/img/icons/smiley.png) no-repeat 0 50%; }
.frowney {
	margin:0 5px; padding:0 8px;
	background: url(/bin/img/icons/emoticons/frown.png) no-repeat 0 50%; }
	
UL.tabbed-nav {
	margin: 0;
	padding: 0;
	list-style-type: none;
	float: left;
	width: 100%;
	height: 24px;
	border-bottom: 1px solid #C0C0C0; }
.tabbed-nav LI {
	display: inline; }
.tabbed-nav A {
	height: 16px;
	float: left;
	margin: 1px 0 0 5px;
	padding: 3px 12px;
	background-color: #EEE;
	border:1px solid #C0C0C0; }
.tabbed-nav LI.on A {
	border-bottom-color: white !important;
	background-color: white; }

#tooltip {
	position: absolute;
	z-index: 200;
	max-width: 350px;
	margin: 10px 5px 0 0;
	padding: 2px 5px;
	border: 1px solid #333;
	background: #f7f5d1;
	font-size: 12px;
	color: #333;
	display: none;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-box-shadow: #666 1px 1px 3px 0;
	-webkit-box-shadow: #666 1px 1px 3px 0;
}
.tooltip .block, .tooltip-block {
	padding: 0 3px;
	background-color: #06C;
	color: white !important;
	font-weight: bold;
	font-size: 90%;
	text-decoration: none;
	cursor: help; }

/*
A.styled-button {
	float:left;
	text-decoration: none;
	border-top:1px solid #999;
	border-left:1px solid #999;
	border-right:1px solid #333;
	border-bottom:1px solid #333;
	color:#333; }
A.styled-button:HOVER {
	border-top:1px solid #333;
	border-left:1px solid #333;
	border-right:1px solid #999;
	border-bottom:1px solid #999;
	color:#333; }	
A.styled-button SPAN {
	background:#d4d0c8 url(/bin/img/styled-button-bg.png) repeat-x 0 0;
	float:left;
	padding:2px 8px;
	border-right:1px solid #777;
	border-bottom:1px solid #777; }
A.styled-button:hover SPAN {
	border:none;
	border-top:1px solid #777;
	border-left:1px solid #777;
	background-position: 0 -35px;
	cursor:pointer;	}
A.yellow-button {
	padding: 5px 10px;
	background: #FC3 url(/bin/img/gradient_yellow_sm.png) repeat-x 0 0;
	border-color: #FA0 !important;
	border-style: solid;
	border-width: 0 1px 1px 0;
	-moz-border-radius:5px;
	-webkit-border-radius: 5px;
	color: white !important;
	text-decoration: none;
}
A.yellow-button:HOVER {
	background-position: 0 -38px; }
A.yellow-button .shadow {
	position: relative;
	top: 1px;
	left: 1px;
	color: #FA0;
}
A.yellow-button .shadow SPAN {
	color: white;
	position: absolute;
	top: -1px;
	left: -1px;
	cursor: pointer;
}*/

input.off, TEXTAREA.off, input.resetonfocus, TEXTAREA.resetonfocus {
	color: #999;
	font-style: italic; }

.inline-cite {
	color: #AAA; }
.cite {
	font-size: 10px;
	color: #AAA;
	vertical-align: text-bottom; }
	
a.pglink.nocoverage { color:#E23838; }
a.pglink.nocoverage:HOVER { color:#EA6A6A; }
a.pglink.redirect { color:#855EB9; }
a.pglink.redirect:hover { color:#9978C5; }
.taglist .pglink.nocoverage { border-style:dashed; }

.spoiler { background:url(/bin/img/spoiler_overlay.png); }
.spoiler > DEL { text-decoration:none; visibility:hidden; }
.spoiler.hov { background-image:none; }
.spoiler.hov > DEL { visibility:visible; }
	
input.styled, TEXTAREA.styled {
	margin: 1px;
	padding: 3px;
	border-width: 1px;
	border-style: solid;
	border-color: #666 #BBB #BBB #666; }
input.styled-on, TEXTAREA.styled-on {
	margin: 0 !important;
	border-width: 2px !important;
	border-color: #39F !important; }
	
.emoticon { padding:0 7px; background-position:center center; background-repeat:no-repeat; }

.chbox { position:relative; cursor:pointer; padding:0 0 0 17px; }
.chbox .inp {
	position:absolute; z-index:1; top:50%; left:0;
	display:block; width:13px; height:13px; overflow:hidden;
	margin:-6px 0 0;
	background:url("/bin/img/checkbox.gif") no-repeat 0 -13px;
}
.chbox input[type="checkbox"] { display:none; }
.chbox.hov .inp { background-position:0 -26px; }
.chbox.checked .inp { background-position:0 -39px !important; }
.chbox.checked.hov .inp { background-position:0 -52px !important; }
.chbox.loading .inp, .chbox.loading.hov .inp { background-position:0 0 !important; }

.helpinfo {
	padding:0 6px;
	background:url(/bin/img/icons/question_block.png) no-repeat left center;
	text-decoration:none;
	/*
	padding: 0 3px;
	font-size: 84%;
	font-weight: bold;
	color: white !important;
	text-decoration: none;
	background-color: #39F;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;*/
}
.helpinfo > SPAN { visibility:hidden; }

.frown {
	height:16px;
	padding:0 16px !important;
	background:url(/bin/img/icons/emoticons/frown.png) no-repeat center center;
}

.sources OL { margin:0; padding:0; list-style-position:inside; }
.sources LI { padding:1px 5px; }
.sources LI.on { background-color:#FFFFC1; }

.fftt { /* form-field tool-tip */
	position:relative;
}
.fftt .tt { position:absolute; top:0; left:0; z-index:1; margin:0; padding:2px 0 0 2px; color:#666; opacity:.75; cursor:text; }
.fftt .tt.foc { opacity:.2; }

.pgnav {
	border:1px solid #CCC; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;
	box-shadow:0 0 6px #DDD; -moz-box-shadow:0 0 6px #DDD; -webkit-box-shadow:0 0 6px #DDD;
}
.pgnav.input { border-color:#666 #BBB #BBB #666; }
.pgnav ul { margin:0; padding:0; list-style:none; }
.pgnav li { float:left; margin:0; padding:0; border-left:1px solid #DDD; }
.pgnav li > * {
	display:block;
	height:26px;
	padding:0 10px;
	line-height:26px;
	background:white;
	background:-webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(245,245,245)),color-stop(1, rgb(255,255,255)));
	background:-moz-linear-gradient(center bottom,rgb(245,245,245) 0%,rgb(255,255,255) 100%);
}
.pgnav li.input > * { padding:0; background:#CCC; background:RGBA(255,255,255,.25); }
.pgnav li.input input { height:26px; padding:0 4px; border-width:0; background-color:transparent; }
.pgnav li > a:hover { background:white; }
.pgnav ul > li:first-child { border-width:0; }
.pgnav ul > li:first-child > * { border-radius:3px inherit inherit 3px; -moz-border-radius:3px 0 0 3px; -webkit-border-radius:3px 0 0 3px; }
.pgnav ul > li:last-child > * { border-top-right-radius:3px; border-bottom-right-radius:3px; -moz-border-radius-topright:3px; -moz-border-radius-bottomright:3px; -webkit-border-top-right-radius:3px; -webkit-border-bottom-right-radius:3px; }
.pgnav .on {}
.pgnav .on > * {
	text-decoration:none; color:#444;
	background: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0, rgba(235,235,235,.8)),
	    color-stop(1, rgba(215,215,215,.8))
	) !important;
	background: -moz-linear-gradient(
	    center bottom,
	    rgba(238,238,238,.8) 0%,
	    rgba(221,221,221,.8) 100%
	) !important;
}
.pgnav .on a { cursor:text; }
.pgnav li.off > * { color:#CCC; background:RGBA(255,255,255,.3) !important; }
.pgnav .sprite a { position:relative; width:36px; height:26px; padding:0; }
.pgnav .sprite a span { display:block; width:16px; height:16px; overflow:hidden; position:absolute; top:5px; left:10px; text-indent:500px; }
.pgnav .standout { border-color:#005BB7; }
.pgnav .standout a { background-color:#06C; color:white; font-weight:bold; text-decoration:none; }
.pgnav .standout a:hover { background-color:#09F; }

a.bluebutton {
	display:block;
	padding:.35em .8em;
	background:#06C; background:-moz-linear-gradient(top, #0F87FF, #06C);
	color:white; text-decoration:none; font-size:14px;
	border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;
	box-shadow:0 0 .4em #BBB; -moz-box-shadow:0 0 .4em #BBB; -webkit-box-shadow:0 0 .4em #BBB;
}
a.bluebutton:hover { background:#09F !important; }

.ui-selectable-helper { position:absolute; z-index:100; border:1px dotted #06C; background-color:#95CAFF; opacity:.5; }
