
#account {}

#account header {}
#account header h1 { margin:0 0 0 55px; }
#account header .useravatar { float:left; }
#account header p { clear:left; }

#account header nav ul { height:27px; margin:20px 0; padding:0; list-style:none; }
#account header nav ul li { float:left; }
#account header nav ul li a {
	display:block;
	margin:0 5px 0 0;
	padding:5px 10px;
	text-decoration:none;
	font-size:14px;
	color:#666;
	background-color:#DDD;
}
#account header nav ul li a:hover { background-color:#CCC; }
#account header nav ul li.on a { color:white; background-color:#39F; }

/* INDEX */

#acctindex {}

#acctindex .bar { height:24px; border-left:1px solid #DDD; }
#acctindex .bar div { float:left; min-width:8px; max-width:16% !important; padding:3px 6px; color:white; font-family:monospace; border-width:1px 1px 1px 0; border-style:solid; border-color:#DDD; }

#edit-details {}

#edit-details h2 { font:400 2em/1.1 Arial; margin:0 0 20px; padding:0; border-width:0; color:#333; text-shadow:1px 1px 0 RGBA(0,0,0,.2); }
#edit-details .hr {}

#edit-details dl { margin:-15px 0 0; padding:0; font-size:14px; }
#edit-details dt { float:left; clear:left; margin:0; padding:15px 0 0; font-weight:bold; line-height:26px; }
#edit-details dd { margin:0; padding:15px 0 0; }
#edit-details dd + dd { padding-top:10px; }
#edit-details dl.col dd { margin-left:110px; }
#edit-details dd.text { line-height:26px; }
#edit-details dd.text + dd { padding-top:5px; }

#edit-details input, #edit-details textarea, #edit-details select { padding:5px 7px; font-size:14px; }

#edit-details dl.col input, #edit-details dl.col textarea { width:306px; }

A.add-button {
	display: table;
	padding: 3px 8px 3px 25px;
	font-weight: bold; 
	text-decoration: none; 
	border: 1px solid #06C;
	background: url("/bin/img/plus-big.png") no-repeat 6px 5px; }
A.add-button:HOVER {
	border-color: #39F;
	background-position: 6px -27px; }

#add-game-form .input {
	display: table;
	float:left;
	height: 30px;
	border-width: 1px 0 1px 1px;
	border-style: solid;
	border-color: #CCC; }
#add-game-form INPUT {
	padding: 3px 0 0 6px;
	font-family: arial;
	font-size: 22px;
	border-width: 0; }
#add-game-form .submit IMG {
	border-width: 1px;
	border-style: solid;
	border-color: #21478E; }

TABLE#ag-title-house {
	position: relative; top: 1px;
	border-width: 1px;
	border-style: solid;
	border-color: #CCC #CCC white #CCC; }
#ag-title-house TD {
	padding: 3px 7px 0 7px; }
#add-game-title {
	font-size: 22px; }
#ag-title-house .x {
	float: right;
	margin: 0;
	font-size: 13px; }

#your-account {}
	
	#your-account CAPTION {
		margin: 0;
		padding: 10px;
		font-size: 16px;
		font-weight: bold;
		color: #666;
		text-align: left;
		background-color: #EEE;
		border-bottom: 1px solid #DDD; }
	
	#your-account TABLE TH {
		padding: 4px 4px 4px 10px;
		background-color: #F5F5F5;
		vertical-align: top;
		border-bottom: 1px solid #DDD; }
	#your-account TABLE TD {
		padding: 4px 4px 4px 10px;
		border-bottom: 1px solid #DDD; }
	
	#your-details, #contact, #your-site-reviews, #your-reader-reviews, #your-album-ratings, #your-album-collection {
		margin: 0 1em 1em 0;
		border: 1px solid #CCC; }
		
		#your-details thead {
			display: none; }
		
		#your-ratings thead {
			display: none; }
	
	#forum-activity, #your-ratings, #your-collection, #your-playlist {
		margin-bottom: 1em;
		border: 1px solid #CCC; }
	
	#forum-activity TD { }
		
		#forum-activity BIG {
			font: bold 16px arial;
			color: #696969; }
	
	#your-playlist UL {
		margin: -4px -4px -4px -10px;
		padding: 0; }
		
		#your-playlist LI {
			margin: 0;
			padding: 4px 4px 4px 10px;
			border-bottom: 1px solid #DDD;
			list-style-type: none; }
			
#user-head {
	margin-bottom: 1em; }
	
	#user-head H1 {
		margin: 0 10px 0 0;
		font-size: 25px;
		border: 0; }
	
	#user-head #mem-since {
		padding-left: 10px;
		font-size: 11px; }
	
	#user-head #admin-cell A {
		display: block;
		padding: 3px 5px;
		text-decoration: none;
		font: bold 19px arial;
		background-color: #369;
		color: #8CB3D9; }
		
		#user-head #admin-cell A:HOVER {
			color: #C5DDF5; }
		
		#user-head #admin-cell BIG {
			font: bold 19px arial;
			color: #C5DDF5; }

/* avatar */

ul#select-avatar { margin:20px 0 0; padding:0; list-style:none; }
#select-avatar li { float:left; margin:0; padding:0; opacity:.8; }

#select-avatar li a[rel="avatar"] {
	display:block;
	margin:0 5px 5px 0; padding:2px;
	border:2px solid transparent;
}
#select-avatar li.on a {}
#select-avatar li.on, #select-avatar li:hover { opacity:1; }
#select-avatar li big { display:none; }
#select-avatar li.on big { display:block; width:109px; height:109px; overflow:hidden; }
#select-avatar li.on big img { max-width:100%; margin-top:-6px; }
#select-avatar li.on img.icon { display:none; }

.score dl { height:40px; margin:0; padding:0; }
.score dt {
	float:left;
	margin:0; padding:2px 5px;
	font-weight:bold; font-size:24px; color:white;
	border-radius:2px;
}
.score dd { float:left; width:50px; margin:0 0 0 3px; padding:2px 6px 2px 3px; color:#666; font-size:13px; line-height:15px; }
.score dd b { color:black; }
.score dd + dt { margin-left:13px; }

/* animation for avatar selection */
.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}
.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}
/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}