
ABBR, ACRONYM {
	background: url(http://squarehaven.com/index/graphics/icons/information.png) no-repeat center left;
	padding-left: 15px;
	line-height: 15px;
	cursor: help; }

FIELDSET {
	border: 1px solid #808080; }
FIELDSET P, TD P {
	margin: 5px 0 0 0; }

#admin-menu {
	width: 170px;
	float: left;
	padding: 15px 0 0 0; }
#admin-menu > .container {
	padding: 10px 10px 7px 10px;
	border: 1px solid #C0C0C0;
	background-color: #EEE; }
#admin-menu H5 {
	margin: 0;
	padding: 0;
	font-size: 15px;
	color: #666;
	white-space: nowrap; }
#admin-menu DL {
	margin: 0;
	padding: 0; }
#admin-menu DT {
	margin: 10px 0 3px 0;
	padding: 0;
	font-weight: bold; }
#admin-menu DD {
	margin: 0 0 3px 10px;
	padding: 0 0 0 0;
	font-size: 11px; }

#admin-content {
	margin-left: 200px; }

TABLE.admin-form {
	width: 100%; }
  .admin-form TH {
  	width: 17%;
  	padding: 5px 5px 5px 0;
  	font-weight: bold;
  	text-align: left;
  	vertical-align: top;
  	border-top: 1px solid #DCDCDC; }
  .admin-form TH SMALL {
  	font-weight: normal ! important;
  	font-size: 10px;
  	color: #777; }
  .admin-form TD {
  	padding: 5px;
  	font-size: 12px;
		border-top: 1px solid #DCDCDC;
  	background-color: #F5F5F5; }
	
TABLE.heading-tabs {
	margin: 15px 0 1em 0;
	background: #EEE; }
	.heading-tabs TH {
		padding: 0 7px;
		text-align: left;
		border-width: 1px 1px 0 1px;
		border-style: solid;
		border-color: #C0C0C0; }
	.heading-tabs TD {
		border-width: 1px;
		border-style: solid;
		border-color: transparent transparent #C0C0C0 transparent;
		white-space: nowrap; }
	.heading-tabs H2 {
		margin: 0 0 10px 0;
		padding: 0; }
	.heading-tabs TD A {
		display: block;
		padding: 2px 7px; }
	.heading-tabs TD.here {
		border-color: #C0C0C0 #C0C0C0 white #C0C0C0 ! important;
		background-color: white ! important; }
	.heading-tabs TD.here A {
		color: black;
		text-decoration: none; }
	.heading-tabs TD.first {
		border-color: transparent transparent #C0C0C0 #C0C0C0 ! important; }
	.heading-tabs TD.last {
		border-color: transparent #C0C0C0 #C0C0C0 transparent ! important; }
	
TABLE.dir-tree {}
	.dir-tree TH {
		padding: 3px 5px;
		font-size: 12px; 
		border-top: 1px solid #BBB;
		border-bottom: 1px solid #BBB;
		background-color: #DDD; }
	.dir-tree TD {
		padding: 3px 5px;
		font-size: 12px; 
		border-bottom: 1px solid #DDD; }
	.tree-directory TD {
		background-color: #F5F5F5; }
	.tree-subdirectory > TD:FIRST-CHILD A {
		padding-left: 18px;
		background: url(/bin/img/tree_branch.png) no-repeat 3px 50%; }
	.tree-action {
		width: 45px;
		text-align: center; }

.html-toolbox {
	border: 1px solid #808080;
	background-color: white; }
.html-toolbox .tools {
	border-bottom: 1px solid #808080;
	padding: 5px;
	background-color: #F5F5F5; }
.tools .separator {
	font: normal 16px verdana;
	color: #AAA; }
.html-toolbox TEXTAREA {
	padding: 5px;
	border-width: 0;
	font-size: 11px; }

/* MEDIA MANAGER */

FIELDSET#working-dir {
	background-color: #EEE; }
FIELDSET#working-dir P {
	margin-left:5px; 
	padding-left:13px; 
	background:url(/bin/img/arrow-down-right.png) no-repeat 0 2px; }
.code-for-img {
	float: right;
	width: 520px;
	font-size: 11px; }

/* PEOPLE */

TABLE.persondata {}
.persondata TH {
	border-bottom: 1px solid #C0C0C0;
	background-color: #EEE;
	vertical-align: bottom; }
.persondata H3 {
	border: 0;
	margin: 0;
	padding: 0; }
.persondata TD {
	border-bottom: 1px solid #C0C0C0; }
.persondata TD TD {
	border-width: 0; }
.persondata .nostyle {
	padding: 0 !important;
	border-width: 0 !important; }


/* ALBUMS */

#album-header {
	margin-top: 15px; }

#album-header TD {
	vertical-align: top;
	font-size: 11px; }

.steplink {
	font-size: 14px;
	font-weight: bold; }

#album-people-list {
	margin-top: 5px;
	border-top: 1px solid #AAA; }
#album-people-list TD {
	padding: 5px 5px 0 5px; }
#album-people-list .last {
	padding-bottom: 5px;
	font-size: 11px;
	border-bottom: 1px solid #AAA; }
#album-people-list TBODY.selected TD {
	background-color: #F4D8D7; }

TABLE.albums-track-list {
	border-width: 1px 1px 0 1px;
	border-style: solid;
	border-color: #AAA: }
.albums-track-list TH, .albums-track-list TD {
	border-bottom: 1px solid #AAA; }
.albums-track-list TH {
	background-color: #CCC; }
.albums-track-list TR.even TD {
	background-color: #F5F5F5; }
.albums-track-list TR.selected TD {
	background-color: #F4D5D0; }
	
TEXTAREA.line-numbers {
	font-family:monospace;
	border-width: 0;
	background-image:url("/bin/script/codepress/images/line-numbers.png");
	background-repeat:repeat-y;
	background-position:0 3px;
	line-height:16px;
	height:100%;
	font-size:11px;
	white-space:pre;
	font-family:monospace;
	padding:14px 0 0 31px;
}

TR.sel-relalbum-on TD {
	background-color: #FFFF9D;
}