.ac_results {
	margin:3px 0 0;
	padding: 0px;
	border-width: 1px;
	border-style: solid;
	border-color: #777;
	background-color: white;
	overflow: hidden;
	z-index: 99999;
	border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px;
	box-shadow:0 0 2px -1px rgba(0, 0, 0, 0.6); -moz-box-shadow:0 0 2px -1px rgba(0, 0, 0, 0.6); -webkit-box-shadow:0 0 2px -1px rgba(0, 0, 0, 0.6);
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: pointer;
	display: block;
	border-top: 1px solid #DDD;
	/* 
	if width will be 100% horizontal scrollbar will apear 
	when scroll mode will be used
	*/
	/*width: 100%;*/
	font-size:12px;
	/* 
	it is very important, if line-height not setted or setted 
	in relative units scroll will be broken in firefox
	*/
	line-height: 16px;
	overflow: hidden;
}
.ac_results li:first-child {
	border-top:none;
}
.ac_results li strong {
	font-weight: normal;
	background-color: #FFFFB9;
}
.ac_results li b strong {
	font-weight: bold;
}
.ac_results li small { float:right; font-size:12px; color:#AAA; }

.ac_loading {
	background:white url('/bin/img/loading_arr_bbb.gif') right center no-repeat;
}

.ac_odd {
}

.ac_over {
	background-color: #39F;
	color: white !important;
}
.ac_over strong {
	background-color: transparent !important;
}
.ac_over SMALL, .ac_over .music I {
	color: #AAD5FF !important ;
}

.music {
	padding-right: 11px;
	background: url(/bin/img/musicnote.png) no-repeat right center;
}
.music I {
	color: #666;
}
.ac_over .music {
	background-image: url(/bin/img/musicnote_white.png);
}