
.badge {}

.badgeearn {
	display:none;
	position:fixed; z-index:101; top:12%; left:50%;
	width:590px;
	margin:0 0 0 -280px;
	cursor:pointer;
}
.badgeearn > .container {
	padding:30px;
	text-align:center;
	background:url("/bin/img/decorative_bg.jpg");
	border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;
	box-shadow:
}
.badgeearn .close { top:15px; right:15px; }
.badgeearn H5 { margin:0; padding:0; font-size:25px; }
.badge H6 { margin:15px 0 0; padding:0; font-size:45px; color:#666; }
.badgeearn .badgeimg { margin:15px 0 0; }
.badge big { display:block; margin:15px 0 0; font-size:21px; }
.badge .message { margin:15px 0 0; font-size:15px; color:#333; }
.badge .value { color:black; padding-left:21px; background:url("/bin/img/icons/gold.png") no-repeat left center; }
.badge .silver { background-image:url("/bin/img/icons/silver.png"); }
.badge .bronze { background-image:url("/bin/img/icons/bronze.png"); }

ul.badges { margin:0; padding:0; list-style:none; }
.badges li { margin:0; padding:0; float:left; }
.badges li a { display:block; padding:8px; }
.badges li a:hover { background-color:white; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; }

.showbadge {}
.showbadge h6 { margin:0 0 0 165px !important; }
.showbadge big { margin:10px 0 0 165px; font-size:30px; }
.showbadge .message { margin:10px 0 0 165px; font-size:21px; color:#777; }
.showbadge .badgeimg { float:left; }
.showbadge small { display:block; margin:10px 0 0 165px; font-size:14px; color:#555; }
.showbadge + .clear { clear:left; height:15px; }
.showbadge .value { color:#333; }