
#forum{}
#forum.comments { margin:30px 0 0; }

#forum H1 {
	margin: 0;
	border-width: 0;
	letter-spacing: normal;
	line-height: 90%; }
	#forum H1 A { text-decoration: none; }
	#forum H1 SPAN { color:black; }
	#forum H1 SMALL { display:block; font-weight:normal; font-size:14px; color:#AAA; text-shadow:none; }

#forum.comments H1 { display:none; }

#forum H2.startthediscussion { font:bold 28px Helvetica; padding:0 0 0 30px; color:#CCC; background:url(/bin/img/icons/chat.png) no-repeat left center; border-width:0;
	text-shadow: rgba(0,0,0,0.1) -1px 0, rgba(0,0,0,0.1) 0 -1px,
             rgba(255,255,255,0.1) 1px 0, rgba(255,255,255,0.1) 0 1px,
             rgba(0,0,0,0.1) -1px -1px, rgba(255,255,255,0.1) 1px 1px;  }

#forumdesc {
	float:left;
	position: relative;
	margin: 10px 0 0;
	padding: 10px 12px;
	font-size: 110%;
	background-color: white;
	border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;
	box-shadow:0 0 1em #CCC; -moz-box-shadow:0 0 1em #CCC; -webkit-box-shadow:0 0 1em #CCC;
}
#forumdesc .speechpt { position:absolute; top:-5px; left:15px; width:10px; height:5px; background:url(/bin/img/speech_point_white_up.png) no-repeat center top; }
#forum.comments #forumdesc { display:none; }

#forum-body {}

#forum .menu {}
	#forum .menu > UL { width:100%; height:24px; margin:20px 0 0; padding:0; list-style:none; }
	#forum .menu > UL > LI { float:left; }
	#forum .menu LI > SPAN,
	#forum .menu LI > B,
	#forum .menu LI > A {
		display: block;
		margin: 0 6px 0 0;
		padding: 3px 8px;
		font-weight: bold;
		font-size: 14px;
		text-decoration: none;
		border: 1px solid #CCC;
		white-space:nowrap;
		border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px;
	}
	#forum .menu > UL > LI.flush > * { margin-left:-3px; }
	#forum .menu LI > B { border-color:#AAA; background-color:white; }
	#forum .menu A:HOVER { border-color:#39F !important; }
	#forum .menu A.nav { background-position:center 8px; background-repeat:no-repeat; }
	#forum .menu A.nav:HOVER { background-position:center -92px; }
	#forum .menu .newpost A {
		padding: 4px 8px;
		color: white;
		border: none !important;
		background: url(/bin/img/gradient_yellow_sm.png) repeat-x 0 0;
	}
	#forum .menu .newpost A:HOVER { background-position:0 -38px; }
	#forum .menu SELECT { border:none; margin:-1px -5px; padding:0; background-color:transparent; }

/* INDEX */

.forum-index {}
.forum-index BIG.heading {
	display: block;
	margin: 20px 0 0;
	font-size: 16px;
	font-weight: normal;
	color: #666;
	line-height: 1.5em;
}
.forum-index H1 {
	font-size: 16px;
	color: black;
	display: inline;
	line-height: 1.5em;
	text-shadow: none;
}
.forum-index .heading B { font-weight:normal; color:black; }

.forum-index H3 {
	margin: 25px 0 3px;
}
.forum-index UL.index-nav {
	margin: 20px 0 0;
	padding: 0;
	list-style: none;
}
.forum-index UL.index-nav LI {
	margin: 5px 0 0 15px;
	padding: 0 0 0 11px;
	font-size: 15px;
	background: url(/bin/img/arrow-small-gray-right.png) no-repeat 0 6px;
}
.forum-index .search-forums { margin:25px 0 0; }

.forum-index-list {}
	.forum-index-list TH { padding:25px 0 0; border-bottom:2px solid #333; font-size:25px; text-transform:uppercase; color:#333; }
	.forum-index-list TH SMALL { display:none; }
	.forum-index-list TD { padding:8px 8px; border-bottom:1px solid #CCC; background-color:white; }
	.forum-index-list TR TD:first-child { padding:8px 0 8px 30px; background-position:7px 9px; background-repeat:no-repeat; }
	.forum-index-list TD A.forum-name { font-weight:bold; font-size:14px; }
	.forum-index-list TD .forum-desc { margin-top:3px; }
	
	.forum-index-list .subcategory-row TD {
		padding: 5px 4px;
		background-color: #EEE; }
		
		.forum-index-list .subcategory-row .content {
			background: #EEE url('/bin/img/icons/clock.gif') no-repeat 4px 50%;
			padding-left: 23px;
			color: #696969; }
	
	.forum-index-list .sticky TD {
		background-color: #E9E9E9 ! important; }
	
	.forum-index-list A.locked {
		padding: 2px 0 2px 15px;
		background: url('/bin/img/icons/lock.png') no-repeat center left; }
	
	.forum-index-list A.link-to-newest-post {
		padding-left: 8px;
		font: bold 11px Arial;
		color: #C43C3C; }
	
	.forum-index-list A.link-to-last-page {
		padding-left: 8px;
		text-decoration: none;
		background: url(/bin/img/page-end.png) no-repeat 50% 50%; }
	.forum-index-list A.link-to-last-page ACRONYM {
		border-width: 0; }
	.forum-index-list A.link-to-last-page SPAN {
		visibility: hidden; }
	
	.forum-index-list .thumbs-text {
		vertical-align: top;
		margin: 0 0 0 2px;
		font: normal 9px Arial;
		color: #a9a9a9; }
	
	.forum-index-list .topic-title A {}
	.forum-index-list .last-post {
		font-size: 12px; }

/* FORUM */

#new-topic-form { display:none; margin:20px 0 0; }
#new-topic-form FORM > LABEL { display:block; margin:0 0 3px; font-size:15px; }
#new-topic-form .buttons INPUT { font-size:15px; padding-top:3px; padding-bottom:3px; }

#reply-opts LI A { background-color:transparent; }
#reply-opts .on A { background-color:white; text-decoration:none; color:black; border-bottom-color:white !important; }
#reply-opts .opt {
	border-width:0 1px 1px; border-style:solid; border-color:#C0C0C0;
	padding:8px 10px;
	line-height:2em;
	background-color:white;
}

.topic-list { margin:20px 0 0; }
	.topic-list TH { padding:0 8px 3px; border-bottom:2px solid #333; font-size:15px; color:#333; }
	.topic-list TD { padding:8px 2px 8px 8px; border-bottom:1px solid #CCC; background-color:white; vertical-align:middle; }
	
	.topic-list .sticky TD { background:url(/bin/img/gradient-b2t-lightblue.png) repeat-x 0 0; border-color:#B3D9FF; }
	.topic-list .sticky .topic-title A { font-weight:bold; }
	
	.topic-list A.locked {
		padding: 2px 0 2px 15px;
		background: url('/bin/img/icons/lock.png') no-repeat center left; }
	
	.topic-list .thumbs-text {
		vertical-align: top;
		margin: 0 0 0 2px;
		font: normal 9px Arial;
		color: #a9a9a9; }
	
	.topic-list .topic-title { font-size:110%; }
	.topic-list .topic-title SMALL { display:block; font-size:12px; color:#888; }
	.topic-list .topic-title SMALL A { text-decoration:none; }

/* TOPIC */

OL#fpostslist {
	margin: 10px 0 15px;
	padding: 0;
	list-style: none;
}
#fpostslist > LI {
	margin: 0;
	padding: 10px 0 5px;
	clear: both;
}

#fpostslist > LI.hov { opacity:1 !important; }

#fpostslist > LI.loading { position:relative; }
#fpostslist > LI > .loading { display:none; position:absolute; top:38%; left:0; width:100%; height:100%; text-align:center; vertical-align:center; }
#fpostslist > LI.loading > .loading { display:block; }
#fpostslist > LI.loading DL { opacity:.3 !important; }

#fpostslist .belowth .message-text { display:none; }
#fpostslist .belowth-message { color:#888; }

#fpostslist > LI > DL { margin:0; padding:0; }
#fpostslist .reply DL { margin:0 0 0 40px; }
#fpostslist .replybubble { margin-bottom:10px; }
#fpostslist > LI > DL > DT {
	width: 152px;
	float: right;
}
	#fpostslist > LI.reply > DL > DT {  }
#fpostslist > LI > DL > DT A {
	display: block;
	text-decoration: none;
}
#fpostslist > LI > DL > DT > A > SPAN {
	display: block;
	padding: 3px 0 0;
	height:17px;
	overflow:hidden;
	white-space:nowrap;
}
#fpostslist DT .username U {
	font-weight: bold;
	font-size: 14px;
	text-decoration: underline;
}
#fpostslist DT .avatartn {
	float: left;
	display: block;
	width: 20px;
	height: 20px;
	margin: -2px 5px 0 0;
	border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;
	background-repeat:no-repeat;
	background-position: center center;
}
	#fpostslist .reply .avatartn {  }
#fpostslist > LI > DL > DT .avatar {
	display: none;
	width: 135px;
	margin: 3px 0 0;
	background-position:0 0; background-repeat:no-repeat;
	border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;
	box-shadow:0 0 1em #CCC; -moz-box-shadow:0 0 1em #CCC; -webkit-box-shadow:0 0 1em #CCC;
}
#fpostslist > LI > DL > DT .avatar IMG { visibility:hidden; }
#fpostslist > LI > DL > DT .user-title { font-size:12px; color:#666; height:15px; overflow:hidden; }
#fpostslist DD.message {
	position: relative;
	margin: 0 168px 0 0;
}
	#fpostslist .reply DD.message {  }
#fpostslist .status-ribbon { position:absolute; z-index:1; left:-5px; top:-5px; width:46px; height:46px; background-position:0 0; background-repeat:no-repeat; }
#fpostslist .reply .status-ribbon {  }
#fpostslist .speechpoint {
	position: absolute;
	top: 10px;
	right: -11px;
	width: 14px;
	height: 15px;
	background: url(/bin/img/speech_point_white.png) no-repeat -29px 0;
}
	#fpostslist .reply .speechpoint {  }
	#fpostslist .unread .speechpoint { background-image:url(/bin/img/speech_point_pink.png); }
#fpostslist .bubble {
	padding:20px;
	overflow-x: auto;
	overflow-y: hidden;
	border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;
	box-shadow:0 0 1.3em #CCC; -moz-box-shadow:0 0 1.3em #CCC; -webkit-box-shadow:0 0 1.6em #CCC;
	background-color: white;
}
#fpostslist .unread .bubble { background-color:#FFF1E0; }
#fpostslist .message-text { position:relative; z-index:2; line-height:1.5em; }
#fpostslist .message-text BIG { font-size:21px; }
#fpostslist .message-text BIG BIG { font-size:30px; }
#fpostslist .message-text SMALL { font-size:10px; }
#fpostslist .message-text > IMG { max-width:100%; }
#fpostslist .message-text > BLOCKQUOTE {
	margin: 0;
	padding: 0 0 0 35px;
	background: url(/bin/img/blockquote.png) no-repeat 0 3px;
	color: #666;
	font-style: italic;
	min-height: 30px;
}
#fpostslist .message-text > BLOCKQUOTE I, #fpostslist .message-text > BLOCKQUOTE EM { font-style:none; }
#fpostslist .message-text > A.pglink { text-decoration:none; }
#fpostslist .message-text > A.pglink:HOVER { text-decoration:underline; }

/* tags for the thread at the top */
.topictags { display:block; margin:10px 0 -10px; }
.topictags H3 {
	float:left;
	margin:3px 8px 0 0; padding:5px 9px;
	font-size:15px; color:#666;
	background-color:white;
	border:none; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;
}
.topictags .tagspace { clear:both; padding-top:6px; }

/* tags on individual posts */
#fpostslist .taglist { margin:1em 0 0; }

#fpostslist .message-ops { margin:1em 0 0 5px; padding:0; text-align:right; clear:both; }
#fpostslist .message-op { margin:0; padding:0; list-style:none; }
#fpostslist .justposted .message-ops .info,
#fpostslist .justposted .message-ops .buttons,
#fpostslist.loaded .message-op { display:block; }
#fpostslist .message-ops .info LI {
	float: left;
	margin: 0;
	padding: 0 10px 0 0;
	font-size: 12px;
	color: #888;
}
#fpostslist .message-ops .info LI:first-child { background-image:none; }
#fpostslist .message-ops .info LI A { color:#AAA; }
#fpostslist .message-ops .info LI A:HOVER { color:#555; }
#fpostslist .message-ops .postnum { background:url(/bin/img/icons/comments.gif) no-repeat 0 50%; padding-left:13px; }
#fpostslist .message-ops .postnum-new { background-image:url(/bin/img/icons/comments-new.gif) !important; }
#fpostslist .message-ops .buttons LI {
	float: right;
	margin: 0;
	font-size: 12px;
}
#fpostslist .message-ops .buttons A {
	display:none;
	margin:0; padding:3px 6px;
}
#fpostslist .hov .message-ops .buttons A {
	display:block;
	color:#EEE !important; text-decoration:none;
	background:#06C url(/bin/img/gradient-b2t.png) repeat-x 0 -125px;
	box-shadow:0 0 2px #AAA; -moz-box-shadow:0 0 2px #AAA; -webkit-box-shadow:0 0 2px #AAA;
}
#fpostslist .hov .message-ops .buttons LI:FIRST-CHILD A {
	border-radius:0 3px 3px 0; -moz-border-radius:0 3px 3px 0; -webkit-border-radius:0 3px 3px 0;
}
#fpostslist .hov .message-ops .buttons LI:LAST-CHILD A {
	border-radius:3px 0 0 3px; -moz-border-radius:3px 0 0 3px; -webkit-border-radius:3px 0 0 3px;
}
#fpostslist .message-ops .buttons A:HOVER { background-color:#39F; }

#fpostslist .hearts-rating {
	position:relative;
	float:right;
	height:21px;
	margin: 0 0 0 10px;
}
#fpostslist .hearts-rating.disabled {}
#fpostslist .hearts-rating.disabled A {}
#fpostslist .hearts-rating.loading A, #fpostslist .hearts-rating.loading SPAN { opacity:.3; }
#fpostslist .hearts-rating.loading > .loading {
	position:absolute;
	top:0; bottom:0;
	width:80%;
	margin:0 10%;
	background:url(/bin/img/loading_bar.gif) no-repeat center center;
}
#fpostslist .hearts-rating A {
	opacity:.7;
	float:left;
	width:18px; height:21px;
	font-weight:bold; font-size:16px;
	text-decoration:none; text-align: center;
	line-height:22px;
	color:#70C563;
}
#fpostslist .hearts-rating A:first-child { color:#E74141; }
#fpostslist .hearts-rating A:HOVER { opacity:1; }
#fpostslist .hearts-rating A:first-child:HOVER {  }
#fpostslist .hearts-rating SPAN {
	display:block;
	float:left;
	padding:4px 2px 0 4px;
}
#fpostslist .hearts-rating SPAN IMG { margin:0 1px 0 0; }

#fpostslist .belowth .hearts-rating, #fpostslist .belowth .buttons { display:none !important; }

.message-reply-form { margin-right:6px; }
.message-reply-form TEXTAREA { width:100%; height:210px; background-color:#F5F5F5; }
#forum .clicktoreply { 
	display:block;
	margin:-15px; padding:20px 20px 20px 45px;
	font-size:16px; text-decoration:none;
	background:url(/bin/img/icons/chat.png) no-repeat 20px center;
	border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;
}
#fpostslist > LI:first-child .clicktoreply { background-image:none; padding-left:20px; }
#forum .clicktoreply:HOVER { background-color:#FFFFBF; }
#forum .clicktoreply I { color:#888; }
.message-reply-form P { clear:both; margin:5px 0 0; }
.message-reply .buttons { margin-top:10px; }
.message-reply .buttons INPUT { font-size:14px; padding-top:3px; padding-bottom:3px; }

#forum .postnav {
	margin:20px 0 10px;
	padding:0;
	background-color: #444;
	border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;
	box-shadow:0 0 1em #CCC; -moz-box-shadow:0 0 1em #CCC; -webkit-box-shadow:0 0 1em #CCC;
}
#forum .postitem + .postnav { margin:15px 0 25px; }
#forum .postnav TABLE {}
#forum .postnav TD, #forum .postnav TH { vertical-align:middle; font-size:15px; color:white; }
#forum .postnav TH { padding:10px 15px; }
#forum .postnav TD { padding: 4px 10px; }
#forum .postnav A {
	display: block;
	padding: 4px 10px;
	font-weight: bold;
	color: white;
	text-decoration: none;
	background: url(/bin/img/gradient_yellow_sm.png) repeat-x 0 0;
	border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;
	box-shadow:0 0 5px #222; -moz-box-shadow:0 0 5px #222; -webkit-box-shadow:0 0 5px #222;
}
#forum .postnav A:HOVER { background-position:0 -38px; }
#forum .postnav .up, #forum .postnav .down {
	padding-left: 23px;
	background: url(/bin/img/arrow-up-point.png) no-repeat 10px 50%; }
#forum .postnav .down { background-image:url(/bin/img/arrow-down-point.png); }
#forum .postnav .loading { border-width:0; }

#forum-foot { margin:20px 0 0; }
#forum-foot TD { font-size:14px; }
#forum-foot A:FOCUS { background-color:#FFFFA8; }


.forum-tag-list { line-height:32px; }
.forum-tag-list A, A.forum-tag { padding:0 2px; }
.forum-tag-list A:HOVER, A.forum-tag:HOVER { color:white; background-color:#06C; text-decoration:none; }

UL.forum-topic-list {
	margin: 0;
	padding: 0;
	list-style: none; }
.forum-topic-list LI {
	margin: 5px 0 0 0;
	padding: 0; }
.forum-topic-list A {
	display: block;
	padding: 0 0 0 15px;
	background: url(/bin/img/icons/comments.gif) no-repeat 0 4px; }
.forum-topic-list LI.last A {
	text-decoration: none;
	color: black;
	background: url(/bin/img/bullet.png) no-repeat 3px 5px; }
.forum-topic-list LI.last A SPAN {
	color: #06C;
	text-decoration: underline; }
	
#forum #poll {
	margin: 20px 0 0;
	padding: 15px;
	border: 3px solid #DDD;
	background-color:white;
}
	#forum #poll h4 { margin:0; padding:0; font-weight:normal; font-size:15px; color:#666; }
	#forum #poll h4 B { color:#333; }
	#forum #poll OL { margin:5px 0 10px 0; padding:0; border-top:1px solid #DDD; list-style:none; }
	#forum #poll OL LI { position:relative; margin:0; padding:5px; border-bottom:1px solid #DDD; }
	#forum #poll OL LI LABEL { position:relative; z-index:2; color:black; }
	#forum #poll OL LI INPUT { margin:0; vertical-align:middle; }
	#forum #poll.hideres .res { display:none; }
	#forum .poll-data { float:right; position:relative; z-index:2; }
	#forum .poll-data .data { float:right; display:block; width:45px; text-align:right; }
	#forum .poll-bg { position:absolute; z-index:0; top:0; bottom:0; left:0; display:block; background:#E1F3FA none repeat scroll 0 0; }
	#forum #poll .yourvote { background:url(/bin/img/check_15.png) no-repeat 0 50%; color:#61BE6F; padding-left:17px; white-space:nowrap; }

#topic-reply .newthread { display:block !important; }

/*
#forum H2 {
	margin: 0;
	border-width: 0;
	font: normal 21px Arial;
	letter-spacing: normal;
	line-height: 90%;
	color: #696969}
	#forum H2 SPAN {
		margin: 0 ! important; padding: 0 ! important;
		font: bold 20px Arial ! important;
		color: #A9A9A9 ! important;
		border-width: 0 ! important; }
	#forum H2 A {
		text-decoration: none; }
	#forum H2#index-header {
		height: 68px;
		background: #369 url('/bin/img/shmfod.gif') no-repeat top left;
		border: 1px solid #1D3A58; }
		#forum H2#index-header SPAN {
			visibility: hidden; }

#forum .menu {}

#forum-form {}
#forum-form P {
	margin: 6px 0 0; }
#forum-form #inp-title {
	font-size: 16px; }
#forum-form #inp-title INPUT {
	font: normal 16px arial; }
#forum-form #RO-poll TABLE {}
#forum-form #RO-poll TH {
	font-weight: bold;
	text-align: right;
	vertical-align: top; }






.forum-index {
	padding: 15px 0 0; 
}

#forum-posts .message-text .game-link, #forum-posts .message-text .person-link {
	text-decoration: none; }
#forum-posts #tag-reminder {
	margin: 15px 0;
	border: 1px solid #DDD;
	background-color: white;
	line-height: normal;
}
#forum-posts #tag-reminder UL {
	margin: 0;
	padding: 0;
	list-style: none;
}
#forum-posts #tag-reminder UL LI {
	float: left;
	margin: 5px 5px 0 0;
}
#forum-posts #tag-reminder UL LI A {
	display: block;
	padding: 3px 6px;
	text-decoration: none;
	border: 1px solid #06C;
}
#forum-posts #tag-reminder UL LI A:HOVER {
	border-color: #39F !important;
}
#forum-posts #tag-reminder UL LI.point {
	position: relative;
	padding: 3px 6px;
	color: #888;
	border: 1px solid #DDD;
}
#forum-posts #tag-reminder UL LI.point DIV {
	position: absolute;
	right: -5px;
	width: 5px;
	height: 16px;
	background: url(/bin/img/point_right_ddd.png) no-repeat right center;
}
#forum-posts #tag-reminder UL LI.suggest A {
	border-color: #DDD;
}
#forum-posts .tagged {
	display: block;
	margin: 0 167px 15px 15px;
	padding: 12px 20px;
	color: #777;
	border: 1px dashed #DDD;
	background-color: white;
}

A#forum-initiate-reply {
	display: block;
	margin: -15px; 
	padding: 15px; 
	color: #777;
	text-decoration: none;
}
A#forum-initiate-reply:HOVER {
	background-color: #FFFFCE; }

#reply-form {}
#reply-form H5 {
	margin: 0 0 7px;
	padding: 0;
	font-weight: normal;
	font-size: 21px; }
#forum TEXTAREA {
	padding: 5px;
	font-size: 13px;
	font-family: Arial;
	border-color: #999 #CCC #CCC #999; }
#reply-form #submit-field {
	margin: 7px 0 0; }
#reply-form #submit-field INPUT {
	font-size: 14px;
	padding-top: 3px;
	padding-bottom: 3px; }
#reply-button {
	font-weight: bold; }
#reply-form #quote-inserted DIV {
	margin: 0 0 7px;
	padding: 10px;
	color: white;
	background-color: #E71818; }
#reply-form #quote-inserted .x {
	background-color: white; }
#reply-opts {
	margin: 10px 0; }
#reply-opts .opt {
	clear: both;
	padding: 10px;
	border-width: 0 1px 1px;
	border-style: solid;
	border-color: #CCC;
	background-color: white; }
	
#reply-form FIELDSET.identify {
	margin: 0 0 15px 0;
}
#reply-form .identify LEGEND {
	font-weight: bold;
	color: #888;
}
#reply-form .identify TABLE {
	margin: 3px 0 0;
}
#reply-form .identify TH {
	padding: 3px 10px 0 0;
	font-size: 14px;
	font-weight: normal;
	color: #666;
	vertical-align: top;
	white-space: nowrap;
}
#reply-form .identify TD {
	padding: 3px 0;
	width: 100%;
}
#reply-form .identify INPUT {
	background-color: #F5F5F5;
}
#reply-form .identify .msg {
	color: #666;
}

.forum-note {
	padding:1em;
	border:1px outset #C0C0C0;
	background-color:#EEE; }
	
	.forum-note BIG {
		font:bold 22px 'Lucida Sans Unicode'; }
		
#forum ACRONYM, #forum ACRONYM AAND `hide_from` != '1' {
	cursor: help; }
	
	#forum ACRONYM A {
		text-decoration: none;
		border-bottom: 1px solid #B54A4A; }

#forum #tags {
	margin: 0;
	padding: .75em 1em;
	background: #F5F5F5;
	border-bottom: 1px solid #C0C0C0; }
#forum #tags UL {
	margin: 10px 0 0;
	padding: 0;
	list-style-type: none; }
#forum #tags LI {
	margin: 0;
	padding: 0; }
#forum #tags LI A {
	padding: 2px; }
#suggest-tag-fields SELECT {
	font-family: Arial;
	font-size: 13px; }
#forum #tags A.suggest-tag {
	color: #808080;
	padding-right: 11px !important; }
	
#forum #poll {
	margin: 0;
	padding: .75em 1em;
	background: #F5F5F5;
	border-bottom: 1px solid #C0C0C0; }
#forum #poll H5 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	font-size: 16px; }
#forum #poll H5 SPAN {
	color: #666; }
#forum #poll OL {
	padding-left: 32px;
	color: #808080; }
#forum #poll OL LI {
	margin: 2px 0;
	padding: 2px; }
#forum #poll OL LI.results {
	background-color: #D1DCED;
	background-image: url(/bin/img/forum-poll-bg.png);
	background-repeat: repeat-y; }
#forum #poll OL LI LABEL {
	color: black; }
#forum #poll OL LI INPUT {
	vertical-align: top; }
#forum #poll .polldata {
	color: #6C91C6; }
#forum #poll .yourvote {
	padding-left: 17px;
	color: green;
	background: url(/bin/img/check_15.png) no-repeat 0 50%; } 
*/