.htmltools {
	margin-bottom: 3px; }
.htmltools > TABLE > TR > TD {
	padding: 0 !important;
	border-width: 0 !important; }
	.htmltools A.insert { text-decoration:none; }
.htmltools A.insert IMG {
	margin: 0 3px 0 0;
	padding: 2px;
	border: 1px solid #DDD; }
.htmltools A.insert IMG.on, .htmltools .linkgen INPUT[type=text] { background-color:#E0ECFF; border-color:#AECDFF transparent transparent #AECDFF; }	
.htmltools A.insert:HOVER IMG { border-color:#39F; }
.htmltools TD.linkgen1 {
	padding: 2px 5px;
	color: #888;
	border-width: 1px 0 1px 1px;
	border-style: solid;
	border-color: #DDD;
	vertical-align: center;
	white-space: nowrap;
	line-height: normal !important;
}
.htmltools .linkgen INPUT[type=text] {
	width: 100%;
	margin: 0 !important;
	padding: 3px 1px 2px 3px !important;
	font-family: arial !important;
	font-size: 12px !important;
	border-width:1px !important; border-radius:0 !important; -moz-border-radius:0 !important; webkit-border-radius:0 !important;
}
.htmltools .linkgen INPUT.styled-on {
	border-width: 1px !important; }
.htmltools .tb-subspace {
	display: none;
	margin: 5px 0;
	padding: 5px;
	background-color:white;
	border: 1px dashed #DDD;
}
.htmltools .tb-subspace H5 { margin:0 0 5px; padding:0; font:bold 14px Arial; }

.htmltools .emoticon-space A { display:block; float:left; width:16px; height:16px; margin:3px; padding:3px; border:1px solid transparent; }
.htmltools .emoticon-space A:HOVER { border-color:#39F; }