
.imgframe {
	display:none;
	position:fixed; z-index:105; top:0; left:50%;
	width:960px; height:140px; overflow:auto;
	margin:0 0 0 -480px;
	background-color:#333; background-color:RGBA(0,0,0,.95);
	color:white;
	box-shadow:0 0 30px black; -moz-box-shadow:0 0 30px black; -webkit-box-shadow:0 0 30px black;
	border-radius:0 0 5px 5px; -moz-border-radius:0 0 5px 5px; -webkit-border-radius:0 0 5px 5px;
}
.imgframe > .container { padding:20px; }
.imgframe ul.nav { float:left; margin:0; padding:0; list-style:none; width:27px; height:100px; }
.imgframe .nav li { margin:0; padding:0; margin:0 0 10px; border:1px solid black; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; }
.imgframe .nav li a { display:block; width:13px; height:13px; padding:6px; }
.imgframe .nav li a:hover { background-color:black; }
.imgframe .nav li a span { display:block; width:13px; height:13px; overflow:hidden; text-indent:500px; background-image:url("/bin/img/icons/sprites_img.png"); opacity:.8; }
.imgframe .nav li a:hover span { opacity:1; }

ul.imginslist { margin:0 0 0 30px; padding:0; }
.imginslist li { position:relative; width:100px; height:100px; margin:0 0 9px 9px; padding:0; list-style:none; float:left; }
.sessionlist li { cursor:pointer; }
.imginslist dt { position:absolute; bottom:0; width:90px; overflow:hidden; margin:0; padding:1px 5px; background:url("/bin/img/thickbox_caption_bg.png"); font-size:12px; color:white; }
.imginslist dd { margin:0; padding:0; }

.uploadslist{}
.uploadslist dl { position:relative; height:60px; overflow:hidden; margin:0 20px 20px 0; padding:0; float:left; width:300px; }
.uploadslist dt { margin:0 0 0 70px; padding:0; font-size:16px; white-space:nowrap; }
.uploadslist dd { margin:3px 0 0 70px; padding:0; color:#666; }
.uploadslist dt img { position:absolute; left:0; width:60px; height:60px; }

/* SHADOWBOX */

a[rel="shadowbox"]{cursor:-moz-zoom-in;}

#sb-title-inner,#sb-info-inner,#sb-loading-inner,div.sb-message{font-size:12px;color:#fff;}
#sb-container{position:fixed;margin:0;padding:0;top:0;left:0;z-index:999;text-align:left;visibility:hidden;display:none;}
#sb-overlay{ position:relative; height:100%; width:100%; opacity:.9 !important; }
#sb-wrapper{position:absolute;visibility:hidden;width:100px;}
#sb-wrapper-inner{
	position:relative;
	overflow:hidden; height:100px;
	box-shadow:0 0 3em black; -moz-box-shadow:0 0 3em black; -webkit-box-shadow:0 0 3em black;
}
#sb-body{position:relative;height:100%;}
#sb-body-inner{position:absolute;height:100%;width:100%;}
#sb-player.html{height:100%;overflow:auto;}
#sb-body img{border:none;}
#sb-loading{ position:relative; height:100%; background:url(/bin/img/loading_bar.gif) no-repeat center center; }
#sb-loading-inner{ display:none; }
#sb-body,#sb-loading{background-color:#060606;}
#sb-title{
	position:absolute; bottom:0; left:0; right:0; z-index:1;
	padding:10px 50px 10px 10px;
	background:url(/bin/img/thickbox_caption_bg.png);
	font-size:12px; color:white;
}
#sb-nav a{ display:block; position:fixed; }
#sb-nav-close{
	height:20px;
	right:0; top:0;
	padding:10px 28px 10px 10px;
	font-weight:bold; font-size:16px; color:white; text-decoration:none;
	background:url(/bin/img/x_small_white.png) no-repeat 84% center;
}
#sb-nav-next, #sb-nav-previous {
	top:8px;
	display:block !important;
	padding:4px 10px;
	font-size:14px; text-decoration:none;
}
#sb-nav-previous {
	right:50%;
	padding-left:20px;
	background:white url(/bin/img/arrow-small-blue-left.png) no-repeat 15% 9px;
	border-radius:3px 0 0 3px; -moz-border-radius:3px 0 0 3px; -webkit-border-radius:3px 0 0 3px;
}
#sb-nav-previous:hover { background-position:15% -91px; }
#sb-nav-next {
	left:50%;
	padding-right:20px;
	background:white url(/bin/img/arrow-small-blue-right.png) no-repeat 85% 9px;
	border-left:1px solid #DDD; border-radius:0 3px 3px 0; -moz-border-radius:0 3px 3px 0; -webkit-border-radius:0 3px 3px 0;
}
#sb-nav-next:hover { background-position:85% -91px; }
#sb-nav a.off { opacity:.9; color:#CCC; cursor:default; }
#sb-nav-previous.off { background:white url(/bin/img/arrow-small-gray-left.png) no-repeat 15% 9px !important; }
#sb-nav-next.off { background:white url(/bin/img/arrow-small-gray-right.png) no-repeat 85% 9px !important; }
#sb-nav-play{background-image:url(play.png);}
#sb-nav-pause{background-image:url(pause.png);}
#sb-counter{ position:absolute; right:10px; bottom:10px; z-index:2; }
div.sb-message{font-size:12px;padding:10px;text-align:center;}
div.sb-message a:link,div.sb-message a:visited{color:#fff;text-decoration:underline;}
