
#pgnav { display:none;
	width:930px; height:28px;
	padding:15px 0 0;
}
	#pgnav UL {
		margin:0 0 0 -10px;
		padding: 0;
		text-align: right;
		list-style: none;
	}
	#pgnav LI {
		margin: 0;
		padding: 0;
		float: left;
	}
	#pgnav LI A {
		display: block;
		margin: 0 1px;
		padding: 5px 10px;
		border-color: transparent;
		border-style: solid;
		border-width: 1px; border-radius:8px 8px 0 0; -moz-border-radius:8px 8px 0 0; -webkit-border-radius:8px 8px 0 0;
		font-size: 14px;
		text-decoration: none;
		color:#777;
		opacity:.8;
	}
	#pgnav LI > A:HOVER { color:#444; background-color:#DDD; background-image:none; }
	#pgnav UL LI:first-child A {}
	#pgnav LI H3 { margin:0; padding:0; font-weight:normal; border-width:0; }
	#pgnav LI H3 A {
		margin:0 10px;
		padding:5px 15px;
		color: #555;
		border-color:#E5E5E5 #E5E5E5 transparent;
		background: transparent url(/bin/img/whitebg.70.png) repeat 0 0 !important;
		opacity:1;
	}
	#pgnav .edit SPAN, #pgnav .fan SPAN {
		padding-left:16px;
		color:#06C;
		background:url(/bin/img/med_edit.png) no-repeat 0 2px;
	}
	#pgnav .edit:HOVER, #pgnav .fan:HOVER { color:#39F; }