
/* overview page style */

#people-overview {}
	
#people-overview H2 {
	display: none; }

#people-overview H3 {
	padding: 5px 8px;
	background-color: #EEE;
	border: 1px solid #E5E5E5;
}

OL.overview-selection {
	margin: 0;
	padding: 0;
	list-style: none;
}
.overview-selection LI {
	margin: 0;
	padding: 0;
}
#cell-prolific LI {
	width: 49%;
	float: left;
}
.overview-selection LI A {
	display: block;
	height: 48px;
	overflow: auto;
	padding: 3px 0;
	text-decoration: none;
}
.overview-selection LI A IMG {
	float: left;
	margin: 0 5px 0 0;
	padding: 3px;
	border: 1px solid #DDD;
}
.overview-selection LI A:HOVER IMG {
	border-color: #39F;
}
.overview-selection LI A BIG {
	font-size: 14px;
	font-weight: bold;
	text-decoration: underline;
}
.overview-selection LI A SMALL {
	display: block;
	margin-top: 2px;
	font-size: 12px;
	color: black;
}

#people-info {
	float: left;
	width: 32%;
	margin: 1em 0 0 0;
	font-size: 12px;
	text-align: justify;
}
#people-info IMG {
	float: right;
	margin: 0 0 3px 5px;
}

#cell-prolific {
	float: right;
	width: 65%;
}
#cell-recent {
	float: left;
	width: 32%;
}
#cell-popular {
	clear: left;
	float: left;
	width: 32%;
}

/* index page style */

#index {}
#index .plain, #index .plain TD { border-color: #C0C0C0; }
#index H2 {
	display: inline;
	margin: 0; 
	padding: 0;
	font: normal 18px arial;
	border-width: 0; }
#index .alphabet TD {
	text-align: center; }
#index .alphabet TD A {
	display: block;
	min-width: 32px;
	padding: 5px 0;
	font: normal 18px arial;
	text-decoration: none; }
#index .alphabet TD A:HOVER {
	text-decoration: underline; }
#index .alphabet TD.on {
	border-bottom-color: #EEE; }
#index .alphabet TD.on A {
	background-color: #EEE; }
#index TD TH {
	padding: 10px 5px 5px 5px;
	border-width: 0 0 2px 0;
	border-color: #AAA; }
#index TD TD {
	padding: 5px;
	border-width: 0 0 1px 0;
	border-color: #C0C0C0; }
#index TR.prolific TD {
	background-color: #F3F4FC; }
#index TR.prolific A.name {
	font-size: 17px; }

#index #pagenav {
	margin: 10px 6px;
	font-size: 14px;
	color: #666;
}
#index #pagenav B {
	color: black;
}
#index #pagenav A, #index #pagenav B {
	padding: 3px 8px;
	font-weight: bold;
	text-decoration: none;
	border: 1px solid #DDD;
}
#index #pagenav B {
	color: #555;
	border-color: #BBB;
}
#index #pagenav A:HOVER {
	border-color: #39F;
}
	
/* profile page style */

#contribute {}
#contribute .message {
	display: none;
	position: absolute;
	z-index: 1;
	top: 145px;
	right: 165px;
	width: 500px;
	padding: 0 0 8px;
	background: url(/bin/img/shadow_500_bottom.png) no-repeat left bottom;
	cursor: pointer;
}
#contribute .message > .container {
	padding: 8px 8px 0 8px;
	background: url(/bin/img/shadow_500_top.png) no-repeat left top;
}
#contribute .message > .container > .container {
	padding: 10px;
	border: 2px solid black;
	background-color: white;
}
#contribute .message BIG {
	display: block;
	margin: 2px 10px 7px 118px;
	font-size: 26px;
	white-space: nowrap;
}
#contribute .message P {
	clear: left;
	margin: 4px 0 0;
	font-size: 14px;
	color: #666;
	line-height: 20px;
}
#contribute .hov .close A {
	color: #39F;
	border-color: #39F;
}
#contribute .point {
	position: absolute;
	top: 32px;
	right: 2px;
	width: 8px;
	height: 16px;
	background: url(/bin/img/black_point_right.png) no-repeat 0 0;
}

#person-profile #col-details {
	width: 160px;
	float: left; }
#person-profile #col-words {
	margin: 0 0 0 175px; }

#people-header {
	margin: 0 -15px 15px -15px;
	padding: 0 0 15px 15px;
	border-bottom: 1px solid #DDD;
	background: transparent url(/bin/img/gradient-b2t-eee.png) repeat-x 0 0; }
#people-header H2 {
	margin: 0;
	padding-top: 15px;
	font: normal 21px Arial;
	color: black; }
#people-header P {
	margin: 0;
	color: #DDD; }
#people-header A {
	color: #696969; }
#people-header A:HOVER {
	color: #999; }
#people-header FORM {
	margin: 0;
	padding: 0; }
#people-header INPUT[type=text] {
	padding: 3px 0 3px 3px !important;
}

#person-profile H4 {
	margin: 20px 0 3px 0;
	padding: 0 0 3px;
	border-bottom: 1px solid #DDD;
	font: normal 21px Arial;
	color: #666;
}

#person-profile .add {
	padding: 2px 5px;
	font-size: 14px;
	text-decoration: none;
	color: #999;
	border: 1px solid #E6E6E6;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	background-color: #F5F5F5;
}
#person-profile .add B {
	color: #39F;
}
#person-profile A.add:HOVER {
	color: #39F !important;
	border-color: #39F;
}
	
DIV#ILedit-personpic {
	padding: 4px;
	border: 1px solid #EEE;
}
.editmode DIV#ILedit-personpic {
	border: 1px dashed #AAA;
}
#nopic {
	padding: 10px 0;
	color: #BBB;
	text-align: center;
	border: 2px dashed #CCC;
	background-color: #EEE; }
#nopic BIG {
	display: block;
	margin-bottom: 5px;
	font-size: 22px; }
#nopic A {
	color: #888; }

#col-details UL {
	margin: 10px 0 0;
	padding: 0;
	list-style: none;
}
#col-details UL LI {
	margin: 1px 0 0;
	padding: 5px;
	font-size: 11px;
	color: #666;
	background-color: #F3F3F3;
}
#col-details UL LI B {
	font-weight: normal;
	color: black;
}

#col-words H4 {
	margin: 0 0 3px;
	padding: 0;
	font: bold 17px Arial;
	color: #888;
}

#bio {}
#bio H3 {
	margin: 0;
	padding: 0;
	font-size: 30px;
	color: #334867;
	text-shadow: 1px 1px 0 #DDD;
	line-height: normal;
	border-bottom-width: 0;
}
#bio H4 {
	padding: 0;
	border-width: 0;
}
#bio #person-title {
	margin: 5px 0 0 0;
	font-size: 18px;
	color: #777; }
#bio #person-title SPAN {
	color: #333; }

.contnav {
	margin: 15px 0;
	padding: 5px 8px;
	color: #AAA;
	border: 1px solid #DDD;
}
.contnav UL {
	display: inline;
	margin: 0;
	padding: 0;
	list-style: none;
}
.contnav UL LI {
	display: inline;
	margin: 0 0 0 8px;
	padding: 0 0 0 8px;
	border-left: 1px solid #EEE;
}
	
#bio-text {
	position: relative;
	line-height: 20px;
}
#bio-text P {
	margin: 7px 0 0 0;
	padding: 0;
}
#bio-text A {
	text-decoration: none;
}
#bio-text A:HOVER {
	text-decoration: underline;
}

TABLE#assocs {
	margin: 15px -1px -1px; /*cellspacing=1*/
}
#assocs TD {
	vertical-align: top;
	background-color: #F3F3F3;
}
#assocs TD .container {
	padding: 10px;
}
		
#personpics {
	margin: 15px 0 0;
	padding: 10px 10px 0;
	background-color: #F3F3F3;
}
#personpics IMG {
	margin: 0 10px 10px 0;
	padding: 4px;
	border: 1px solid #DDD;
	background-color: white;
}
#personpics A:HOVER IMG {
	border-color: #39F;
}

#work {}
	#work .heading {}
	#work H4 {
		padding: 0;
		border-width: 0;
	}
	TABLE.work {
		border-bottom: 1px solid #C0C0C0; }
	.work TH {
		padding: 5px;
		border-width: 0 0 0 1px;
		border-style: solid;
		border-color: #FFF #FFF #C0C0C0 #EEE;
		background: url(/bin/img/gradient-b2t-eee.png) repeat-x 0 -149px; }
	#work .work TH A {
		color: black;
		text-decoration: none; }
	#work .work TH A:HOVER {
		border-bottom: 1px solid #AAA; }
	#work .work TD {
		padding: 5px;
		border-top: 1px solid #C0C0C0;
		border-left: 1px solid #EEE;
		vertical-align: top; }
	#work .work TR.sametitle TD {
		border-top-color: #EEE; }
	#work .work TR.putborders TH {
		border-top: 1px solid #808080; }
	#work .work-title {
		font-weight: bold;
		border-left-width: 0;
	}
	#work .work-title .pfs {
		margin: 0 0 0 5px;
		float: right;
		font-size: 12px;
		font-weight: normal;
		color: #999;
		white-space: nowrap;
	}
	#work .work-title .pfs ACRONYM {}
	#work .work-release, #work .work-notes {
		background-color: #F5F5F5; }
	#work .work-release {
		width: 61px;
		text-align: center; }
	#work .work-notes {
		font-size: 12px;
		color: #555; }
		.work-notes A:link, .work-notes A:visited {
			color: #555;
			font-weight: normal ! important; }
		.work-notes A:hover {
			color: #888;
			font-weight: normal ! important; }
	#index .work TR.hov TD {
		background-color: #FFC;
	}

#links DT {
	font-weight: bold;
	font-size: 15px;
}
#links DD {
	margin: 5px 0 0 15px;
}
#links DD.info {
	margin-bottom: 10px;
	font-size: 12px;
	color: #888;
}
#links DD.info A {
	color: #666;
}

#collab {
	margin-top: 2em;
	padding: 1em;
	background-color: #F5F5F5;
	border: 1px solid #DCDCDC; }
	#collab SELECT {
		margin-top: 5px; }
	#collab H3 {
		margin-top: 10px;
		font-weight: bold;
		font-size: 13px;
		color: #808080; }
	#collab UL {
		margin: 0;
		padding: 0;
		list-style: none; }
	#collab LI {
		margin: 0 0 3px 0;
		padding: 0 0 0 8px;
		background: url(/bin/img/bullet-point.png) no-repeat 0 3px; }

#edit-notice {
	margin-top: 15px;
	padding: 5px;
	border: 1px solid #06C;
	color: #808080; }
#edit-notice B {
	color: black; }

#people-footer {
	margin-top: 15px;
	padding: 5px;
	border: 1px solid #C0C0C0; }
#people-footer SPAN {
	color: #888; }


/* search page */

.searchresults DT {
	margin: 5px 0 0 0;
	padding: 0 0 0 10px;
	background: url('/bin/img/bullet-point.png') no-repeat 0 5px; }

.searchresults DD {
	padding: 5px 0;
	font-size: 11px; }


/* platform -- full list by game or album */

#index-platform {}
	
	#index-platform-heading {
		position: relative;
		left: 0;
		top: -2em;
		margin: 0;
		padding: 5px 0 5px 0;
		border-bottom: 1px solid black; }
		
	#index-platform #index-platform-heading H2 {
		display: inline;
		margin: 0 0 0 10px;
		padding: 0 0 0 10px;
		font: bold 11px verdana ! important;
		color: black;
		background: url('/bin/img/bullet-point.png') no-repeat 0 3px;
		border: 0 ! important; }
		
		#index-platform #index-platform-heading H2 EM {}
	
	#index-platform #index-platform-heading H3 {
		display: inline;
		margin: 0;
		padding: 0;
		font: bold 11px verdana ! important; }
		
		#index-platform #index-platform-heading H3 A {
			color: #808080;
			text-decoration: none;
			border-bottom: 2px solid black;
			padding-bottom: 3px; }
		
		#index-platform #index-platform-heading H3 A:hover {
			color: #C0C0C0;
			border-bottom: 2px solid #C0C0C0; }
	
	#index-platform .vital TD, #index-platform .nonvital TD {
		vertical-align: top;}
	
	#index-platform .vital {}
	
	#index-platform .nonvital {}
	
	#index-platform .profile-pic {
		border-top: 1px solid #696969;
		width: 48px; }
		
		#index-platform .profile-pic SPAN {
			display: block;
			padding: 4px;
			background-color: #D3D3D3; }
		
		#index-platform .profile-pic IMG {
			border: 1px solid black; }
		
	#index-platform .profile-info {
		padding: 5px 5px 8px 5px;
		border-top: 1px solid #C0C0C0; }
	
	#index-platform .person-name {
		font-size: 14px; }
	
	#index-platform DL {
		margin: 0; }
			
		#index-platform DT {
			margin: 3px 0 0 0;
			font-size: 11px; }
		
		#index-platform DD {
			margin: 3px 0 0 0px;
			font-size: 11px;
			color: #696969; }
			
			#index-platform DD A {
				color: #5A5A5A;
				font-weight: normal; }
				
				#index-platform DD A:hover {
					color: #999999; }

.clearboth {
	clear:both; }




/* roles */

#people-roles {}

#people-roles H3 {
	color: #555;
	border-width: 0;
}
#people-roles H3 SPAN {
	color: #AAA;
}
#people-roles H3 .selector {
	display: inline;
	padding: 0 6px;
	border: 1px solid #DDD;
	-moz-border-radius: 2px;
	cursor: pointer;
}
#people-roles H3 .selector SPAN {
	padding-right: 13px;
	background: url(/bin/img/arrow-down-point.png) no-repeat 100% 50%;
}
#people-roles H3 SELECT {
	display: none;
}
	
#people-roles #matches {
	padding: 5px;
	border: solid 1px #C0C0C0;
}
#people-roles #matches DIV {
	margin-top:5px; 
	padding-top:5px; 
	border-top:1px solid #EEE; }
	
#people-roles .highlight {}

#roleResults {}
	#roleResults TD {
		width: 48%;
		margin: 0;
		padding: 0 2% 20px 0;
	}
	#roleResults > A {
		text-decoration: none;
	}
	#roleResults A IMG {
		float: left;
		border: 1px solid #06C;
		padding: 2px;
	}
	#roleResults A:HOVER IMG {
		border-color: #39F;
	}
	#roleResults STRONG {
		display: block;
		padding-left: 53px;
		font-size: 14px;
	}
	#roleResults STRONG SPAN {
		text-decoration: underline;
	}
	#roleResults STRONG I {
		font-weight: normal;
		color: #555;
	}
	#roleResults .indent {
		padding: 1px 0 0 53px;
		color: #777;
	}
	#roleResults UL {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	#roleResults UL LI {
		padding-left: 18px;
		background: url(/bin/img/bullet.png) no-repeat 6px 6px;
	}
	#roleResults UL LI.excess {
		display: none;
	}
	#roleResults UL LI.more {
		background-image: url(/bin/img/arrow-right-point.png);
	}
	#roleResults UL LI.less {
		background-image: url(/bin/img/arrow-up-point.png);
	}