
.news{}
.newslist { float:left; }
.newslist .clear { clear:both; height:15px; }
.newslist > DL {
	position:relative;
	margin:0; padding:20px 0 0;
	border-bottom:1px solid #CCC;
}
.newslist > DL + DL { border-top:1px solid white; }
.newslist > dl.hov { opacity:1 !important }
.newslist > DL DT { margin:0; padding:0; display:none; }

.newslist > dl.closed { margin:0; padding:0; }
.newslist > dl.closed dt { display:block; }
.newslist > DL DT A {
	display:block;
	margin:0; padding:10px 0 10px 23px;
	text-decoration:none;
	background-repeat:no-repeat; background-position:left center;
}
.newslist > DL.closed DT .description { display:inline; font-size:14px; text-decoration:underline; }
.newslist > DL.closed DT I.description { float:right; color:#666; text-decoration:none; }
.newslist > DL.closed DD { display:none; }
	
.newslist > DL DD {
	margin:0; padding:0;
}
	.newslist > DL DD:last-child { padding-bottom:20px; }
	.newslist > DL .det {
		margin-top:10px;
		font-size:12px; color:#999;
	}
	.newslist > DL .det UL { margin:0; padding:0; list-style:none; height:}
	.newslist > DL .det UL + .cl { height:0; clear:left; }
	.newslist > DL .det LI { margin:0; padding:0; float:left; }
	.newslist > DL .det A { text-decoration:none; color:#333; }
	.newslist > DL .det A:HOVER { text-decoration:underline; }
	.newslist > DL .det A.discuss {
		position:relative;
		display:block;
		margin:-2px 10px 0; padding:2px 6px;
		background-image:url(/bin/img/speechbubble_white.png);
		border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;
	}
	.newslist > DL .det A.discuss SPAN { position:absolute; bottom:-5px; left:10px; width:10px; height:5px; background:url(/bin/img/speechbubble_white.png) no-repeat center -244px; }
	.newslist > DL .det A.permalink { text-decoration:none; }
	.newslist > DL .det A.permalink SPAN { visibility:hidden; }
	.newslist > DL .det A.permalink:HOVER SPAN { visibility:visible; text-decoration:underline; }
	.newslist > DL DD.tags, .newslist > DL .poll {
		margin-top:5px;
		font-size:12px; color:#999;
	}
	.newslist > DL DD.tags A {
		text-decoration:none;
		white-space:nowrap;
	}
	.newslist > DL DD.tags A:hover { text-decoration:underline; }

.news .hrate { position:relative; float:right; margin:6px 0 0; padding:5px; border-radius:20px; -moz-border-radius:20px; -webkit-border-radius:20px; }
.news-article .hrate {}
.news .hrate.hov { background-color:white; }
.news .hrate.disabled {}
.news .hrate.disabled A {}
.news .hrate .loading A, .news .hrate .loading SPAN { opacity:.3; }
.news .hrate .loading > .loading {
	position:absolute;
	top:0; bottom:0;
	width:80%;
	margin:0 5%;
	background:url(/bin/img/loading_bar.gif) no-repeat center center;
}
.news .hrate a {
	float:left;
	display:block;
	width:14px;
	font-weight:bold; font-size:16px;
	text-decoration:none; text-align:center;
	line-height:14px;
	color:#70C563;
	opacity:.7;
}
.news .hrate a.hrate-minus { color:#E74141; }
.news .hrate A:HOVER { opacity:1; }
.news .hrate A:first-child:HOVER {  }
.news .hrate SPAN {
	display:block;
	float:left;
	padding:0 3px;
}
.news .hrate SPAN IMG { margin:0 1px 0 0; }

.fblike { margin:8px 0 0 !important; }
.newslist .fblike { float:right; }

.news .item .heading {
	margin:0 0 3px !important; padding:0 !important;
	font-weight:normal !important; font-size:21px !important;
	border-width:0 !important;
}
.news .item .subheading {
	line-height:1.5em;
}
.news .item .subheading H5 {
	margin:6px 0 0; padding:0;
	font-weight:bold; font-size:15px; color:#666;
}
.news .item .subheading H6 {
	margin:6px 0 0; padding:0;
	font-weight:bold; font-size:14px; color:#333;
}
.news .item .subheading p {
	margin:6px 0 0;
}
.news .item .subheading BLOCKQUOTE { margin:0; padding:0 0 0 40px; font-size:110%; color:#666; background:url("/bin/img/quote_sm.png") no-repeat 20px 6px; line-height:1.5em; }
.news .item .subheading .gallery { margin:6px 0 0; }
.news .item .headingimg {
	float:left;
	margin:2px 10px 0 0;
	border:1px solid #CCC;
}
.news .item .headingimg IMG {
	margin:2px;
}

.news .star-rating {
	display:block;
	float:left;
	width:78px;  height:16px; 
	margin:0 2px 0 0;
	background:url("/bin/img/star_rating_.png") no-repeat -3px -16px;
}

.news .text-tag {
	display:block;
	float:left;
	margin:2px 9px 0 0; padding:0 11px;
	line-height:33px;
	font-weight:bold; font-size:15px; color:#888;
	background:#DDD; background-color:RGBA(0,0,0,.06);
	border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px;
}
.news .text-tag .img {
	display:block;
	width:16px; height:33px; overflow:hidden; text-indent:-500px;
	background-repeat:no-repeat; background-position:center center;
}
.news .text-tag .star-rating {
	margin:8px 0;
}
.news .text-tag a { text-decoration:none;  color:#888; }

.news CITE.inlinecite { font-style:normal; color:#AAA; }
.news .inlinecite A { color:#888; }

.news .heading A { color:black; text-decoration:none; }

.newslist .type-text {}
.news .type-text .heading { font-family:Georgia, sans-serif !important; }
.news .type-text .heading A:HOVER { text-decoration:underline; }
.news .type-quote {}
	.newslist .type-quote {}
	#forum .type-quote {}
	.news .type-quote .quote-container {
		position:relative;
		padding:0 0 14px 0;
	}
	.news .type-quote blockquote {
		position:relative;
		display:block;
		margin:0; padding:0;
		font-size:25px; font-family:Georgia; font-style:italic; line-height:122%; color:#444;
	}
	.news .type-quote blockquote .qmarks {
		position:absolute; z-index:1; top:5px; left:-16px;
		display:block;
		width:12px; height:9px; overflow:hidden; text-indent:-500px;
		background:url("/bin/img/quote_sm.png") no-repeat 0 0;
	}
	.news .type-quote BLOCKQUOTE.shortquote { font-size:40px; line-height:110%; }
	.news .type-quote BLOCKQUOTE.medquote { font-size:30px; line-height:115%; }
	.news .type-quote BLOCKQUOTE.longquote { font-size:20px; line-height:130%; }
	.news .type-quote BLOCKQUOTE I, .news .type-quote BLOCKQUOTE EM { font-style:normal; }
	.news .type-quote .quoter { margin:5px 0 0; font-size:15px; color:#777; line-height:20px; }
.newslist .type-link {}
	.news .type-link .heading { font-size:18px; }
	.news .type-link .heading a { color:#06C; text-decoration:underline; padding-right:10px; background:url("/bin/img/arrow-link.png") no-repeat right 5px; }
	.news .type-link .heading a:hover { color:#39F; background-position:right -45px; }
	.news .type-link .heading a span {}
	.news .type-link .subheading { margin:3px 0 0; }
.newslist .type-image {}
	.news .type-image .subheading { margin:5px 0 3px 0; }
	.news .type-image img { box-shadow:1px 1px 4px #BBBBBB; -moz-box-shadow:1px 1px 4px #BBBBBB; -webkit-box-shadow:1px 1px 4px #BBBBBB; }
	.news .type-image .img a:hover img { box-shadow:1px 1px 4px #888; -moz-box-shadow:1px 1px 4px #888; -webkit-box-shadow:1px 1px 4px #888; }
	.newslist .gallery > .container { padding:0 !important; border-width:0 !important; }
	.news .type-image .thumbnail { clear:none !important; margin:0 !important; }
	.news .type-image .thumbnail > .container { border:none !important; margin:0 !important; padding:0 !important; }
/*.newslist .type-gallery {}
	.news .type-gallery .subheading {
		margin:0 0 5px 0; }
	.news .type-gallery UL.news-gallery {
		height:113px;
		margin:0;
		padding:0;
		list-style:none;
	}
	.news .type-gallery UL.news-gallery LI {
		float:left;
		margin:5px 5px 0 0 !important; padding:0 !important;
		background-image:none !important;
	}
	.news .type-gallery UL.news-gallery A {
		display:block;
		width:102px;
		height:102px;
		padding:2px;
		border:1px solid #CCC;
		background-color:white; }
	.news .type-gallery UL.news-gallery A:HOVER {
		padding:1px;
		border-width:2px;
		border-color:#39F;
	}
	.news .type-gallery UL.news-gallery IMG {
		border-width:0;
		margin:1px;
	}
	.news .type-gallery UL.news-gallery LI.gallery-link {
		width:119px;
		margin-right:0; }
	.news .type-gallery UL.news-gallery LI.gallery-link A {
		width:119px;
		height:108px;
		padding:0;
		border:0;
		background:url(/bin/img/news-gallery-more-bg.png) no-repeat 0 0;  }
	.news .type-gallery UL.news-gallery LI.gallery-link A:HOVER {
		background-position:0 -108px; }
	.news .type-gallery UL.news-gallery LI.gallery-link A DIV {
		font-size:21px;
		padding:39px 0 0 30px; }*/
.newslist .type-video {}
.news .type-video .subheading {}
	
.news H2 {
	font-size:21px;
	color:#BBB; }
.news H2 SELECT {
	font-size:13px;
	font-family:Arial;
	border-width:1px;
	border-style:solid;
	border-color:#888 #BBB #BBB #888; }
	
.newsnav {}
	.newsnav .expcon a span { display:block; width:16px; height:16px; overflow:hidden; text-indent:-500px; background:url(/bin/img/icons/news/sprites.png) no-repeat 0 0; }
	.newsnav .addnews { border-color:#005BB7; }
	.newsnav .addnews a { background-color:#06C; background-image:none; font-weight:bold; color:white; text-decoration:none; }
	.newsnav .addnews a:hover { background-color:#09F; }

#news-archive {}
	#news-archive H1 { 
		font-size:25px;
		color:#CCC;
		text-shadow:none;;
	}
	#news-archive-col {
		float:right;
		width:300px;
	}
	#news-archive-col .box {
		margin:15px 0 0 0;
		padding:10px;
		border:3px solid #DDD; }
	#news-archive-col H5 {
		margin:0;
		padding:0;
		font-weight:normal;
		font-size:21px; }
	#news-archive-col H5 A {
		text-decoration:none;
		color:#2492FF !important; }
	#news-archive-col P {
		display:block;
		margin:5px 0 0; }
	#news-archive-col FORM, #news-archive-col #tags {
		margin:5px 0 0;
		padding:5px 0 0;
		border-top:3px solid #DDD; }
	#news-archive-col .box .foot {
		margin:5px 0 0;
		padding:5px 0 0;
		border-top:3px solid #DDD; }

a.himgtn { display:block; float:left; margin:5px 15px 10px 0; }
.type-quote a.himgtn { float:right; margin:5px 0 10px 15px; }
.himgtn span {
	display:block; width:80px; height:80px; overflow:hidden;
	text-indent:-1000px;
	box-shadow:1px 1px 4px #BBBBBB; -moz-box-shadow:1px 1px 4px #BBBBBB; -webkit-box-shadow:1px 1px 4px #BBBBBB;
	border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;
}
.himgtn:hover span { box-shadow:1px 1px 4px #888; -moz-box-shadow:1px 1px 4px #888; -webkit-box-shadow:1px 1px 4px #888; }
.himg { display:block; margin-top:10px; margin-bottom:20px; position:relative; }
.himg img { max-width:100%; }
.himg .pgfold { position:absolute; left:-9px; bottom:-15px; display:block; width:639px; height:27px; background:url(/bin/img/pagefold_620.png); }

p + p + blockquote { clear:left; }

/* NEWS ARTICLE ITEM */

#news-article {}

#article-left {
	position:relative;
	float:left;
	width:620px;
	padding-top:30px; /*make room for date & rating */
}

#article-right {
	float:right;
	width:300px;
}

#news-article H1 {
	margin-bottom:.5em !important;
	font:bold 30px Helvetica !important;
	letter-spacing:-1px;
	line-height:34px !important;
}
#news-article H1 A { text-decoration:none !important; }

.news .expanded-text > P, .news .expanded-text > UL, .news .expanded-text > OL, .news .expanded-text BLOCKQUOTE {
	margin:1em 0 .5em;
	line-height:1.5em;
}
.news-article H5 {
	margin:1em 0 .5em;
	padding:0 0 3px;
	font-weight:bold;
	font-size:19px;
	color:#444;
	border-bottom:1px solid #CCC;
}
.news-article H6 {
	margin:1em 0 .5em;
	padding:0;
	font-weight:bold;
	font-size:16px;
	color:#777;
}
.expanded-text BLOCKQUOTE {
	margin-left:0;
	padding-left:40px;
	color:#555;
	background:url(/bin/img/blockquote.png) no-repeat 0 0;
	min-height:2em;
}
.news .expanded-text IMG { max-width:620px; }
/*.news .expanded-text .thumbnail IMG { max-width:612px; }*/
.expanded-text DL { line-height:1.5em; }
.expanded-text DT { margin:5px 0 3px; font-weight:bold; font-size:110%; }
.expanded-text DD { margin:0 0 3px 40px; }
.expanded-text DD P { margin:3px 0 0; }

H2#article-postdate {
	position:absolute;
	top:0;
	width:100%;
	margin:0;
	padding:0;
	border-width:0;
	font-size:12px;
	color:#CCC;
}
#article-postdate .nav { displat:block; float:right; width:50px; text-align:right; }
	
.news-article .sources { margin-bottom:20px; }

.news #poll {
	margin:20px 0 0;
	padding:15px;
	border:3px solid #DDD;
}
	.news #poll h4 { margin:0; padding:0; font-weight:normal; font-size:15px; color:#666; }
	.news #poll h4 B { color:#333; }
	.news #poll OL { margin:5px 0 10px 0; padding:0; border-top:1px solid #DDD; list-style:none; }
	.news #poll OL LI { position:relative; margin:0; padding:5px; border-bottom:1px solid #DDD; }
	.news #poll OL LI LABEL { position:relative; z-index:2; color:black; }
	.news #poll OL LI INPUT { margin:0; vertical-align:middle; }
	.news #poll.hideres .res { display:none; }
	.news .poll-data { float:right; position:relative; z-index:2; }
	.news .poll-data .data { float:right; display:block; width:45px; text-align:right; }
	.news .poll-bg { position:absolute; z-index:0; top:0; bottom:0; left:0; display:block; background:#E1F3FA none repeat scroll 0 0; }
	.news #poll .yourvote { background:url(/bin/img/check_15.png) no-repeat 0 50%; color:#61BE6F; padding-left:17px; white-space:nowrap; }
	
.news #tags { margin-top:30px; clear:both; }
#poll + #tags { border-width:0; }
	
#article-right .ad {}
#article-right > .container { margin:30px 0 0; }
#article-right H6 { margin:0 0 3px; padding:0 0 3px; border-bottom:1px solid #DDD; font-size:14px; }
#article-right UL {  padding:0; list-style:none; }
#article-right UL LI {
	margin:2px 0;
	padding-left:20px;
	background:url(/bin/img/bullet.png) no-repeat 6px 6px;
}
#news-article #article-details .edit-button {
	float:left;
	text-decoration:none;
	border-top:1px solid #CCC;
	border-right:1px solid #999;
	border-bottom:1px solid #999;
	border-left:1px solid #CCC;
}
#news-article #article-details .edit-button SPAN {
	float:left;
	padding:2px 5px 2px 20px;
	font-size:12px;
	color:#666;
	background:#F5F5F5 url(/bin/img/icons/edit.gif) no-repeat 5px 50%;
	border-width:1px;
	border-style:solid;
	border-color:#FFF #BBB #BBB #FFF; }
	
/* special styles for article items */

a.video-tn {
	position:relative;
	display:block;
	float:left;
	margin:6px 15px 10px 0;
}
a.video-tn .play {
	position:absolute;
	top:0; right:0; bottom:0; left:0;
	background:url(/bin/img/video_overlay.png) no-repeat 50% 50%;
}
a.video-tn .pgfold { position:absolute; left:-9px; bottom:-15px; display:block; width:219px; height:27px; background:url(/bin/img/pagefold_200.png); }
a.video-tn:HOVER .play {}
a.video-tn img { cursor:pointer; opacity:.9; }
a.video-tn:hover img { opacity:1; }

#galleryspace { margin:0 0 30px; }
#galleryspace A.fsimg { display:block; background-color:black; text-align:center; }
#galleryspace A.fsimg IMG { background-color:black; max-width:965px; }
#galleryspace A.fsimg + DIV {
	padding:5px 10px;
	background-color:black;
	font-size:110%;
	color:white;
	text-align:center;
}
#galleryspace A.fsimg + DIV A {
	display:block;
	width:26px;
	height:26px;
	margin:-5px -10px;
	background-color:#111;
	background-repeat:no-repeat;
	background-position:10px 10px;
	text-indent:-500px;
	overflow:hidden;
}
#galleryspace A.fsimg + DIV > A:HOVER { background-color:#333; }

/* misc */

UL.news-shortlist {
	padding:0;
	list-style:none;
}
UL.news-shortlist LI {
	margin:6px 0 !important;
	padding-left:20px !important;
	background-position:0 0 !important;
	background-repeat:no-repeat;
}
.news-shortlist .date { color:#999; font-style:italic; }
.news-shortlist + .more { padding:0 0 0 20px; }

.article-trav {
	padding:0 8px !important;
	background-color:#EEE !important;
	background-position:5px 5px !important;
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
}
A.article-trav:HOVER {
	background-color:#DDD !important;
}

.news A.pglink { text-decoration:none; }
.news A.pglink:HOVER { text-decoration:underline; }