{
    "extends": "airbnb",
    "env": {
        "browser": true
    },
    "rules": {
        "import/extensions": [ "error", "always", { "ignorePackages": true } ], // Exception for including extensions in application modules
        "indent": ["error", 4, {"SwitchCase": 1}],
        "no-console": "off",
        "react/prop-types": "off",
        "react/jsx-indent": ["error",4],
        "react/require-default-props": "off"
    },
    "parser": "babel-eslint"
}
/* eslint-disable  */
