$blue: #3399ff;
$lightblue: #66b3ff;
$darkblue: #336699;
$red: #dd3333;
$green: #00a264;
$purple: #6b3ea8;
$color-body: rgb(24, 25, 26);
$color-surface: rgb(36, 37, 38);
$color-comment: rgb(58, 59, 60);

$img-dir: "../images";

// Breakpoint settings and methods

$breakpoint-mobile: 640px;

@mixin breakpoint($view) {
    @if $view == mobile {
        @media (max-width: $breakpoint-mobile) { @content; }
    }
    @else {
        @media (min-width: $breakpoint-mobile + 1px) { @content; }
    }
}

// Spacing settings and methods

$spacing-mobile: 1rem;
$spacing-monitor: 3.5rem;

@mixin spacing($prop) {
    #{$prop}: $spacing-mobile;
    @include breakpoint(screen) {
        #{$prop}: $spacing-monitor;
    }
}

// Top Level (Global)

:root {
    font: normal 100% sans-serif;
    font-size: calc(100vw / 25);
    color: white;
    @include breakpoint(screen) {
        font-size: calc(100vw / 70);
    }
}

a,
.a {
    color: $blue;
    text-decoration: underline;
    cursor: pointer;
    &:active {
        color: $purple;
    }
    &:hover {
        color: $lightblue;
        border-color: $lightblue;
    }
}

fieldset {
    margin-left: 0;
    margin-right: 0;
    padding: 5px 10px 10px 10px;
    border: 1px solid #ccc;
}
legend {
    color: #666;
}
.inputitem {
    border-radius: .1em;
    margin: 0;
    padding: .3em .5em;
}
input[type="text"],
input[type="password"],
textarea,
select,
.inputfield {
    border-width: 1px;
    border-style: solid;
    border-color: #666 #bbb #bbb #666;
    background-color: white;
    outline: none;
    background: white;
    background: linear-gradient( #e0e0e0, white 3px);
    @extend .inputitem;
}
textarea {
    font-family: monospace;
}
select {
    padding: 2px;
}
optgroup {
    padding-top: 2px;
    font-weight: normal;
    font-style: italic;
    color: #777;
    background-color: #eee;
}
optgroup > option {
    padding-left: 20px;
    background-color: #fff;
    color: black;
}
optgroup > option:first-child {
    margin-top: 2px;
}

// .button-blue {
// 	@link-color: darken(@lightblue, 16%);
// 	color:rgba(255,255,255,.93); text-shadow:0 -1px @link-color, 0 1px @lightblue;
// 	background:@link-color; background:-moz-linear-gradient(top, @lightblue 50%, @link-color 50%); background:-webkit-gradient(linear, left top, left bottom, color-stop(50%,@lightblue), color-stop(50%,@link-color));
// 	border-color:darken(@lightblue, 10%) darken(@link-color, 5%) darken(@link-color, 5%) darken(@lightblue, 5%);
// 	box-shadow:0 1px 1px rgba(0,0,0,.2);
// 	&:hover { border-color:darken(@link-color, 25%); }
// 	&:active { box-shadow:none; background:darken(@lightblue, 5%); border-color:darken(@link-color, 12%) darken(@lightblue, 12%) darken(@lightblue, 12%) darken(@link-color, 12%); }
// }
button:not(.access-button),
input[type="button"],
input[type="submit"],
input[type="reset"],
.faux-button {
    color: #444;
    text-shadow: 0 -1px #dadada, 0 1px #eee;
    background: #ddd;
    background: -moz-linear-gradient(top, #eee 50%, #ddd 50%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #eee), color-stop(50%, #ddd));
    border-width: 1px;
    border-style: solid;
    border-color: #ddd #aaa #aaa #ddd;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
    @extend .inputitem;
    &:hover {
        border-color: #777;
    }
    &:active,
    &.active {
        box-shadow: none;
        background: #ddd;
        border-color: #aaa #ccc #ccc #aaa;
    }
    &[disabled="disabled"] {
        color: #bbb;
        cursor: not-allowed;
    }
    &.submit:hover {
        background: $green;
        border-color: #016c43;
        color: white;
        text-shadow: none;
    }
    &.cancel:hover {
        background: $red;
        border-color: darken($red, 15%);
        color: white;
        text-shadow: none;
    }
}

img {
    vertical-align: middle;
}

h1 {
    font-weight: 300;
    line-height: 1.1;
    margin-top: 0;
    margin-bottom: 0.75em;
    color: whitesmoke;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}
h2 {
    margin-bottom: 0.5em;
    font-weight: normal;
    color: whitesmoke;
}
h3 {
    margin: 1em 0 0.5em;
}
h4 {
    margin: 1em 0 0.5em;
}
h5 {
    margin: 1em 0 0.5em;
    font-size: 1.25rem;
}
h6 {
    margin: 1em 0 0.5em;
}

// Page Layouts

// A template for fullwidth elements;
// Top-level <body> and other full-width elements.
.grid-page {
    display: grid;
    grid-template-columns: [margin-start] $spacing-mobile [narrow-gutter-start] $spacing-monitor - $spacing-mobile [wide-gutter-start] auto [wide-gutter-end] $spacing-monitor - $spacing-mobile [narrow-gutter-end] $spacing-mobile [margin-end];
    & > * {
        grid-column: narrow-gutter-start / narrow-gutter-end;
        @include breakpoint(screen) {
            grid-column: wide-gutter-start / wide-gutter-end;
        }
    }
}
.fullwidth {
    grid-column: margin-start / margin-end;
}

body {
    min-height: 100vh;
    box-sizing: border-box;
    padding: 0;
    background: {
        color: $color-body;
    }
    text-align: left;
    @extend .grid-page;
    grid-template-rows: min-content auto max-content;
    > header, > main, > footer {
        @include spacing(padding-top);
        @include spacing(padding-bottom);
    }
}

body > header {
    @extend .fullwidth;
    @include spacing(padding-left);
    @include spacing(padding-right);
    background-color: $color-body;
    border-bottom: 1px solid $color-surface;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    & > *:first-child {
        flex: max-content;
        & ~ * {
            margin-left: 1em;
        }
    }
    a, button.access-button {
        color: white;
        &:hover, &:hover svg {
            color: rgb(224, 224, 224) !important;
        }
    }
}
#navmenu {
    width: 163px + 8px + 30px;
    height: 30px;
    #hamburger {
        position: fixed;
        z-index: 9; // Behind modal overlay
        @include spacing("top");
        @include spacing("left");
        display: flex;
        align-items: center;
        svg {
            transition: all 0.2s;
        }
        &:after {
            content: "";
            width: 163px;
            height: 18px;
            margin: 2px 0 0 8px;
            background: transparent url("#{$img-dir}/h1_condensed.png") no-repeat scroll 0 0;
        }
        &:hover::after, &.active::after {
            background-position: 0 -19px;
        }
        &:hover svg {
            transform: rotate(-90deg);
        }
        &.active svg {
            color: black !important;
        }
        @include breakpoint(screen) {
            margin-left: -38px; // hamburger:30px; bgimg padding:8px;
        }
    }
    .modal,
    .modal-overlay {
        z-index: 7;
    }
    .modal-content {
        z-index: 8;
        display: block; // Overwrite grid (vertical and horizontal centering)
        margin: 0; // Overwrite centering
        padding-top: calc(#{$spacing-mobile} + 30px + #{$spacing-mobile}); // 30px height of header img
        @include breakpoint(screen) {
            padding-top: calc(#{$spacing-monitor} + 30px + #{$spacing-monitor}); // 30px height of header img
        }
    }
}
#login {
    @include breakpoint(mobile) {
        .user-unknown {
            .user-username {
                display: none;
            }
        }
    }
    .modal-content {
        width: 290px;
        margin-right: auto;
        margin-left: auto;
        @extend .dark;
        background-color: transparent !important;
    }
    form {
        margin-top: -1em;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        & > * {
            margin-top: 1em;
        }
        input {
            color: #666;
            border-width: 0;
            border-radius: .2em;
        }
        button {
            font-weight: bold;
            border-width: 0;
            box-shadow: 1px 1px 3px 1px black;
            -moz-box-shadow: 1px 1px 3px 1px black;
            -webkit-box-shadow: 1px 1px 3px 1px black;
            &:active {
                margin: 1px 0 0 1px;
                box-shadow: 0 0 3px 1px black;
                -moz-box-shadow: 0 0 3px 1px black;
                -webkit-box-shadow: 0 0 3px 1px black;
            }
            & + button {
                margin-left: 1em;
            }
        }
    }
}
#search {
}

body > #content {
    @include spacing(padding-top);
    @include spacing(padding-bottom);
}

body > footer {
    @extend .fullwidth;
    @extend .grid-page;
    position: relative;
    z-index: 1;
    @include spacing(padding-top);
    @include spacing(padding-bottom);
    border-top: 1px solid $color-surface;
    color: #999;
    a {
        color: #aaa;
    }
    a:hover {
        color: #ccc;
    }
    h5 {
        margin: 0 0 5px;
        font-size: 15px;
    }
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            margin: 0;
            padding: 0;
        }
    }
    .about,
    .featured {
        display: none;
        li {
            a {
                display: block;
                margin: 0 14px 7px 0;
                font-size: 14px;
                background-position: left center;
                background-repeat: no-repeat;
                .link-twitter {
                    padding-left: 20px;
                    background: url("#{$img-dir}/twitter_sm.png") no-repeat left center;
                }
            }
        }
    }
    .featured ul li {
    }
    #diorama {
        width: 100%;
        height: 20px; // Functions as padding
        div {
            position: absolute;
            background-image: url("#{$img-dir}/footer_diorama.png");
        }
    }
}

// Custom Classes

.dark {
    background-color: black;
    color: white;
    a {
        color: white;
        &:hover {
            color: lightgray;
        }
    }
}
.light {
    background-color: white;
    color: black;
    a {
        color: black;
        &:hover {
            color: rgb(46, 46, 46);
        }
    }
}
.red {
    color: $red;
    &:hover {
        color: #f17878;
    }
}

.access-button {
    border: 0;
    padding: 0;
    margin: 0;
    background-color: transparent;
    background-image: none;
    cursor: pointer;
}
.close-button {
    @extend .access-button;
    @extend .red;
    font-size: 2em;
}

.modal {
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: grid;
}
.modal-container {
    &.modal-enter {
        opacity: 0;
    }
    &.modal-enter-active {
        opacity: 1;
        transition: all 500ms;
    }
    &.modal-exit {
        opacity: 1;
    }
    &.modal-exit-active {
        opacity: 0;
        transition: opacity 500ms;
    }
}
.modal-overlay {
    width: 100%;
    height: 100%;
    z-index: 10; /* places the modal overlay between the main page and the modal content*/
    background-color: rgba(0, 0, 0, 0.95);
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    transition: all 0.3s;
}
.modal-content {
    width: auto;
    box-sizing: border-box;
    margin: 0.5rem;
    padding: 2rem;
    position: relative;
    z-index: 11; /* places the modal dialog on top of overlay */
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    background-color: white;
    h5 {
        margin-top: 0;
    }
    @media (min-width: $breakpoint-mobile) {
        margin: auto;
        max-width: 500px;
    }
}
.modal-close {
    position: absolute;
    z-index: 12;
    top: .5rem;
    right: .5rem;
}

.user {
    height: 20px;
    line-height: 20px;
    .user-username {
        display: inline-block;
        vertical-align: middle;
    }
    .user-avatar.thumbnail {
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
    }
}
.user-avatar {
    &.big img {
        width: 144px;
        height: 144px;
    }
    &.icon img {
        width: 48px;
        height: 48px;
    }
    &.thumbnail img {
        width: 20px;
        height: 20px;
    }
}
