
#editpg {}

#editpg INPUT[type=text], #editpg TEXTAREA, #editpg SELECT {
	margin: 1px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
#editpg INPUT[type=text].foc, #editpg TEXTAREA.foc, #editpg SELECT.foc {
	border: 2px solid #39F;
	margin: 0 !important;
}
#editpg INPUT[type=button], #editpg INPUT[type=submit], #editpg INPUT[type=reset] {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

#editpg DL { margin:0 0 20px; padding:0; }
#editpg DL DT {
	float: left;
	width: 150px;
	margin: 0;
	padding: 10px 10px;
	font-weight: bold;
	font-size: 15px;
	text-align: right;
	background-color: #EEE;
	-moz-border-radius: 3px 0 0 3px;
	-webkit-border-radius: 3px 0 0 3px;
}
#editpg DL DD {
	position: relative;
	margin: 0 0 0 170px;
	padding: 10px;
	border-left: 3px solid #CCC;
	background-color: #F5F5F5;
}
#editpg DL DD:first-child {}
#editpg DL DD:last-child {}
#editpg DL DD.help {
	margin-bottom: 0;
	padding: 8px 10px;
	font-size: 12px;
	color: #666;
	line-height: 18px;
	background-color: transparent;
	border-color: #DDD;
}
#editpg DL DD.help.hidden { display:none; }
#editpg DL DD.help CODE { padding:0 .5em; color:black; }
#editpg DL DD.tool {
	margin-bottom: 0;
	border-color: #FFEE8C;
	background-color: #FFC;
}
#editpg DL DD.tool TH {
	font-weight: normal;
	font-size: 14px;
	color: #555;
	text-align: right;
	vertical-align: top;
}
#editpg DL DD.tool TD { padding:0 0 10px 10px; }
#editpg DL DD.tool-item { padding: 6px 10px; }
#editpg DL DD.tool-item > TEXTAREA { display:none; }
#editpg DL DD.null {
	border-left: 1px dashed #CCC;
	font-size: 15px;
	font-style: italic;
	color: #CF3030;
	background-color: white;
}
#editpg DL DD.null:last-child { border-bottom:1px dashed #CCC; }

#editpg DL DD.item-pub .pubimg { float:left; }
#editpg DL DD.item-pub .pubimg-new { width:80px; height:100px; border:1px dashed #DDD; background:white url(/bin/img/icons/star_new.png) no-repeat 50% 50%; }
#editpg DL DD.item-pub .pubdata { margin-left:95px; }
#editpg DL DD.item-pub P { margin:5px 0 0; }

#editpg .fw { padding-right:16px; }
#editpg .fw TEXTAREA { width:100%; }



#editpg UL {
	margin: 0 0 3px;
	padding: 0;
	list-style: none;
}
#editpg UL LI {
	margin: 0;
	padding: 0 0 0 15px;
	background: url(/bin/img/bullet.png) no-repeat 2px .5em;
}

#editpg FIELDSET { -moz-border-radius: 3px; -webkit-border-radius: 3px; }

#pubform {
	display: none;
	position: fixed;
	top: 100px;
	left: 200px;
}
#pubform .container {
	display: block;
	width: 600px;
	padding: 15px;
	font-size: 14px;
	background-color: #F5F5F5;
	border: 1px solid black;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: #666 1px 1px 3px 1px;
	-webkit-box-shadow: #666 1px 1px 3px 1px;
}
#pubform H5 {
	margin: -15px -15px 10px -15px;
	padding: 8px 15px;
	font-size: 16px;
	font-weight: bold;
	color: #444;
	background-color: #EEE;
	border-bottom: 1px solid #DDD;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
}

A.revert {
	padding: 0 6px 1px 13px;
	font-size: 12px;
	text-decoration: none;
	color: #888;
	border-width: 1px;
	border-style: solid;
	border-color: #EEE #DDD #DDD #EEE;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background: #EEE url(/bin/img/arrow-small-gray-left.png) no-repeat 3px 50%;
}

.warn-box {
	margin: 1em 0;
	padding: 10px 15px;
	background-color: #FFC;
	border: 1px solid #FFFF80;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	font-size: 14px;
	line-height: 20px;
}

#pgnav .watch DIV {
	padding: 5px 15px;
	font-size: 14px;
}

DL.credits .notesmsg { visibility:hidden; }
DL.credits DD.null + DD.tool-item .notesmsg { visibility:visible !important; }

.pgattrch { display:none; margin:2px 0 5px; padding:0 0 0 10px; border-left:2px solid #CCC; font-size:13px; }