
#ile-msg {
	position:fixed; z-index:104; bottom:-70px; left:0;
	width:100%;
}
#ile-msg .container {
	display: block;
	margin: 0;
	padding: 15px 15px 15px 35px;
	font-size: 15px;
	color: #444;
	border-top: 1px solid #777;
	background-color:white;
	box-shadow:0 25px 30px 20px black; -moz-box-shadow:0 25px 30px 20px black; -webkit-box-shadow:0 25px 30px 20px black;
}
#ile-msg .message {
	display: none;
	width: 133px;
	padding: 5px;
	position: absolute;
	right: 9px;
	bottom: 63px;
	font-size: 16px;
	text-align: center;
	border: 2px solid black;
	background-color: white;
}
#ile-msg .message IMG {
	position: absolute;
	right: 50%;
	top: 48px;
}

#ile-submit {
	display:none;
	float:right;
	width:147px;
	margin:-6px -6px 0 0;
	font-weight:bold;
	font-size:16px;
	color:#333;
}
	
.editmode .il, .editmode .il .editable-null {
	padding:0 2px;
	cursor:pointer;
	text-decoration:none;
	background:url(/bin/img/white-striped-bg-inv.png);
	border-bottom:2px solid white;
}
.editmode .il-hover {
	background-color: #FFFF91 !important
}
.il-hidden, .il-hidden-block {
	display: none;
}
.editmode .il A {}

#ile DL {
	display:none;
	position:absolute; left:0; z-index:102;
	max-width:700px;
	margin:-10px 0 0 -10px; padding:20px;
	background-color:white;
	border-width:2px 4px 4px 2px; border-style:solid; border-color:#333;
}
#ile DL > * { margin:0; padding:15px 0; }
#ile DL DT {
	padding-top:0;
	font-weight:bold; font-size:130%; color:#666;
}
#ile .ui-draggable DT { cursor:move; }
#ile DD { border-color:#DDD; border-style:solid; border-width:1px 0 0; }
#ile DT + DD { border-top-color:#CCC !important; }
#ile DD.help { padding:10px 15px; background-color:#F5F5F5; font-size:90%; }
#ile DL TEXTAREA, #ile DL INPUT[type=text], #ile DL SELECT {
	margin: 0;
	font-size: 13px;
	border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px;
}
#ile DL INPUT[type=text] { font-family:arial; }
#ile DL P { margin:5px 0 0; }
#ile DL DD.ok { padding-bottom:0; }
#ile DL INPUT[type=button] {
	font-size:110%;
	border:radous:2px; -moz-border-radius:2px; -webkit-border-radius:2px;
}

#ile .fw { margin-right:6px; }
#ile .fw > TEXTAREA, #ile .fw > INPUT[type='text'] { width:100%; }

TABLE#ILres {}
#ILres TD { vertical-align:top; }
#ILres TR.bottomflush TD { border-bottom-style:dashed; }

#ile-details { position:absolute; top:-35px; right:0; }
#ile-details UL { margin:0; padding:0; list-style:none; }
#ile-details LI { margin:0; padding:0; float:left; }
#ile-details A { display:block; margin:0 5px 0 0; padding:3px 8px; }

.ileeditbutton {
	position:absolute; z-index:5;
	display:block;
	padding:8px 12px !important;
	font-size:110%; font-weight:bold; color:#06C;
	background-color:#E0E0E0 !important;
	opacity:.9;
}

.ilebuttons { text-align:right; }
.ilebuttons INPUT { width:145px; text-align:center; font-size:110%; padding-top:4px; padding-bottom:4px; }
.ilebuttons P { margin:5px 0; }
.ilebuttons A { color:#E21D1D; }

#credits .placeholder {
	height:60px; background:#333 url(/bin/img/icons/sprites/digdug_rawr.png) no-repeat 10px 10px;
	border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;
	-moz-box-shadow:inset 0 0 20px 0 black;
}
#credits .ui-sortable-helper { opacity:.9; }

.pgt-game .addbutton {
	display:block;
	float:left;
	padding:5px 15px;
	font-size:110%; text-decoration:none;
	border:1px solid #CCC;
	border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;
}
.pgt-game .addcredit:HOVER { background-color:white; border-color:white; }

.item-pub,
#ile-publications .tool {
	padding:15px !important;
	background-color:#F5F5F5;
	border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;
}
#ile-publications .tool { background-color:#FFFFBB; }
.item-pub .pubimg {
	min-height:140px;
	float:left;
	margin:-15px 0 -15px -15px; padding:20px 20px 23px;
	background:url(/bin/img/bg-wood.jpg) repeat-y left bottom;
}
.item-pub .pubimg-new { width:138px; height:140px; border:1px outset black; background:black url(/bin/img/icons/question_block.png) no-repeat 50% 50%; opacity:.6; }
.item-pub .pubdata { margin:10px 0 0 190px; }
