<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
    <header id="header" data-username="{{session.username}}"></header>

    <div id="content">{% block content %}{% endblock %}</div>
    
    <div id="footer">
        {% block footer %}
        <div id="colophon"></div>
        {% endblock %}
    </div>

    {% block scripts %}
    <script src="/javascript/app_bundle.js"></script>
    <script src="/javascript/vendor_bundle.js"></script>
    {% endblock %}
</body>
</html>