<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <!-- <link rel="stylesheet" href="style.css" /> -->
            <title>{% block title %}{% endblock %}</title>
        {% endblock %}
    </head>
    <body>
        <header>
            <div id="login">
                {% if session.logged_in %}
                    Hello {{session.username}}! 
                    <a href="/login.php?do=logout">Log Out</a>
                {% else %}
                Hello Guest!
                    <a href="/login.php">Log In</a> | <a href="/register.php">Register</a>
                {% endif %}
            </div>
            <div id="search"></div>
        </header>

        <div id="content">{% block content %}{% endblock %}</div>
        
        <div id="footer">
            {% block footer %}{% endblock %}
        </div>

        {% block scripts %}
        <!-- Load React. -->
        <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
        <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>

        <!-- Load our React component. -->
        <script src="/javascript/search.js"></script>
        {% endblock %}
    </body>
</html>