
H3 {
	margin: 0 0 8px !important;
	padding: 0 !important;
	font-size: 20px !important;
	color: black;
	border-width: 0 !important;
}
H4 {
	margin: 0 !important;
	padding: 0 !important;
	font-size: 16px !important;
	font-weight: normal;
	color: #666;
	border-width: 0 !important;
}
	
#new-news {}

#new-news FORM > UL { list-style:none; }
#new-news FORM > UL LI { margin:5px 0; padding:0 0 0 12px; background:url(/bin/img/arrow-small-gray-right.png) no-repeat left center; font-size:15px; color:#666; }

#new-news FORM {}
#new-news FORM P, FORM#new-news P {
	display: block;
	margin: 3px 0 0; }
#new-news .forms { margin-top:12px; }
#new-news .forms.tt { margin:0; }
#new-news .example { display:none; margin:5px 0 10px; padding:10px; background-color:#F5F5F5; }
#new-news FORM INPUT[type=text], #new-news FORM TEXTAREA {
	margin:1px; padding:3px;
	font-size:13px; font-family:Arial;
	border-width:1px; border-style:solid; border-color:#666 #BBB #BBB #666;
	background-color:white;
	border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;
}
#new-news FORM TEXTAREA {
	font-size:13px; font-family:monospace !important;
}
#new-news FORM INPUT[type=button], #new-news FORM INPUT[type=submit], #new-news FORM BUTTON {
	border-color:#DDD #AAA #AAA #DDD;
	border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;
}
#new-news FORM INPUT[type=button].over, #new-news FORM INPUT[type=submit].over, #new-news FORM BUTTON.over {
	border-color:#666;
}
#new-news FORM INPUT[type=button].down, #new-news FORM INPUT[type=submit].down, #new-news FORM BUTTON.down {}
#new-news .sub {
	margin:2px 0 0; padding:0 0 0 25px;
	background:url(/bin/img/arrow-down-right.png) no-repeat 12px 3px; }
#new-news .inpfw {
	margin-right:12px !important;
}

#new-news #tagarea B {
	color: #333;
	font-weight: normal;
}
#new-news .inp-heading-text {
	height: 48px;
}

#new-news DL { margin:0; }
#new-news DL DT { margin:15px 0 0; font-size:15px; font-weight:bold; }
#new-news DL DD { margin:5px 0 0 20px; color:#444; line-height:18px; }
#new-news DL DT + DD { font-size:14px !important; color:black !important; }
#new-news DL INPUT { margin:0 4px 0 2px; vertical-align:middle; }

#formtable {
	margin: 15px 0 15px;
}
#formtable TH.ft, #formtable TD.ft {
	padding: 30px 0 0 0;
	vertical-align: top;
}
#formtable TR:first-child TH.ft, #formtable TR:first-child TD.ft {
	padding-top: 0;
}
#formtable TH.ft {
	white-space: nowrap;
}
#formtable TH.ft > DIV {
	padding: 0 5px;
	font-size: 20px;
	color: white;
	background-color: #97D623;
	border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;
}
#formtable TD.ft {
	width: 100%;
	padding-left: 10px;
	color: #555;
}
#formtable .required {
	color: #DF2520;
}
#formtable LABEL {
	color: #444;
}

.formtable .forms {
	display: none;
}

#selconttype { margin:10px 0; }
#selconttype li a { text-decoration:none; color:#888; }
#selconttype li a span { display:block; padding-left:20px; background-position:left center; background-repeat:no-repeat; }

/*.selection { height:26px; }
.selection ul { margin:0; padding:0; list-style:none; }
.selection li { margin:0; padding:0; float:left; }
.selection li > * {
	display:block;
	margin:1px 9px 1px 1px; padding:4px 9px;
	text-decoration:none; color:#888;
	background-color:#EEE;
	border:1px solid #DDD; border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px;
}
.selection li > a:hover { border-color:#AAA; color:#666; }
.selection li > .on { border-color:#AAA; background-color:white !important; color:black !important; }

#selconttype {
	height:30px;
	margin:30px 0 0; padding:0;
}
#selconttype a {
	margin:1px 10px 0 0; padding:6px 18px 6px 35px;
	font-size:15px;
	background-position:11px center; background-repeat:no-repeat; background-color:#DDD;
	border-width:0; border-radius:2px 2px 0 0; -moz-border-radius:2px 2px 0 0; -webkit-border-radius:2px 2px 0 0;
}
#selconttype a:hover { border-color:#CCC; }
#selconttype a.on { border-color:#CCC #CCC white; }*/

#inpform { margin:0 0 20px; }

#star-rating {}
#star-rating > SPAN {
	display: block; 
	width: 78px; 
	height: 16px; 
	background: url(/bin/img/star_rating_.png) no-repeat 0 0;
}
#star-rating > SPAN > SPAN {
	display: block;
	float: left;
	width: 15px;
	height: 16px;
	overflow: hidden;
	text-indent:-5000px;
}

#ttype-review { margin:10px 0 0; }

#ttype-review A.on .hideonfocus { display:none; }
#ttype-review A INPUT {
	display: none !important;
	width: 180px;
	margin: 0 !important; 
	padding: 1px 0 !important; 
	font: normal 11px monospace !important;
	border-width: 0 !important; 
	background-color: transparent !important;
}
#ttype-review A.on INPUT {  display:inline !important; }

.type-quote #inp-text {
	background: #F5F5F5 url(/bin/img/big_quotes.png) no-repeat 8px 8px;
}

.selgroup-blurred {
	display: none !important;
}

OL#uploadedimgs { margin:0; padding:0; list-style:none; }
#uploadedimgs LI { height:52px; margin:0 0 10px; padding:5px 10px; background-color:white; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; }
#uploadedimgs IFRAME { width:100%; height:52px; }
#uplimgform .loading,
#uploadedimgs .loading { display:block; margin:20px 0; background:url(/bin/img/loading_arrows_blue.gif) no-repeat left center; padding-left:20px; font-size:15px; color:#999; }

.imgcapt { padding:0 2px 1px !important; font:normal 13px arial; text-decoration:none; color:black; border-width:0 0 1px; border-style:solid; border-color:#CCC; }
A.imgcapt:HOVER { background-color:#FFFFB3; }

.imgrecd {
	position:relative;
	height:52px;
	font-size:14px;
	line-height:24px;
}

#uplimgformspace { height:125px; margin:10px 0; }
#uplimgform {
	display:none;
	position:absolute;
	left:53px;
	padding:5px 10px;
	line-height: 2em;
	background-color:#DDD;
	border-width:1px;
	border-style:solid;
	border-color:#D6D6D6 #BBB #BBB #D6D6D6; 
	border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;
}

.buttons INPUT {
	padding-top: 3px;
	padding-bottom: 3px;
	font-size: 120%;
}

#postopts H4 { margin: 15px 0 5px !important; }
#postopts H3 + H4 { margin-top:5px !important; }

.suggested-tags { display:block; margin:6px 0 0; padding:6px 0 0; border-top:1px solid #CCC; }

#imgdisp A { display:block; float:left; margin:1px 11px 1px 1px; padding:5px; border:1px solid #D0D0D0; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; opacity:.6; }
#imgdisp A.on { margin:0 10px 0 0; border:2px solid #666; opacity:1 !important; }
#imgdisp A:HOVER { border-color:#888; opacity:.8; }

#uplhimgform {
	display:none;
	position:fixed; z-index:100; right:0; bottom:0; left:0;
	padding:30px;
	background-color:white;
	border-top:3px solid #179434;
}
#uplhimgform h5 { margin:0; padding:0 0 0 20px; font-size:30px; color:#179434; background:url("/bin/img/plus_green.png") no-repeat 0 0; }
#uplhimgform p { margin:.75em 0 !important; }
#uplhimgform .loading { padding-left:20px; font-size:15px; background:url(/bin/img/loading_arrows_blue_ddd.gif) no-repeat left center; }