@use "sass:color";

$blue: #3399ff;
$lightblue: #66b3ff;
$darkblue: #336699;
$red: #dd3333;
$green: #00a264;
$purple: #6b3ea8;
$color-body: rgb(24, 25, 26);
$color-surface: rgb(36, 37, 38);
$color-comment: rgb(58, 59, 60);

$img-dir: "../images";

// Breakpoint settings and methods

$breakpoints: (
    "mobile": 640px,
    "tablet": 768px,
    "screen": 1024px,
    "omnivision": 1200px,
);
@mixin breakpoint($view) {
    @if $view == mobile {
        @media (max-width: map-get($breakpoints, "mobile")) {
            @content;
        }
    } @else if $view == omnivision {
        @media (min-width: map-get($breakpoints, "omnivision")) {
            @content;
        }
    } @else {
        @media (min-width: map-get($breakpoints, "mobile") + 1px) {
            @content;
        }
    }
}

// Spacing settings and methods

$spacing-mobile: 1rem;
$spacing-monitor: 3.5rem;

@mixin spacing($prop) {
    #{$prop}: $spacing-mobile;
    @include breakpoint(screen) {
        #{$prop}: $spacing-monitor;
    }
}

// Fonts and typography styles

// Used as default layout font (not monospaced)
@font-face {
    font-family: "Pixel Emulator";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/PixelEmulator.woff") format("woff");
}
// Used for monospaced type
@font-face {
    font-family: "Press Start";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/prstart.woff") format("woff"), url("../fonts/prstartk.woff") format("woff");
}
@font-face {
    font-family: "Press Start 2P";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/press-start-2p-v9-latin-regular.woff2") format("woff2");
}
@font-face {
    font-family: "Emulogic";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Emulogic.woff2") format("woff2");
}
@font-face {
    font-family: "Yoster Island";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/YosterIslandRegular.woff2") format("woff2");
}
@font-face {
    font-family: 'Bc.BMP07_A';
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Bc.BMP07_A.woff");
}
@font-face {
    font-family: 'Bc.BMP07_K';
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Bc.BMP07_K.woff");
}
@font-face {
    font-family: 'Nineteen Ninety Seven';
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/NineteenNinetySeven.woff");
}
@font-face {
    font-family: 'Barcade Brawl';
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/barcadebrawl.woff");
}
@font-face {
    font-family: 'Super Legend Boy';
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/superlegend.woff");
}

.type-retro {
    font-family: "Pixel Emulator";
    font-weight: normal;
    letter-spacing: 0;
}

// Top Level (Global)

:root {
    font: normal 100% sans-serif;
    font-size: calc(100vw / 25);
    color: white;
    @include breakpoint(screen) {
        font-size: calc(100vw / 70);
    }
    @include breakpoint(omnivision) {
        font-size: 17.1333px;
    }
}

a,
.a {
    color: $blue;
    text-decoration: underline;
    cursor: pointer;
    &:active {
        color: $purple;
    }
    &:hover {
        color: $lightblue;
        border-color: $lightblue;
    }
}

fieldset {
    margin-left: 0;
    margin-right: 0;
    padding: 5px 10px 10px 10px;
    border: 1px solid #ccc;
}
legend {
    color: #666;
}
.inputitem {
    border-radius: 0.1em;
    margin: 0;
    padding: 0.3em 0.5em;
}
input[type="text"],
input[type="password"],
textarea,
select,
.inputfield {
    border-width: 1px;
    border-style: solid;
    border-color: #666 #bbb #bbb #666;
    background-color: white;
    outline: none;
    background: white;
    background: linear-gradient(#e0e0e0, white 3px);
    @extend .inputitem;
}
textarea {
    font-family: monospace;
}
select {
    padding: 2px;
}
optgroup {
    padding-top: 2px;
    font-weight: normal;
    font-style: italic;
    color: #777;
    background-color: #eee;
}
optgroup > option {
    padding-left: 20px;
    background-color: #fff;
    color: black;
}
optgroup > option:first-child {
    margin-top: 2px;
}
button,
.button-text,
.button-link {
    @extend .inputitem;
    cursor: pointer;
    border: 1px solid transparent;
    padding-right: 1em;
    padding-left: 1em;
    color: white;
    background-color: transparent;
    background: none;
    &:hover {
        background-color: $color-surface;
    }
    & + button {
        margin-left: 1em;
    }
}
.light {
    .button-text,
    .button-link {
        color: black;
        &:hover {
            background-color: rgba(0, 0, 0, 0.04);
        }
    }
}
%button-contained-bg {
    background: -moz-linear-gradient(top, #eee 50%, #ddd 50%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #eee), color-stop(50%, #ddd));
}
.button-contained {
    color: #444;
    text-shadow: 0 -1px #dadada, 0 1px #eee;
    @extend %button-contained-bg;
    border-color: #ddd #aaa #aaa #ddd;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    &:hover {
        border-color: #777;
        @extend %button-contained-bg;
    }
    &:active,
    &.active {
        box-shadow: none;
        background: #ddd;
        border-color: #aaa #ccc #ccc #aaa;
    }
    &[disabled="disabled"] {
        color: #bbb;
        cursor: not-allowed;
    }
}
.button-link {
    @extend .a;
}
.button-color-primary {
    background: $blue;
    border-color: $darkblue;
    color: white;
}
.button-color-green {
    background: $green;
    border-color: color.scale($green, $lightness: -15%);
    color: white;
}
.button-color-red {
    background: $red;
    border-color: color.scale($red, $lightness: -15%);
    color: white;
}
.button-color-light {
    @extend .light;
}
.button-color-dark {
    @extend .dark;
}
.button-close {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 2em;
    @extend .red;
    &:hover {
        background: transparent;
    }
}

img {
    vertical-align: middle;
}

h1 {
    margin-top: 0;
    margin-bottom: 0.75em;
    font-family: "Pixel Emulator";
    font-size: 1.5em;
    font-weight: normal;
}
h2 {
    margin-bottom: 0.5em;
    font-weight: normal;
    color: whitesmoke;
}
h3 {
    margin: 1em 0 0.5em;
}
h4 {
    margin: 1em 0 0.5em;
}
h5 {
    margin: 1em 0 0.5em;
    font-size: 1.25rem;
}
h6 {
    margin: 1em 0 0.5em;
}

.dark {
    background-color: black;
    color: white;
    a {
        color: white;
        &:hover {
            color: lightgray;
        }
    }
}
.light {
    background-color: white;
    color: black;
    a {
        color: black;
        &:hover {
            color: rgb(46, 46, 46);
        }
    }
}
.red {
    color: $red;
    &:hover {
        color: #f17878;
    }
}

.modal {
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: grid;
}
.modal-container {
    &.modal-enter {
        opacity: 0;
    }
    &.modal-enter-active {
        opacity: 1;
        transition: all 500ms;
    }
    &.modal-exit {
        opacity: 1;
    }
    &.modal-exit-active {
        opacity: 0;
        transition: opacity 500ms;
    }
}
.modal-overlay {
    width: 100%;
    height: 100%;
    z-index: 10; /* places the modal overlay between the main page and the modal content*/
    background-color: rgba(0, 0, 0, 0.95);
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    transition: all 0.3s;
}
.modal-content {
    width: auto;
    box-sizing: border-box;
    margin: 0.5rem;
    padding: 2rem;
    position: relative;
    z-index: 11; /* places the modal dialog on top of overlay */
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    background-color: white;
    h5 {
        margin-top: 0;
    }
    @include breakpoint(screen) {
        margin: auto;
        max-width: 500px;
    }
}
.modal-close {
    position: absolute;
    z-index: 12;
    top: 0.3rem;
    right: 0.3rem;
}

.dropdown {
    position: relative;
    button.dropdown-toggle {
        &::after {
            content: "";
            display: inline-block;
            width: 0;
            height: 0;
            vertical-align: middle;
            border-top: 4px dashed #666;
            border-right: 4px solid transparent;
            border-left: 4px solid transparent;
            margin-left: 8px;
        }
    }
    .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        display: none;
        min-width: 0;
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: left;
        border-radius: 0;
        background-clip: padding-box;
    }
    &.open .dropdown-menu {
        display: block;
    }
    .dropdown-item {
        display: block;
        padding: .5em 1em;
        text-decoration: none;
        white-space: nowrap;
        cursor: pointer;
        &:hover {
            background-color: lightgray;
        }
        & > * {
            display: block;
            margin: -.5em -1em;
            padding: .5em 1em;
        }
    }
}

.user {
    height: 20px;
    line-height: 20px;
    .user-username {
        display: inline-block;
        vertical-align: middle;
    }
    .user-avatar.thumbnail {
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
    }
}
.user-avatar {
    &.big img {
        width: 144px;
        height: 144px;
    }
    &.icon img {
        width: 48px;
        height: 48px;
    }
    &.thumbnail img {
        width: 20px;
        height: 20px;
    }
}

.navmenu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    &:hover {
        .navmenu-caret {
            opacity: 0 !important;
        }
    }
}
    .navmenu-item {
        display: flex;
        align-items: center;
        .navmenu-caret {
            font-weight: bold;
            opacity: 0;
        }
        &.selected {
            .navmenu-caret {
                opacity: 1;
            }
        }
        &:hover {
            .navmenu-caret {
                opacity: 1 !important;
            }
        }
    }
    .navmenu-item * {
        margin: 0;
        padding: 0;
        font-family: "Pixel Emulator";
        font-size: 20px;
        font-weight: normal;
        text-decoration: none;
        letter-spacing: 0;
        outline: none;
        &:focus {
            text-decoration: underline;
        }
    }

// Page Layouts

// A template for fullwidth elements;
// Top-level <body> and other full-width elements.
.grid-page {
    display: grid;
    grid-template-columns: [margin-start] $spacing-mobile [narrow-gutter-start] $spacing-monitor - $spacing-mobile [wide-gutter-start] auto [wide-gutter-end] $spacing-monitor - $spacing-mobile [narrow-gutter-end] $spacing-mobile [margin-end];
    & > * {
        grid-column: narrow-gutter-start / narrow-gutter-end;
        @include breakpoint(screen) {
            grid-column: wide-gutter-start / wide-gutter-end;
        }
    }
}
.fullwidth {
    grid-column: margin-start / margin-end;
}

body {
    min-height: 100vh;
    box-sizing: border-box;
    padding: 0;
    background: {
        color: $color-body;
    }
    text-align: left;
    @extend .grid-page;
    grid-template-rows: min-content auto max-content;
    > header,
    > main,
    > footer {
        @include spacing(padding-top);
        @include spacing(padding-bottom);
    }
    > *:not(header):not(main):not(footer) {
        position: absolute; // Kick out any other elements from the grid, eg. browser module insertions
    }
}

body > header {
    @extend .fullwidth;
    @include spacing(padding-left);
    @include spacing(padding-right);
    background-color: $color-body;
    border-bottom: 1px solid $color-surface;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    & > *:first-child {
        flex-grow: 1;
    }
    & > nav {
        .navmenu-item * {
            font-family: 'Pixel Emulator';
            font-size: 1.5rem;
            color: rgb(224, 224, 224);
            text-decoration: none;
            background: none;
            &:hover,
            &:hover svg {
                background: none;
                color: white;
            }
        }
        & .hidden,
        &.exit-done .hidden {
            max-height: 0;
            opacity: 0;
            overflow: hidden;
            transition-property: max-height, opacity;
            transition-duration: 500ms;
        }
        &.enter .hidden {
            max-height: 100px; // Exceeds normal bounds
            opacity: 1;
        }
        &.enter-active .hidden,
        &.enter-done .hidden {
            max-height: 100px;
            opacity: 1;
        }
        &.exit .hidden {
            max-height: 0;
            opacity: 0;
        }
    }
    .button-header {
        box-sizing: content-box;
        padding-right: .3em;
        padding-left: .3em;
        height: 28px;
    }
}

%login-typography {
    font-family: "Press Start";
    font-size: 16px;
    letter-spacing: normal;
    line-height: 25px;
    text-decoration: none;
    text-transform: uppercase;
}
#login {
    .user-unknown {
        .user-username {
            display: none;
        }
    }
    .modal-content {
        margin-right: auto;
        margin-left: auto;
    }
}
#loginform {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    input {
        color: #666;
        border-width: 0;
        background: none;
        margin: 0;
        padding: 0;
        @extend %login-typography !optional;
    }
    & * {
        @extend %login-typography !optional;
    }
}
#loginform-rival {
    grid-row: 1;
    grid-column: 3 / 4;
    background: url("#{$img-dir}/loginform_rival.png") no-repeat 50% 50%;
}
#loginform-nav {
    grid-row: 1;
    grid-column: 1 / 3;
    li > * {
        @extend %login-typography !optional;
    }
}
#loginform-message, #loginform-input, #loginform-submit {
    grid-row: 2;
    grid-column: 1 / 4;
    @extend %login-typography !optional;
}
#loginform-input {
    grid-row: 3;
}
#loginform-login {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
    overflow: hidden;
    & > * {
        flex: 0 0 100%;
    }
}
#loginform-submit {
    grid-row: 4;
    display: flex;
    justify-content: flex-end;
}

body > #content {
    @include spacing(padding-top);
    @include spacing(padding-bottom);
}

body > footer {
    @extend .fullwidth;
    @extend .grid-page;
    position: relative;
    z-index: 1;
    @include spacing(padding-top);
    @include spacing(padding-bottom);
    border-top: 1px solid $color-surface;
    color: #999;
    a {
        color: #aaa;
    }
    a:hover {
        color: #ccc;
    }
    h5 {
        margin: 0 0 5px;
        font-size: 15px;
    }
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            margin: 0;
            padding: 0;
        }
    }
    .about,
    .featured {
        display: none;
        li {
            a {
                display: block;
                margin: 0 14px 7px 0;
                font-size: 14px;
                background-position: left center;
                background-repeat: no-repeat;
                .link-twitter {
                    padding-left: 20px;
                    background: url("#{$img-dir}/twitter_sm.png") no-repeat left center;
                }
            }
        }
    }
    .featured ul li {
    }
    #diorama {
        width: 100%;
        height: 20px; // Functions as padding
        div {
            position: absolute;
            background-image: url("#{$img-dir}/footer_diorama.png");
        }
    }
}
